<div class="main-container col2-right-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="row">
            <div class="col-main col-xs-12 col-sm-9">
            <div class="padding-s">
            <div class="page-title">
              <h1>Checkout</h1>
            <h3>Exisiting Customers <a href="#login-modal" data-toggle="modal" data-target="#login-modal">Login Here</a></h3>

            </div>
            <form action="/checkout" class="account-info" method="POST">
              <ol class="opc" id="checkoutSteps">
                <li id="opc-billing" class="section">
                  <div id="shipping_container">               
                    <div id="checkout-step-billing" class="step a-item">
                    <div class="step-title">
                      <h2>Shipping Information</h2>
                    </div>
                    <div id="co-billing-form" >
                    <div class="well">
                    <ul class="form-list">
                      <li id="billing-new-address-form">
                    <ul>
                      <li class="fields">
                        <div class="customer-name">
                          <div class="field name-firstname control-group error">
                            <label for="inputFirstName" class="required"><em>*</em>First Name</label>
                            <div class="input-box">
                            <input type="text" id="inputFirstName" name="first_name" placeholder="First name" title="First Name" maxlength="255" class="input-text required-entry"  />
                            <span class="control-label" for="inputError" id="errorFirstName">Error</span>
                            </div>
                          </div>
                          <div class="field name-lastname control-group error">
                            <label for="inputLastName" class="required"><em>*</em>Last Name</label>
                            <div class="input-box">
                            <input type="text" id="inputLastName" name="last_name" placeholder="Last name" title="Last Name" maxlength="255" class="input-text required-entry"  />
                            <span class="control-label" for="inputError" id="errorLastName">Error</span>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="fields">
                        <div class="field control-group error">
                          <label for="inputCompany">Company</label>
                          <div class="input-box">
                          <input type="text" id="inputCompany" name="company" placeholder="Company" title="Company" class="input-text " />
                          </div>
                        </div>
                      <div class="field control-group error">
                        <label for="inputEmail" class="required"><em>*</em>Email Address</label>
                        <div class="email input-box">
                          <input type="text" id="inputEmail" name="email" placeholder="Email" title="Email Address" class="input-text required-entry" />
                          <span class="form-error" id="errorEmail">Error</span>
                        </div>
                      </div>
                      </li>
                      <li class="wide">
                        <div class="field control-group error">
                          <label for="inputAddress" class="required"><em>*</em>Address</label>
                          <div class="input-box">
                          <input type="text" title="Street Address" id="inputAddress" name="address" placeholder="Address" class="input-text  required-entry" />
                          <span class="control-label" for="inputError" id="errorAddress">Error</span>
                          </div>
                        </div>
                      </li>
                      <li class="wide">
                        <div class="input-box">
                        <input type="text" title="Street Address 2" id="inputAddress2" name="address_2" placeholder="Address 2" class="input-text " />
                        </div>
                      </li>
                      <li class="fields">
                        <div class="field control-group error">
                          <label for="inputCity" class="required"><em>*</em>City</label>
                          <div class="input-box">
                          <input type="text" title="City" id="inputCity" name="city" placeholder="City" class="input-text  required-entry" />
                          <span class="control-label" for="inputError" id="errorCity">Error</span>
                          </div>
                        </div>
                        <div class="field control-group error">
                          <label for="inputState" class="required"><em>*</em>State/Province</label>
                          <div class="input-box">
                          <select class="input-xlarge" id="inputState" name="state"  placeholder="Choose State">
                              <option>State</option>
                          </select>
                          </div>
                        </div>
                      </li>
                      <li class="fields">
                        <div class="field control-group error">
                          <label for="inputPostalCode" class="required"><em>*</em>Zip/Postal Code</label>
                          <div class="input-box">
                          <input type="text" title="Zip/Postal Code" id="inputPostalCode" name="postal_code" placeholder="ZIP code" class="input-text validate-zip-international  required-entry" />
                        <span class="control-label" for="inputError" id="errorPostalCode">Error</span>
                        </div>
                        </div>
                        <div class="field">
                          <label for="inputCountry" class="required"><em>*</em>Country</label>
                        <div class="input-box">
                          <select id="inputCountry" name="country" class="validate-select" title="Country" >
                            <option>Country</option>
                          </select>
                        </div>
                        </div>
                      </li>
                      <li class="fields">
                        <div class="field control-group error">
                          <label for="inputPhone" class="required"><!--<em>*</em>-->Telephone</label>
                          <div class="input-box">
                          <input type="text" id="inputPhone" name="phone" placeholder="Phone" title="Telephone" class="input-text  required-entry"/>
                          <span class="control-label" for="inputError" id="errorPhone">Error</span>
                          </div>
                        </div>
                        <div class="field control-group error">
                          <label for="inputFax">Fax</label>
                          <div class="input-box">
                          <input type="text" id="inputFax" name="fax" placeholder="Fax" title="Fax" class="input-text  required-entry"/>
                          </div>
                        </div>
                      </li>
                                        <li class="control">
                      <input type="checkbox" data-related-item="billing-container" id="inputBillingEnabled" name="billing_enabled" value="1" title="Use Differnt Shipping Address" class="checkbox" />
                      <label for="shipping:same_as_billing">Different Billing Address</label>
                    </li>
                    </ul>
                    </div><!-- end well -->
                    </div>
                    </div>
                    </div><!-- end shipping container -->

                <li id="opc-billing" class="section">
                  <div id="billing-container">
                <div id="checkout-step-billing" class="step a-item">
                <div class="step-title">
                  <h2>Billing Information</h2>
                </div>
                  <ul class="form-list">
                  <li id="billing-new-address-form">
<div class="well">
                  <ul>
                    <li class="fields">
                      <div class="customer-name">
                        <div class="field name-firstname control-group error">
                          <label for="inputBillingFirstName" class="required"><em>*</em>First Name</label>
                            <div class="billing_first_name input-box">
                            <input type="text" id="inputBillingFirstName" name="billing_first_name" placeholder="First name" title="First Name" maxlength="255" class="input-text required-entry"  />
                             <span class="form-error" id="errorBillingFirstName">Error</span>
                          </div>
                        </div>
                        <div class="field name-lastname control-group error">
                          <label for="inputBillingLastName" class="required"><em>*</em>Last Name</label>
                          <div class="billing_last_name input-box">
                            <input type="text" id="inputBillingLastName" name="billing_last_name" placeholder="Last name" title="Last Name" maxlength="255" class="input-text required-entry"  />
                            <span class="form-error" id="errorBillingLastName">Error</span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="fields">
                      <div class="field control-group error">
                         <label for="inputBillingCompany">Company</label>
                        <div class="billing_company input-box">
                          <input type="text" id="inputBillingCompany" name="billing_company" placeholder="Company" title="Company" class="input-text required-entry" />
                          <span class="form-error" id="errorBillingCompany">Error</span>
                        </div>
                      </div>
<!--
                      <div class="field control-group error">
                        <label for="inputEmail" class="required"><em>*</em>Email Address</label>
                        <div class="email input-box">
                          <input type="text" id="inputEmail" name="email" placeholder="Email" title="Email Address" class="input-text required-entry" />
                          <span class="form-error" id="errorEmail">Error</span>
                        </div>
                      </div>
-->
                    </li>
                    <li class="wide">
                    <div class="field control-group error">
                      <label for="inputBillingAddress" class="required"><em>*</em>Address</label>
                      <div class="billing_address input-box">
                        <input type="text" title="Street Address" id="inputBillingAddress" name="billing_address" placeholder="Address" class="input-text  required-entry" />
                        <span class="form-error" id="errorBillingAddress">Error</span>
                      </div>
                    </div>
                    </li>
                    <li class="wide">
                      <div class="billing_address_2 input-box">
                        <input type="text" title="Street Address 2" id="inputBillingAddress2" name="billing_address_2" placeholder="Address 2" class="input-text " />
                      </div>
                    </li>
                    <li class="fields">
                      <div class="field control-group error">
                        <label for="inputBillingCity" class="required"><em>*</em>City</label>
                        <div class="billing_city input-box">
                          <input type="text" title="City" id="inputBillingCity" name="billing_city" placeholder="City" class="input-text  required-entry" />
                          <span class="control-label" for="inputError" id="errorBillingCity">Error</span>
                        </div>
                      </div>
                      <div class="field control-group error">
                        <label for="inputBillingState" class="required"><em>*</em>State/Province</label>
                        <div class="billing_state input-box">
                          <select class="input-xlarge" id="inputBillingState" name="billing_state" placeholder="Choose State">
                           <option>State</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="fields">
                      <div class="field control-group error">
                        <label for="inputBillingPostalCode" class="required"><em>*</em>Zip/Postal Code</label>
                        <div class="billing_postal_code input-box">
                          <input type="text" title="Zip/Postal Code" id="inputBillingPostalCode" name="billing_postal_code" placeholder="ZIP code" class="input-text required-entry" />
                          <span class="control-label" for="inputError" id="errorBillingPostalCode">Error</span>
                        </div>
                      </div>
                      <div class="field control-group error">
                        <label for="inputBillingCountry" class="required"><em>*</em>Country</label>
                        <div class="input-box">
                          <select class="input-xlarge" name="billing_country" id="inputBillingCountry" title="Country" placeholder="Choose Country" >
                            <option>Country</option>
                          </select>
                        </div>
                      </div>
                    </li>
                    <li class="fields">
                      <div class="field control-group error">
                        <label for="inputBillingPhone" class="required"><em>*</em>Telephone</label>
                        <div class="billing_phone input-box">
                          <input type="text" id="inputBillingPhone" name="billing_phone" placeholder="Phone" title="Telephone" class="input-text  required-entry"/>
                          <span class="control-label" for="inputError" id="errorBillingPhone">Error</span>
                        </div>
                      </div>
                      <div class="field">
                        <label for="inputBillingFax">Fax</label>
                        <div class="billing_fax input-box">
                          <input type="text" id="inputBillingFax" name="billing_fax" placeholder="Fax" title="Fax" class="input-text"/>
                        </div>
                      </div>
                      </div>
                    </li>
<!--                    <li class="fields" id="register-customer-password">
                      <div class="field control-group error">
                        <label for="inputPassword" class="required"><em>*</em>Password</label>
                        <div class="password input-box">
                          <input id="inputPassword" name="password" placeholder="Password" type="password" title="Password" class="input-text required-entry validate-password" />
                          <span class="control-label" for="inputError" id="errorPassword">Error</span>
                        </div>
                      </div>
                      <div class="field control-group error">
                        <label for="billing:confirm_password" class="required"><em>*</em>Confirm Password</label>
                        <div class="input-box">
                          <input type="password" name="" title="Confirm Password" id="" class="input-text required-entry validate-cpassword" />
                          <span class="control-label" for="inputError" id="errorPasswordConfirm">Error</span>
                        </div>
                      </div>
                    </li>
-->

                  </ul>
                </div><!-- end well -->
                </div>
                </li>
                <!-- end billing information -->
                    </li>
                    <li class="section">
                      <div class="step-title">
                        <h2>Choose Shipping Method</h2>
                      </div>
                      <div class="well">
                        <select name="shipping_method" class="shipping_method">
                          <option>Test</option>
                        </select>
                      </div>
                    </li>
                 <li class="section">
                      <div class="step-title">
                        <h2>Choose Payment Method</h2>
                      </div>
<div class="payment-class"></div>
                <div class="well">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="fa fa-credit-card creditcard-payment btn btn-primary active">
                                        <input type="radio" name="payment_method" id="inputPaymentMethod" value="creditcard" checked="checked"> Credit Card
                                    </label>
                                    <label class="fa fa-paypal paypal-payment btn btn-primary">
                                        <input type="radio" name="payment_method" id="inputPaymentMethod" value="paypal"> PayPal
                                    </label>
                                    <label class="google-payment fa fa-google-wallet btn btn-primary">
                                        <input type="radio" name="payment_method" id="inputPaymentMethod" value="google"> Google
                                    </label>
                                </div>
                                <span class="control-label" for="inputError" id="errorPaymentMethod">Error</span>
                            </div>
                        </div>
                    </div> 
                  </div>
            <div class="payment_container" payment_method="creditcard">
                     <div class="well">
                      <div class="payment-cards"><img src="images/i_visa.png" /><img src="images/i_mastercard.png" /><img src="images/i_amex.png" /></div>
                      <div class="row">
                      <div class="col-md-7">
                      <div style="margin:5px;padding:0;display:inline">
                      </div>
                      <div class="input-box">
                        <div class="col-xs-12">
                          <label class=""><em>*</em>Name on Card</label>
                          <input class="form-control" id="inputCardName" name="card_name" size="4" type="text" />
                          <span class="form-error control-group error" id="errorCardName">Error</span>
                        </div>
                      </div>
                      <div class="input-box">
                        <div class="col-xs-12 required">
                          <label class="control-label">Card Number</label>
                          <input autocomplete="off" class="form-control card-number" id="inputCardNumber" name="card_number" size="20" type="text" />
                          <span class="form-error control-group error" id="errorCardNumber">Error</span>
                        </div>
                      </div>
                      <div class="input-box">
                        <div class="col-xs-4 required">
                          <label class="control-label">Month</label>
                          <br><select class="input-small" id="inputCardMonth" name="card_month">
                          <option>12</option>
                          </select>
                        </div>
                        <div class="col-xs-4 required">
                          <label class="control-label">Year</label>
                          <br> <select class="input-small" id="inputCardYear" name="card_year">
                          <option>2013</option>
                         </select>
                        </div>
                        <div class="col-xs-4 form-group cvc required">
                          <label class="control-label">CVC/CVV</label>
                          <input autocomplete="off" class="form-control card_cvc" id="inputCardCVC" name="card_cvc" placeholder="ex. 311" size="4" type="text" />
                          <span class="form-error control-group error" id="errorCardCVC">Error</span>
                        </div>
                     </div>
                  </div>
                   <div class="col-md-5"><img class="img-thumbnail" src="images/card_security-code.jpg" /></div>
               </div>
                </div> <!-- end payment container -->
              </li>
              <li class="hidden-xs hidden-sm section">
                <div class="step-title">
                  <h2>Review And Submit Your Order</h2>
                </div>
                <div class="well hidden-sm">
                  <table id="shopping-cart-table" class="data-table cart-table">
                    <colgroup>
                    <col width="1">
                    <col>
                    <col width="1">
                    <col width="1">
                    <col width="1">
                    <col width="1">
                    <!--<col width="1">-->
                    </colgroup>
                    <thead>
                      <tr class="first last">
                        <th rowspan="1"><span class="nobr">Product Image</span></th>
                        <th rowspan="1"><span class="nobr">Product Name</span></th>
                        <th rowspan="1"></th>
                        <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
                        <th rowspan="1" class="a-center">Qty</th>
                        <th class="a-center" colspan="1">Subtotal</th>
                        <!--<th rowspan="1" class="a-center">&nbsp;</th>-->
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="cart first last odd">
                        <td><img class="image" src="products/images/100x100/simms-coldweather-ls-shirt.png" alt="Simms Coldweather Shirt Red" height="75" width="75"></td>
                        <td><h2 class="item-name"> Simms Coldweather Shirt Red</h2></td>
                        <td class="a-center"><a class="link" href="" title="Edit item parameters">Edit</a></td>
                        <td class="a-right"><span class="price"> <span class="item-price">$99.95</span> </span></td>
                        <!-- inclusive price starts here -->
                        <td class="a-center"><span class="item-quantity">2</td>
                        <!--Sub total starts here -->
                        <td class="a-right"><span class="price"> <span class="item-subtotal price">$199.90</span> </span></td>
                        <!--<td class="a-center last"><a  href="" title="Remove item" class="btn-remove btn-remove2">Remove item</a></td> -->
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="pull-right" style="margin: 10px 13px 10px 0;">
                      <table class="data-table cart-table">
                        <tbody>
                          <tr>
                            <td><span class="extra bold">Sub-Total :</span></td>
                            <td><span class="cart-subtotal bold">$101.00</span></td>
                          </tr>
                          <tr>
                            <td><span class="extra bold">Shippping</span></td>
                            <td><span class="bold cart-shipping">$11.00</span></td>
                          </tr>
                          <tr>
                            <td><span class="extra bold">Sales Tax:</span></td>
                            <td><span class="bold cart-tax">$21.00</span></td>
                          </tr>
                          <tr>
                            <td><span class="extra bold totalamout">Total :</span></td>
                            <td><span class="bold cart-total">$12000.68</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </li>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-success btn-lg btn-block submit-button" type="submit">Confirm order »</button>
                </div>
                  </div>
                  <!-- End bottom cart-->
                </div>
              </li>
            </ol>
            </form>
          </div>
        
        <!-- End Left -->
        <div class="col-xs-12 col-sm-3 sidebar-boxed s-features col-right sidebar">
        <!-- Start Sidebar Widgets -->
        <div class="sidebar-cart-overview">
            <strong>Sidebar cart broken</strong>
        </div>
        <!-- End Sidebar Widgets -->
                  </div>
                </div>
           <!-- END Right Side -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

