<div class="main-container col1-layout">
  <div class="container">
    <div class="well">
      <div class="page-title">
        <h1>Password Reset</h1>
        <h3>The password reset token in the URL is not valid.</h3>
        <p>Did you paste it incorrectly from the email we sent to you? Or maybe you asked for a password reset again after the email was sent which means this link is no longer valid.</p>
        <p><a href="/resetpassword" title="reset password">Click here</a> if you would like us to send you a new password reset link.</p>
      </div>
    </div>
  </div>
</div>

