<div class="main-container col1-layout">
  <div class="container">
    <div class="well">
      <div class="page-title">
        <h1>Password Reset</h1>
        <p>Please enter and confirm your new password below then click on 'Submit'</p>
      </div>
      <form name="resetconfirm" id="resetconfirm" method="post" data-toggle="validator" role="form">
        <div class="fieldset">
          <ul class="form-list">
            <li>
              <div class="form-group">
                <div class="form-errors" id="error-password"><span class="error">Error</span></div>
                <label for="password">Password</label>
                <div class="input-box">
                  <input name="password" id="password" title="Password" class="input-text form-control" data-minlength="8" data-toggle="validator" type="password" required="">
                  <span class="help-block">Minimum of 8 characters!</span>
                </div>
              </div>
            </li>
            <li>
              <div class="form-group">
                <div class="form-errors" id="error-confirm_password"><span class="error">Error</span></div>
                <label for="confirm_password">Confirm Password</label>
                <div class="input-box">
                  <input name="confirm_password" title="Confirm Password" id="confirm_password" class="input-text form-control" data-match="#password" data-match-error="Sorry these passwords don't match!" type="password" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
      </form>
    </div>
  </div>
</div>

