.error
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: #cc0000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.iconlinks
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #cc0000
}
#reviewnote
{
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    Z-INDEX: 100;
    BACKGROUND-IMAGE: url(../images/sticky_bg.gif);
    VISIBILITY: hidden;
    BORDER-LEFT: black 0px solid;
    WIDTH: 250px;
   /* CURSOR: hand; */
    BORDER-BOTTOM: black 0px solid;
    POSITION: absolute;
    HEIGHT: 250px
}
TEXTAREA.sticky
{
    BORDER-RIGHT: 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 11px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    BORDER-LEFT: 0px solid;
    WIDTH: 225px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px solid;
    HEIGHT: 175px
}
.ajbackground
{
    BORDER-RIGHT: #e4e4e4 1px solid;
    BORDER-TOP: #e4e4e4 1px solid;
    BORDER-LEFT: #e4e4e4 1px solid;
    BORDER-BOTTOM: #e4e4e4 1px solid;
    BACKGROUND-COLOR: #e9e9e9
}
.formbutton
{
    BORDER-TOP-WIDTH: 1px;
    FONT-WEIGHT: bold;
    BORDER-LEFT-WIDTH: 1px;
    FONT-SIZE: 11px;
    BORDER-LEFT-COLOR: #790601;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #790601;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #790601;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #cf1108;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #790601
}
