      <!--  start nav  -->
      <div class="header-row">
        <div style="position: relative; top: 0px;" class="move-block header">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <!--   navigation   -->
                <nav class="navbar navbar-green megadrop" role="navigation">
                  <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#greenmenu" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a href="/" class="navbar-brand"><i class="fa fa-home"></i></a> </div>
                  <!-- end navbar-header -->
                  <div id="greenmenu" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <!-- Mega Menu -->
                      <li class="dropdown megadrop-fw"><a href="/" data-toggle="dropdown" class="dropdown-toggle">Home</a>
                      <li class="dropdown megadrop-fw"><a href="/fly-fishing-gear" data-toggle="dropdown" class="dropdown-toggle">Fly Fishing Gear</a>
                        <ul class="dropdown-menu fullwidth" style="background-color:#fff";>
                          <li class="megadrop-content withoutdesc">
                            <div class="row">
                              <div class="col-sm-2">
                                <h3 class="title">Fly Fishing Gear</h3>
                                <ul>
                                  <li class="menu-s1-c1"><a class="menu-link" href="/"><i class="fa fa-chevron-right"></i> NEW!</a></li>
                                </ul>
                              </div>
                              <div class="col-sm-2">
                                <h3 class="title"><i class="fa fa-thumps-up"></i></h3>
                                <ul>
                                  <li class="menu-s1-c2"><a class="menu-link" href="/"><i class="fa fa-chevron-right"></i> Fly Boxes</a></li>
                                </ul>
                              </div>
                              <!-- end col-4 -->
                              <div class="col-sm-4">
                                <h3 class="title">Pro Gear Reviews</h3>
                                <ul class="media-list">
                                  <li class="media"><a href="#" class="pull-right"><img src="/images/menu-trout-small.jpg" alt="" width="70" class="img-thumbnail media-object"></a>
                                    <div class="media-body">
                                      <p>West Branch Angler has a team of pro guides and staff that use all of the top gear right here on on the Delaware River System.  Before you buy your fly fishing gear check this reviews out it might help you make a better buying decision.</p>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                              <!-- end col-4 -->
                              <div class="col-sm-4">
                                <h3 class="title">Gear By Species</h3>
                                <ul>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Trout</a></li>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Steelhead</a></li>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Salmon</a></li>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Bonefish</a></li>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Tarpon</a></li>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Bass</a></li>
                                </ul>
                              </div>
                              <!-- end col-4 -->
                            </div>
                            <!-- end row -->
                            <hr>
                            <!-- end row -->
                          </li>
                          <!-- megadrop-content -->
                        </ul>
                        <!-- dropdown-menu -->
                      </li>
                      <!-- mega menu -->
                      <!-- list elements -->
                      <li class="dropdown megadrop-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Fly Fishing Clothing</a>
                        <ul class="dropdown-menu half">
                          <li class="megadrop-content withoutdesc">
                            <div class="row">
                              <div class="col-sm-4">
                                <h3 class="title">Fly Fishing Clothing</h3>
                                <ul>
                                  <li class="menu-s2-c1"><a class="menu-link" href="/"><i class="fa fa-chevron-right"></i> NEW!</a></li>
                                </ul>
                              </div>
                              <div class="col-sm-4">
                                <h3 class="title"><i class="fa fa-thumbs-up"></i></h3>
                                <ul>
                                  <li class="menu-s2-c2"><a class="menu-link" href="/"><i class="fa fa-chevron-right"></i> NEW!</a></li>
                                </ul>
                              </div>
                              <!-- end col-4 -->
                              <div class="col-sm-4">
                                <h3 class="title">Clothing By Category</h3>
                                <ul>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Men's</a></li>
                                  <li><a href="#"><i class="fa fa-chevron-right"></i> Women's</a></li>
                                </ul>
                              </div>
                              <!-- end col-4 -->
                            </div>
                            <!-- end row -->
                            <hr>
                            <!-- end row -->
                          </li>
                          <!-- megadrop-content -->
                        </ul>
                        <!-- dropdown-menu -->
                      </li>
                      <!-- mega menu -->
                      <!-- list elements -->
                      <li class="dropdown megadrop-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Fly Tying</a> </li>
                      <!-- standard drop down -->
                      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Flies</a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">NEW!</a></li>
                          <li><a href="#">Browse All</a></li>
                          <li><a href="#">Dry Flies</a></li>
                          <li><a href="#">Nymphs</a></li>
                          <li><a href="#">Streamers</a></li>
                          <li><a href="#">Wet Flies</a></li>
                          <li><a href="#">Terrestrials</a></li>
                          <li><a href="#">Midges</a></li>
                        </ul>
                        <!-- end dropdown-menu -->
                      </li>
                      <!-- end standard drop down -->
                      <!-- grid view -->
                      <li class="dropdown megadrop-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Sale</a>
                        <!-- end dropdown-menu -->
                      </li>
                      <!-- end dropdown megadrop-fw -->
                      <li class="dropdown megadrop-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Gifts</a>
                        <!-- end dropdown-menu -->
                      </li>
                      <!-- end dropdown megadrop-fw -->
                      <li class="dropdown megadrop-fw"><a href="/about-pros">Pro Reviews</a>
                        <!-- end dropdown-menu -->
                      </li>
                      <!-- end dropdown megadrop-fw -->
                      <li class="dropdown megadrop-fw"><a href="/learning-center" >Learning Center</a>
                        <!-- end dropdown-menu -->
                      </li>
                      <li class="dropdown megadrop-fw"><a href="/blog">Blog</a>
                        <!-- end dropdown-menu -->
                      </li>
                      <!-- end dropdown megadrop-fw -->
                    </ul>
                    <!-- end nav navbar-nav -->
                    </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown dropdown-toggle"><a href="#" class="dropdown-toggle">Contact Us</a></li>
                    </ul>
                    <!-- end nav navbar-nav navbar-right -->
                  </div>
                  <!-- end #navbar-collapse-1 -->
                </nav>
                <!-- end navbar navbar-default megadrop -->
              </div>
            </div>
          </div>
        </div>
        <div style="position: relative; display: block; height: 0px;" class="pseudoStickyBlock"></div>
      </div>
    </div>
    <!--  end nav  -->
