<div class="main-container">
<div class="container">
<div class="well">
<div class="row">
  <!-- Blog Entries Column -->
  <div class="col-md-8">
    <h1> Page Heading <small>Secondary Text</small> </h1><br>
    <!-- First Blog Post -->
    <h2> <a href="/blog/view">Cool Flyfishing Blog</a> </h2>
    <p class="lead"> by <a href="">John Mead</a> </p>
    <p><span class="fa fa-clock-o"></span> Posted on August 28, 2013 at 10:00 PM</p>
    <hr>
    <img class="img-responsive" src="/images/900x300.gif" alt="">
    <hr>
    <p>Content</p>
    <a class="btn btn-primary" href="/blog/view">Read More <span class="fa fa-chevron-right"></span></a>
    <hr>
    <!-- Second Blog Post -->
    <h2> <a href="/blog/view">Cool Flyfishing Blog #2</a> </h2>
    <p class="lead"> by <a href="">Bill Miner</a> </p>
    <p><span class="fa fa-clock-o"></span> Posted on August 28, 2013 at 10:45 PM</p>
    <hr>
    <img class="img-responsive" src="/images/900x300.gif" alt="">
    <hr>
    <p>Content #2</p>
    <a class="btn btn-primary" href="/blog/view">Read More <span class="fa fa-chevron-right"></span></a>
    <hr>
    <!-- Third Blog Post -->
    <h2> <a href="/blog/view">Cool Flyfishing Blog #3</a> </h2>
    <p class="lead"> by <a href="">Sam Batschelet</a> </p>
    <p><span class="fa fa-clock-o"></span> Posted on August 28, 2013 at 10:45 PM</p>
    <hr>
    <img class="img-responsive" src="/images/900x300.gif" alt="">
    <hr>
    <p>Content #3</p>
    <a class="btn btn-primary" href="/blog/view">Read More <span class="fa fa-chevron-right"></span></a>
    <hr>
    <!-- Pager -->
    <ul class="pager">
      <li class="previous"> <a href="#">← Older</a> </li>
      <li class="next"> <a href="#">Newer →</a> </li>
    </ul>
  </div>
  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
  <div class="blog-sidebar">Sidebar is broken</div>
  </div>
</div>
</div>
