catalogs/site/catalog_local.cfg
catalogs/site/products/*.gdbm
catalogs/site/products/.*.autonumber
catalogs/site/products/.*.gdbm
catalogs/site/products/*.txt
catalogs/site/var/*
interchange/standard/products/.*.*
cgi-bin/site
htdocs/site/images/items
htdocs/robots.txt
htdocs/assetstore/site/images/items
httpd/
*.~*
interchange/standard/products/.*.*
interchange/error.log
interchange/interchange.cfg.dist
interchange/bin/interchange
interchange/etc/varnames
interchange/interchange_local.cfg
interchange/src/config.*
interchange/src/syscfg
interchange/src/tlink
interchange/src/tlink.127.0.0.1.*
interchange/src/vlink
interchange/src/vlink._*
interchange/standard/*
interchange/var/log/*
interchange/var/run/*
applications/Angler/bin/app.pl
applications/Angler/sql/*
solr/conf/db-connection.xml
solr/conf/scripts.conf
my.cnf
mysql.yml
nginx/
local/
/bin/
mysql/
nohup.out
etc/
var/
src/*
tmp/

# Backup files
*.bak
*.old
*.swp

