[submodule "nitesi"]
	path = nitesi
	url = git://github.com/racke/Nitesi.git
[submodule "nitesi-dbi"]
	path = nitesi-dbi
	url = git://github.com/racke/Nitesi-DBI.git
[submodule "nitesi-dancer"]
	path = nitesi-dancer
	url = git://github.com/racke/Dancer-Plugin-Nitesi.git

