[submodule "nitesi"]
	path = nitesi
	url = git://github.com/racke/Nitesi.git
[submodule "nitesi-dbi"]
	path = nitesi-dbi
	url = git://github.com/racke/Nitesi-DBI.git
[submodule "nitesi-dancer"]
	path = nitesi-dancer
	url = git://github.com/racke/Dancer-Plugin-Nitesi.git
[submodule "src/Plack"]
	path = src/Plack
	url = git://github.com/plack/Plack
[submodule "src/Nginx"]
	path = src/Nginx
	url = git://github.com/git-mirror/nginx.git
[submodule "src/Pcre"]
	path = src/Pcre
	url = git://github.com/AndreLouisCaron/pcre.git
[submodule "src/Starman"]
	path = src/Starman
	url = git://github.com/miyagawa/Starman.git
