catalogs/site/catalog_local.cfg
catalogs/site/products/*.gdbm
catalogs/site/products/.*.autonumber
catalogs/site/products/.*.gdbm
catalogs/site/products/.*.sql
catalogs/site/var/*
cgi-bin/site
htdocs/site/images/items
httpd/
interchange/bin/interchange
interchange/etc/varnames
interchange/interchange_local.cfg
interchange/src/config.*
interchange/src/syscfg
interchange/src/tlink
interchange/src/tlink.127.0.0.1.*
interchange/src/vlink
interchange/src/vlink._home_*_camp*_interchange_var_run_socket
interchange/var/log/*
interchange/var/run/*
my.cnf
mysql.yml
mysql/
