
a:link {color: #0000FF; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: #0000FF; text-decoration: underline; }
a:hover {color: #FF9900; text-decoration: none; }

.small {
	font-size: 9px;
}

/*style for Powered By text*/
.affstyle {
	font-size: 10px;
	text-align: center;
}


.medium {
	font-size: 12px;
}

.big {
	font-size: 16px;
}

.xbig {
	font-size: 24px;
}

.expanded {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 2px;
}

.justified {
	text-align: justify;
}

.footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #999999;
}

.box1 {
	padding: 3px;
	border-width: thin;
	border-style: solid;
	border-color: #CCCCCC #666666 #666666 #CCCCCC;
}

.box2 {
	font-style: italic;
	word-spacing: 2pt;
	padding: 3px;
	border-width: thin;
	border-style: solid;
}

ul {
	font-size: 12px;
	list-style-type: disc;
	list-style-position: outside;
}

li {
	font-size: 12px;
}

ol {
	font-size: 12px;
	list-style-type: upper-roman;
	list-style-position: outside;
}
.style2 {font-size: 10px}
.style3 {
	font-size: 12px;
	font-weight: bold;
}
.style4 {font-size: 12px}

.maintext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.category {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.searchhigh {
	font-weight: bold;
    color: red;
}

.index2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}


/*             styles for the star rater                */
.star-rating{
	list-style:none;
	margin: 0px;
	padding:0px;
	width: 100px;
	height: 20px;
	position: relative;
	background: url(images/star_rating_css.gif) top left repeat-x;		
}
.star-rating li{
	padding:0px;
	margin:0px;
	/*\*/
	float: left;
	/* */
}
.star-rating li a{
	display:block;
	width:20px;
	height: 20px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}
.star-rating li a:hover{
	background: url(images/star_rating_css.gif) left bottom;
	z-index: 1;
	left: 0px;
}
.star-rating a.one-star{
	left: 0px;
}
.star-rating a.one-star:hover{
	width:20px;
}
.star-rating a.two-stars{
	left:20px;
}
.star-rating a.two-stars:hover{
	width: 40px;
}
.star-rating a.three-stars:hover{
	width: 60px;
}
.star-rating a.three-stars{
	left: 40px;
}
.star-rating a.four-stars{
	left: 60px;
}	
.star-rating a.four-stars:hover{
	width: 80px;
}
.star-rating a.five-stars{
	left: 80px;
}
.star-rating a.five-stars:hover{
	width: 100px;
}
		
.radioOff, .radioOn {
	display: block;
	margin: 0px;
	width: 15px;
	height: 15px;
	float: left;
}
.radioOff {
	background: #fff url(images/off.gif) repeat-x 0% 0%;
}
.radioOn {
	background: #fff url(images/on.gif) repeat-x 0% 0%;
}
#ratingform br, #ratingform label span {
	display: none;
}
#ratingform {
	background-color: #fff;
}		
.index2-Orange {
	font-size: 16px;
	color: #FF8000;
	font-weight: bold;
}
.index2-summary {
font-size:14px;
color:#333333;
font-weight:bold;
}
.index2-small {
font-size:10px;
color:#333333;
}
.index2-small-bold {
font-size:10px;
color:#333333;
font-weight:bold;
}
.index2-table          {
	border-collapse: collapse;
	border: 1px solid blue;
	border-color: #666666;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
				   }
.index2-pagination {
	border-collapse: collapse;
	border: 1px solid blue;
	border-color: #666666;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	border-left: 0;
	border-right: 0;
}
.index2-criteria-table {
	border-collapse: collapse;
	border: 1px solid blue;
	border-color: #ffa500;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;

}
.submit-button {

   color:#ffa500;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#0099FF;
   border-left-color:#0099FF;
   border-right-color:#0099FF;
   border-bottom-color:#0099FF;
}
.rss-button {
border:1px solid;
border-color:#FC9 #630 #330 #F96;
padding:0 3px;
font:bold 10px verdana,sans-serif;
color:#FFF;
background:#F60;
text-decoration:none;
margin:0;
}
a.rss:link {color: #FFF; background: #F60; font-style: normal; text-decoration:none;}
a.rss:active {color: #FFF; background: #F60; font-style: normal; text-decoration:none;}
a.rss:visited {color: #FFF; background: #F60; font-style: normal; text-decoration:none;}
a.rss:hover {color: #FFF; background: #F60; font-style: italic; text-decoration:none;}

.index-table {
	border-collapse: collapse;
	border: 1px solid blue;
	border-color: #666666;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;

}
div.middle {text-align:center;width:100%; vertical-align:bottom;}
div.left {text-align:left;width:50%; margin: 1em auto; vertical-align:bottom; }

.container {
   position: relative;
  height: auto; 
   }
.right-element {
   float: right;
   width: 25%;
   text-align: left; /* depends on element width */
   }
   .left-element {
   float: left;
   width: 75%;
   }
.column1 {
 width:20%;
 float:left;
 background:yellow;
 margin-left:100px;
 position:absolute;
 margin: 1em auto;
 border-collapse: collapse;
	border: 1px solid blue;
	border-color: #666666;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}


/*FORM Display */

fieldset
{
	border: 1px solid #666666;
	/*width: 35em;*/
	width: 80%;
	padding: 1em;
	background:#FFFFFF;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

fieldset_wide
{
	border: 1px solid #781351;
	width: 80%;
	padding: 1em;
	background:#FFFFFF;
	margin-left: auto;
margin-right: auto;
text-align:left;
}

legend
{
	color: #000000;
	background: rgb(255,255,153);
	border: 1px solid #781351;
	padding: 2px 6px
} 



INPUT.TEXT{ 
  font-family:TrebuchetMS; 
  font-size:9pt; 
  font-weight:bold; 
  background-color:rgb(51,102,153);
  border-color:rgb(51,102,153); 
  border-style:inset; 
  border-width:3px; 
  color:rgb(255,255,255); 
} 


input.btn {
color: #00008B;
background-color: #ADD8E6;
border: 1px outset #00008B;
}
form p {
clear: left;
margin: 0;
padding: 0;
padding-top: 7px;
}
form p label {
float: left;
width: 60%;
font: bold 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input:focus, textarea:focus {
background: #ffc;
}

select {
	color: #333333;
	background-color: #FFFF99;
	border: 1px solid #00008B;
		
}
textarea {
	color: #00008B;
	background-color: #FFFF99;
	border: 1px solid #00008B;
}


/*Sample CSS used for the Virtual Pagination Demos. Modify/ remove as desired*/

.virtualpage, .virtualpage2, .virtualpage3{
/*hide the broken up pieces of contents until script is called. Remove if desired*/
display: none;
}

.paginationstyle{ /*Style for demo pagination divs*/
width: 250px;
text-align: center;
padding: 2px 0;
margin: 10px 0;
}

.paginationstyle select{ /*Style for demo pagination divs' select menu*/
border: 1px solid navy;
margin: 0 15px;
}

.paginationstyle a{ /*Pagination links style*/
padding: 0 5px;
text-decoration: none;
border: 1px solid black;
color: navy;
background-color: white;
}

.paginationstyle a:hover, .paginationstyle a.selected{
color: #000;
background-color: #FEE496;
}

.paginationstyle a.imglinks{ /*Pagination Image links style (class="imglinks") */
border: 0;
padding: 0;
}

.paginationstyle a.imglinks img{
vertical-align: bottom;
border: 0;
}

.paginationstyle a.imglinks a:hover{
background: none;
}

.paginationstyle .flatview a:hover, .paginationstyle .flatview a.selected{ /*Pagination div "flatview" links style*/
color: #000;
background-color: yellow;
}

.paginationrow{
	background-color: #EAEAEA;
	font-size:11px;
}

.paginationrow:hover{
	background-color:#FFFFCC;
	font-size:11px;
}

.paginationframe{
	BORDER-top: #DADEF1 1px dotted; 
	BORDER-bottom: #DADEF1 1px dotted; 
	BORDER-left: #DADEF1 1px dotted; 
	BORDER-right: #DADEF1 1px dotted;
}

#borderbox          {
	border-collapse: collapse;
	border: 1px solid blue;
	border-color: rgb(102,102,102); 
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
				   }
			   
#borderboxfixed          {
	border-collapse: collapse;
	border: 1px solid blue;
	border-color: #666666;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	width: 175px;
	float: inherit;
				   }

#borderboxrt         {
	border-collapse: collapse;
	border: 1px solid blue;
	border-color: #666666;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	float:right;
	position: relative; top: 30px;
	width: 350px;
				   }
				   
.formButton {
	width:75px;
}

/*index2.php page*/
.index2-small {
font-size:10px;
color:#333333;
}

.dhtmlgoodies_question {	/* Styling question */
	/* Start layout CSS */
	color:#3B3B3B;
	font-size:0.9em;
	background-color:#FFFFCC;
	width:160px;
	margin-bottom:2px;
	margin-top:5px;
	padding-top:5px;
	padding-left:2px;
	/*	background-image:url('images/bg_answer.gif'); */
	background-repeat:no-repeat;
	background-position:top right;
	height:20px;
	/* End layout CSS */
	
	overflow:hidden;
	cursor:pointer;
}
.dhtmlgoodies_answer {	/* Parent box of slide down content */
	/* Start layout CSS */
	border:1px solid #35332F;
	background-color:#E2EBED;
	width:50%;
	padding-left:2px;
	padding-bottom:2px;
	/* End layout CSS */
	
	visibility:hidden;
	height:0px;
	overflow:hidden;
	position:relative;
}
.dhtmlgoodies_answer_content {	/* Content that is slided down */
	padding:1px;
	font-size:0.9em;
	position:relative;
}

/*for showing thumbnails */

.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color:  rgb(255,255,153);
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}




.rating_bar {
  width: 55px;
  background: url(./images/star_x_grey.gif) 0 0 repeat-x;
}

.rating_bar div {
  height: 12px;
  background: url(./images/star_x_orange.gif) 0 0 repeat-x;
}
