<div class="main-container col2-left-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="row">
            <div class="col-main col-xs-12 col-sm-9">
              <div class="padding-s">
                <div class="my-account">
                  <div class="page-title title-buttons">
                    <h1>Order <span id="inputOrderNumber"></span> - <span id="inputOrderStatus"></span></h1>
                   <!-- <div class="order-buttons"> <a href="" class="link-reorder">Reorder</a> <span class="separator">|</span> <a href="/account/my-orders/print" class="link-print" onClick="this.target='_blank';">Print Order</a> </div>
                 --> </div>
                  <dl class="order-info">
                    <dt>About This Order:</dt>
                    <dd>
                      <ul id="order-info-tabs">
                        <li class="current first last">Order Information</li>
                      </ul>
                    </dd>
                  </dl>
                  <p class="order-date"><span id="inputOrderDate"></span></p>
                  <div class="col2-set order-info-box">
                    <div class="col-1">
                      <div class="box">
                        <div class="box-title">
                          <h2>Shipping Address</h2>
                        </div>
                       <div class="shipping-address">
                        <p><span id="inputFirstName"></span> <span id="inputLastName"></span></p>
                        <p><span id="inputCompany"></span></p>
                        <p><span id="inputAddress"></span></p>
                        <p><span id="inputAddress2"></span></p>
                        <p><span id="inputCity"></span>, <span id="inputState"></span> <span id="inputPostalCode"></span></p>
                        <p><span id="inputCountry"></span></p>
                        <br />
                      </div> 
                     </div>
                    </div>
                    <div class="col-2">
                      <div class="box">
                        <div class="box-title">
                          <h2>Shipping Method</h2>
                        </div>
                        <div class="box-content"><span id="inputOrderShippingMethod"></span></div>
                      </div>
                    </div>
                  </div>
                  <div class="col2-set order-info-box">
                    <div class="col-1">
                      <div class="box">
                        <div class="box-title">
                          <h2>Billing Address</h2>
                        </div>
                       <div class="billing-address">
                         <p><span id="inputBillingFirstName"></span> <span id="inputBillingLastName"></span></p>
                         <p><span id="inputBillingCompany"></span></p>
                         <p><span id="inputBillingAddress"></span></p>
                         <p><span id="inputBillingAddress2"></span></p>
                         <p><span id="inputBillingCity"></span>, <span id="inputBillingState"></span> <span id="inputBillingPostalCode"></span></p>
                         <p><span id="inputBillingCountry"></span></p>
                         <br />
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="box box-payment">
                        <div class="box-title">
                          <h2>Payment Method</h2>
                        </div>
                        <div class="box-content">
                          <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="order-items order-details">
                    <h2 class="table-caption">Items Ordered </h2>
                    <table class="data-table" id="my-orders-table" summary="Items Ordered">
                      <colgroup>
                      <col span="1" style="width: 50%;">
                      <col span="1" style="width: 20%;">
                      <col span="1" style="width: 10%;">
                      <col span="1" style="width: 10%;">
                      <col span="1" style="width: 10%;">
                      </colgroup>
                      <thead>
                        <tr class="first last">
                          <th class="a-left">Product Name</th>
                          <th>SKU</th>
                          <th class="a-center">Price</th>
                          <th class="a-center">Qty</th>
                          <th class="a-right">Subtotal</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr class="subtotal first">
                          <td colspan="4" class="a-right"> Subtotal </td>
                          <td class="last a-right"><span id="inputOrderSubTotal">$134.25</span></td>
                        </tr>
                        <tr class="shipping">
                          <td colspan="4" class="a-right"> Shipping &amp; Handling </td>
                          <td class="last a-right"><span id="inputOrderShipping">$5.00</span></td>
                        </tr>
                        <tr>
                          <td colspan="4" class="a-right"> Tax </td>
                          <td class="last a-right"><span id="inputOrderSalesTax">$11.24</span></td>
                        </tr>
                        <tr class="grand_total last">
                          <td colspan="4" class="a-right"><strong>Grand Total</strong></td>
                          <td class="last a-right"><strong><span id="inputOrderTotal">$150.49</span></strong></td>
                        </tr>
                      </tfoot>
                      <tbody class="orderlines">
                        <tr>
                          <td class="name"></td>
                          <td class="sku"></td>
                          <td class="line-price"></td>
                          <td class="quantity"></td>
                          <td class="subtotal"></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="buttons-set">
                      <p class="back-link"><a href="/account/orders"><small>« </small>Back to My Orders</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-left sidebar col-xs-12 col-sm-3">
                <div class="account-menu">Account Menu Is Broken</div>
                <div class="block block-cart">
                  <div class="block-title">
                    <strong><span>My Cart</span></strong>
                  </div>

                  <div class="block-content">
                    <p class="empty">You have no items in your
                    shopping cart.</p>
                  </div>
                </div>
                <!--           <div class="block block-list block-compare last_block">
                <div class="block-title"> <strong><span>Compare Products </span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <p class="empty">You have no items to compare.</p>
                </div>
              </div>
               -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
