    <div class="main-container col2-right-layout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="main">
              <div class="breadcrumbs">
                <ul>
                  <li> <a href="/" title="Go to Home Page">Home</a> <span>&gt;</span> </li>
                  <li> <strong><a class="crumbs breadcrumb-link" href="/"></a></strong> <span class="sep">&gt;</span></li>
                </ul>
              </div>
              <div class="row">
                <div class="col-main col-xs-12 col-sm-9">
                  <div class="padding-s">
                    <div class="page-title category-title">
                      <h1>Search results for: <span class="category-name">Wading Boots</span></h1>
                    </div>
                    <div class="category-products">
                      <div class="toolbar">
                        <div class="listing-top">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="listing-results-number">Showing results
                                        <strong>
                                            <span class="pager_first_entry">1</span>-
                                            <span class="pager_last_entry">10</span>
                                        </strong> of
                                        <strong class="pager_total_entries">139</strong>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="pagination">
                                    <!--
                                        <li class="enable_pagination_first">
                                            <a class="pagination_first fa fa-angle-double-left" href="/" title="Previous"></a>
                                        </li>
                                    -->
                                        <li class="enable_pagination_previous">
                                            <a class="pagination_previous fa fa-caret-left" href="/" title="Previous"></a>
                                        </li>
                                        <li class="page">
                                            <a class="page_number" href="#">1</a>
                                        </li>
                                        <li class="page">
                                           <a class="page_number" href="#">2</a>
                                        </li>
                                        <li class="enable_pagination_next">
                                            <a class="pagination_next fa fa-caret-right" href="/"></a>
                                        </li>
                                    <!--
                                        <li class="enable_pagination_last">
                                            <a class="pagination_last fa fa-angle-double-right" href="/" title="Previous"></a>
                                        </li>
                                    -->
                                    </ul>
                                </div>
<!--
                                <div class="col-md-3">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">Show
                                            <select class="per_page form-control input-sm">
                                                <option selected="selected">10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                            </select>per page</div>
                                    </form>
                                </div>
</div>
                            <div class="row">
                                <div class="col-md-9 btn-group" role="group">
                                    <button aria-label="Grid" class="view btn btn-default" type="button" value="grid">
                                        <span aria-hidden="true" class="fa fa-th"></span>
                                    </button>
                                    <button aria-label="List" class="view btn btn-default" type="button" value="list">
                                        <span aria-hidden="true" class="fa fa-th-list"></span>
                                    </button>
                                    <button aria-label="Simple" class="view btn btn-default" type="button"
                                    value="simple">
                                        <span aria-hidden="true" class="fa fa-list"></span>
                                    </button>
                                    <button aria-label="Compact" class="view btn btn-default" type="button"
                                    value="compact">
                                        <span aria-hidden="true" class="fa fa-align-justify"></span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">Sort by
                                            <select class="order_by form-control input-sm">
                                                <option selected="selected" value="priority">Position</option>
                                                <option value="selling_price">Price</option>
                                                <option value="name">Name</option>
                                                <option value="sku">SKU</option>
                                            </select>
                                            <button class="btn btn-default order_direction" type="button" value="asc">
                                                <span class="fa fa-arrow-up"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
-->
                            </div>
                        </div>
                     </div>
                      <ul class="products-grid row first odd">
                        <li style="margin-bottom: 30px;" class="product-box item first col-xs-12 col-sm-4">
                          <div class="product-container">
                            <div class="products-image">
                              <a class="product-link" href="/" title="Patagonia Ultralight Wading Boot - Sticky">
                                  <img class="product-image" src="/products/images/200x200/patagonia-ultralight.png" alt="Patagonia Ultralight Wading Boot - Sticky">
                              </a>
                            <div class="new-product"><font color="#ffffff">NEW!</font></div>
                            <div class="discount"><font color="#ffffff">SALE!</font></div>
                            <div class="guides-choice"></div>
                         <!--     <div class="promotion"> <span class="new-product"> NEW</span> <span class="discount">15% OFF</span> </div>-->
                            </div>
                            <div class="product-shop">
                              <h2 class="product-name"><a class="product-link" href="/" title="Patagonia Ultralight Wading Boot - Sticky">Patagonia Ultralight Wading Boot - Sticky</a></h2>
                              <div class="price-box"> <span class="regular-price">$<span class="product-price">169.00</span> </span> </div>
                                <div class="price-box"> <span class="full-price">$<span class="lowest-price">69.00</span> </span> </div>
                               <div class="actions">
                                <form action="/cart" method="POST" name="cart">
                                <input type="hidden" name="sku" class="sku" value="">
                                <button class="btn btn-success add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                </form>
                               <!-- <ul class="add-to-links">
                                  <li><a title="Add to Wishlist" href="" rel="tooltip" class="link-wishlist">Add to Wishlist</a></li>
                                  <li><span class="separator">|</span> <a title="Add to Compare " href="" rel="tooltip" class="link-compare ">Add to Compare</a></li>
                                </ul> -->
                              </div>
                            </div>
                            <div class="label-product"> </div>
                            <div class="clear"></div>
                          </div>
                        </li>
                     </ul>
                     <div class="toolbar-bottom">
                        <div class="toolbar">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="listing-results-number">Showing results
                                        <strong>
                                            <span class="pager_first_entry">1</span>-
                                            <span class="pager_last_entry">10</span>
                                        </strong> of
                                        <strong class="pager_total_entries">139</strong>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="pagination">
                                    <!--
                                        <li class="enable_pagination_first">
                                            <a class="pagination_first fa fa-angle-double-left" href="/" title="Previous"></a>
                                        </li>
                                        <li class="enable_pagination_previous">
                                            <a class="pagination_previous fa fa-caret-left" href="/" title="Previous"></a>
                                        </li>
                                        <li class="page">
                                            <a class="page_number" href="#">1</a>
                                        </li>
                                        <li class="page">
                                           <a class="page_number" href="#">2</a>
                                        </li>
                                        <li class="enable_pagination_next">
                                            <a class="pagination_next fa fa-caret-right" href="/"></a>
                                        </li>
                                        <li class="enable_pagination_last">
                                            <a class="pagination_last fa fa-angle-double-right" href="/" title="Previous"></a>
                                        </li>
                                    -->
                                    </ul>
                              </div>
                           </div>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-right sidebar col-xs-12 col-sm-3">
                  <div class="block block-layered-nav">
                    <div class="block-title"> <strong><span>Shop By</span></strong> </div>
                    <div class="block-content">
                      <p class="block-subtitle">Shopping Options</p>
                      <dl>
                        <dt>Price</dt>
                        <dd>
                          <ol>
                            <li> <a href=""><span class="price">$0.00</span> - <span class="price">$99.99</span></a> (5) </li>
                            <li> <a href=""><span class="price">$100.00</span> and above</a> (13) </li>
                          </ol>
                        </dd>
                        <dt>Manufacturer</dt>
                        <dd>
                          <ol>
                            <li class="brand-list"> <a class="brand-link" href="">Patagonia</a> (1) </li>
                          </ol>
                        </dd>
                      </dl>
             <!--       <script type="text/javascript">decorateDataList('narrow-by-list')</script>-->
                    </div>
                  </div>
                  <div class="block block-cart">
                    <div class="block-title"> <strong><span>My Cart</span></strong> <span class="toggle"></span></div>
                    <div class="block-content">
                      <p class="empty">You have no items in your shopping cart.</p>
                    </div>
                  </div>
                 <div class="block block-subscribe last_block">
                    <div class="block-title"> <strong><span>Newsletter</span></strong> <span class="toggle"></span></div>
                    <form action="" method="post" id="newsletter-validate-detail">
                      <div class="block-content">
                        <div class="form-subscribe-header">
                          <label for="newsletter">Sign Up for Our Newsletter:</label>
                        </div>
                        <div class="input-box">
                          <input name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email form-control" type="text">
                        </div>
                        <div class="actions">
                          <button type="submit" title="Subscribe" class="button"><span><span>Subscribe</span></span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

