        <div class="span12">
          <h1>About us</h1>
          <div class="row">
            <div class="span8">
              <p>At West Branch Angler we pride ourselves in bringing you the best equipment and fly fishing knowledge in the industry. At our core we are all fly fisherman our love and passion is what has built this company from it's humble roots to the premier fly fishing resort in the United States. Family owned and operated West Branch Angler & Resort sits on 2 miles of private water on the West Branch of the Delaware River. Our local technical wild trout population demand absolute perfection. Our quest to achieve this perfection means we try a lot of techniques and gear. We want to bring these experiences to you. "Fly Fishing The Delaware" - Since 1991</p> 
              <div class="row">
                <div class="span4">
                  <div class="about-employee"><img src="/img/staff/sam-batschelet.jpg" />
                    <h4>Sam Batschelet<span>Sales Manager - Nerd</span></h4>
                    <p></p>
                  </div>
                </div>
                <div class="span4">
                  <div class="about-employee"><img src="/img/staff/matt-batschelet.jpg" />
                    <h4>Matt Batschelet<span>General Manager</span></h4>
                    <p></p>
                  </div>
                </div>
                <div class="span4">
                  <div class="about-employee"><img src="/img/staff/ben-sheard.jpg" />
                    <h4>Ben Sheard<span>Fly Shop Manager</span></h4>
                    <p></p>
                  </div>
                </div>

                <div class="span2"></div>
              </div>
              <!--   end row   -->
            </div>
            <div class="span3 contact-images"><img src="/img/img_store.jpg" width="100%" /><img src="/img/img_store2.jpg" width="100%" /><img src="/img/img_store.jpg" width="100%" /><img src="/img/img_store2.jpg" width="100%" /></div>
          </div>
          <!--   end row   -->
        </div>
      </div>
    </div>
