    <div class="row">
            <div class="span3 sidebar">

                <div class="sidebar-widget">
                    <h3>Have a question for us?</h3>
                    
                    <form>
                        <label>Your name</label>
                        <input type="text" class="full-width">
                        <label>Your email</label>
                        <input type="text" class="full-width">
                        <label>Your phone</label>
                        <input type="text" class="full-width">
                        <label>Your message</label>
                        <textarea class="full-width"></textarea>
                        <button class="btn">Send</button>
                    </form>

                </div>

            </div>
            <div class="span9">

                <h1>About us</h1>

                <div class="row">
                    <div class="span6">
                        
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

<p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>

<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>


                        <div class="row">
                            <div class="span2">
                                
                                <div class="about-employee">
                                    <img src="img/img_employee.jpg">
                                    <h4>Sam Batschelet<span>Resort manager</span></h4>
                                    <p>Fishing since he was 2 years old</p>
                                </div>
                                
                            </div>
                            <div class="span2">
                                
                                 <div class="about-employee">
                                    <img src="img/img_employee.jpg">
                                    <h4>Sam Batschelet<span>Resort manager</span></h4>
                                    <p>Fishing since he was 2 years old</p>
                                </div>
                                
                            </div>
                            <div class="span2">
                                
                                <div class="about-employee">
                                    <img src="img/img_employee.jpg">
                                    <h4>Sam Batschelet<span>Resort manager</span></h4>
                                    <p>Fishing since he was 2 years old</p>
                                </div>
                                
                            </div>
                        </div><!-- end row -->                        

                        <div class="row">
                            <div class="span2">
                                
                                <div class="about-employee">
                                    <img src="img/img_employee.jpg">
                                    <h4>Sam Batschelet<span>Resort manager</span></h4>
                                    <p>Fishing since he was 2 years old</p>
                                </div>
                                
                            </div>
                            <div class="span2">
                                
                                 <div class="about-employee">
                                    <img src="img/img_employee.jpg">
                                    <h4>Sam Batschelet<span>Resort manager</span></h4>
                                    <p>Fishing since he was 2 years old</p>
                                </div>
                                
                            </div>
                            <div class="span2">
                                
                                
                            </div>
                        </div><!-- end row -->   
                    </div>
                    <div class="span3 contact-images">
                        
                        <a href=""><img src="img/img_store.jpg" width="100%"></a>
                        <a href=""><img src="img/img_store2.jpg" width="100%"></a>
                        <a href=""><img src="img/img_store.jpg" width="100%"></a>
                        <a href=""><img src="img/img_store2.jpg" width="100%"></a>
                        
                    </div>
                </div><!-- end row -->

            </div>
        </div><!-- end row -->

