<div class="row">
  <div class="span3 sidebar">
    <div class="sidebar-widget">
      <h3>My account</h3>
      <div class="well well-small">
        <ul class="nav nav-list">
          <li class="active">
            <a href="">My orders</a>
          </li>
          <li>
            <a href="">My account</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span9">
    <table class="table table-bordered order-row">
      <tr>
        <td width="80">
          <strong class="order-date">25.4.2013</strong>
        </td>
        <td class="txt-info" width="80"><span class="order-count">17 items</span></td>
        <td width="60">
          <span class="label label-success">Delivered</span>
        </td>
        <td>Total: <span class="order-details order-total">$340.50</span></td>
        <td style="text-align: center;" width="60">
          <a href="javascript:$('#row1' ).toggle();" id="toggle">details</a>
        </td>
      </tr>
      <tr id="row1" style="display: none;">
        <td colspan="5" style="background: #f7f7f7; box-shadow: 0px 2px 4px #e3e3e3 inset;">
          <table class="table table-condensed shopping-cart" style="background: none; margin-bottom: 0;">
            <tr>
              <th>
									Description
									</th>
              <th width="60">
									Quantity
									</th>
              <th class="td-right" width="120">
									Price
									</th>
              <th class="td-right" width="120">
									Amount
									</th>
            </tr>
            <tr class="orderline-row">
              <td class="description">Simms replacement laces</td>
              <td>
                <input style="width: 45px; font-size: 11px; padding: 3px; height: auto; margin: 0;" type="number" value="2" class="quantity"/>
              </td>
              <td class="td-right price">$24.55</td>
              <td class="td-right subtotal">$49.10</td>
            </tr>
            <tr class="orderline-row">
              <td>Simms replacement laces</td>
              <td>
                <input style="width: 45px; font-size: 11px; padding: 3px; height: auto; margin: 0;" type="number" value="2" />
              </td>
              <td class="td-right">$24.55</td>
              <td class="td-right">$49.10</td>
            </tr>
            <tr class="orderline-row">
              <td>Simms replacement laces</td>
              <td>
                <input style="width: 45px; font-size: 11px; padding: 3px; height: auto; margin: 0;" type="number" value="2" />
              </td>
              <td class="td-right">$24.55</td>
              <td class="td-right">$49.10</td>
            </tr>
            <tr class="orderline-row">
              <td>Simms replacement laces</td>
              <td>
                <input style="width: 45px; font-size: 11px; padding: 3px; height: auto; margin: 0;" type="number" value="2" />
              </td>
              <td class="td-right">$24.55</td>
              <td class="td-right">$49.10</td>
            </tr>
            <tr class="orderline-row">
              <td>Simms replacement laces</td>
              <td>
                <input style="width: 45px; font-size: 11px; padding: 3px; height: auto; margin: 0;" type="number" value="2" />
              </td>
              <td class="td-right">$24.55</td>
              <td class="td-right">$49.10</td>
            </tr>
            <tr>
              <td colspan="2" style="background: none;"></td>
              <td class="td-right">
                <strong>SUBTOTAL:</strong>
              </td>
              <td class="td-right txt-subtotal">
                <strong class="order-subtotal">$4,280.60</strong>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="background: none;"></td>
              <td class="td-right">
                <strong>SHIPPING:</strong>
              </td>
              <td class="td-right txt-subtotal">
                <strong class="order-shipping">$4,280.60</strong>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="background: none;"></td>
              <td class="td-right">
                <strong>SALESTAX:</strong>
              </td>
              <td class="td-right txt-subtotal">
                <strong class="order-salestax">$4,280.60</strong>
              </td>
            </tr> <tr>
              <td colspan="2" style="background: none;"></td>
              <td class="td-right">
                <strong>TOTAL:</strong>
              </td>
              <td class="td-right txt-subtotal">
                <strong class="order-total">$4,280.60</strong>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table class="table table-bordered order-row">
      <tr>
        <td width="80">
          <strong>25.4.2013</strong>
        </td>
        <td class="txt-info" width="80">17 items</td>
        <td width="60">
          <span class="label label-success">Delivered</span>
        </td>
        <td>Total: $340.50</td>
        <td style="text-align: center;" width="60">
          <a href="">details</a>
        </td>
      </tr>
      <tr style="display: none;">
        <td colspan="5" style="background: #f7f7f7; box-shadow: 0px 2px 4px #e3e3e3 inset;">details</td>
      </tr>
    </table>
    <table class="table table-bordered order-row">
      <tr>
        <td width="80">
          <strong>25.4.2013</strong>
        </td>
        <td class="txt-info" width="80">17 items</td>
        <td width="60">
          <span class="label label-info">Shipped</span>
        </td>
        <td>Total: $340.50</td>
        <td style="text-align: center;" width="60">
          <a href="">details</a>
        </td>
      </tr>
      <tr style="display: none;">
        <td colspan="5" style="background: #f7f7f7; box-shadow: 0px 2px 4px #e3e3e3 inset;">details</td>
      </tr>
    </table>
  </div>
</div>
