            <div class="spacer"></div>
    
    
            <div class="brand-image">
                <img src="img/img_simms.jpg">    
            </div>
                
            <h1>SIMMS</h1>
            
            <h4>SIMMS Outdoor Gear & Apparel</h4>
            
            <p><img src="img/img_simms-logo.jpg">Since its inception, Arc'teryx has continually shown that it isn't satisfied with the status quo. Arc'teryx innovations have resulted in various paradigm shifts of the outdoor industry. Professionals guides and mountaineers all over the world trust Arc'teryx jackets and pants. From backpacks to harnesses; softshells to baselayers, you can always see the company's attention to detail. But you won't find Arc'teryx clothing on every other rock-jock or snow-bro-Arc'teryx caters to avid outdoor adventurers who demand quality gear that is lightweight, durable, and driven by performance. less…</p>

            <hr>

            <div class="row">
                <div class="span3 border">
                    <ul>
                        <li><h3>SIMMS MEN'S CLOTHING</h3></li>
                        <li><a href="">Fishing Gear</a></li>
                        <li><a href="">Fishing Pants</a></li>
                        <li><a href="">Fishing Boots</a></li>
                        <li><a href="">Fly Fishing Shirts</a></li>
                        <li><a href="">Fly Fishing Accessories</a></li>
                    </ul>
                </div>
                <div class="span3 border">
                    <ul>
                        <li><h3>SIMMS WOMEN'S CLOTHING</h3></li>
                        <li><a href="">Fishing Pants</a></li>
                        <li><a href="">Fishing Boots</a></li>
                        <li><a href="">Fly Fishing Shirts</a></li>
                        <li><a href="">Fly Fishing Accessories</a></li>
                    </ul>
                </div>
                <div class="span3 border">
                    <ul>
                        <li><h3>SIMMS SKI</h3></li>
                        <li><a href="">Fishing Gear</a></li>
                        <li><a href="">Fishing Pants</a></li>
                        <li><a href="">Fishing Boots</a></li>
                        <li><a href="">Fly Fishing Shirts</a></li>
                        <li><a href="">Fly Fishing Accessories</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <ul>
                        <li><h3>SIMMS HIKE & CAMP</h3></li>
                        <li><a href="">Fishing Gear</a></li>
                        <li><a href="">Fishing Pants</a></li>
                        <li><a href="">Fishing Boots</a></li>
                        <li><a href="">Fly Fishing Shirts</a></li>
                        <li><a href="">Fly Fishing Accessories</a></li>
                    </ul>
                </div>
            </div><!-- end row -->
    
            <hr>
    
            <div class="row">
                <div class="span3 border">
                    <ul>
                        <li><h3>SIMMS ACCESSORIES</h3></li>
                        <li><a href="">Fishing Gear</a></li>
                        <li><a href="">Fishing Pants</a></li>
                        <li><a href="">Fishing Boots</a></li>
                        <li><a href="">Fly Fishing Shirts</a></li>
                        <li><a href="">Fly Fishing Accessories</a></li>
                    </ul>
                </div>
                <div class="span3">
                    <ul>
                        <li><h3>SIMMS FISHING GEAR</h3></li>
                        <li><a href="">Fishing Pants</a></li>
                        <li><a href="">Fishing Boots</a></li>
                        <li><a href="">Fly Fishing Shirts</a></li>
                        <li><a href="">Fly Fishing Accessories</a></li>
                    </ul>
                </div>
                <div class="span3">
    
                </div>
                <div class="span3">
    
                </div>
            </div><!-- end row -->
