i
<div class="main-container col2-right-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="row">
            <div class="col-main col-xs-12 col-sm-9">
              <div class="padding-s">
                <div class="page-title">
                  <h1>Checkout</h1>
                </div>
                <ol class="opc" id="checkoutSteps">
                  <li id="opc-billing" class="section">
                    <div id="checkout-step-billing" class="step a-item">
                  <div class="step-title">
                    <h2>Billing Information</h2>
                   </div>
                      <form id="co-billing-form" action="">
                        <fieldset>
                          <ul class="form-list">
                            <li id="billing-new-address-form">
                              <fieldset>
                                <input type="hidden" name="billing[address_id]" value="" id="billing:address_id" />
                                <ul>
                                  <li class="fields">
                                    <div class="customer-name">
                                      <div class="field name-firstname">
                                        <label for="billing:firstname" class="required"><em>*</em>First Name</label>
                                        <div class="input-box">
                                          <input type="text" id="" name="" value="" title="First Name" maxlength="255" class="input-text required-entry"  />
                                        </div>
                                      </div>
                                      <div class="field name-lastname">
                                        <label for="billing:lastname" class="required"><em>*</em>Last Name</label>
                                        <div class="input-box">
                                          <input type="text" id="" name="" value="" title="Last Name" maxlength="255" class="input-text required-entry"  />
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:company">Company</label>
                                      <div class="input-box">
                                        <input type="text" id="" name="" value="" title="Company" class="input-text " />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:email" class="required"><em>*</em>Email Address</label>
                                      <div class="input-box">
                                        <input type="text" name="" id="" value="" title="Email Address" class="input-text validate-email required-entry" />
                                      </div>
                                    </div>
                                  </li>
                                  <li class="wide">
                                    <label for="billing:street1" class="required"><em>*</em>Address</label>
                                    <div class="input-box">
                                      <input type="text" title="Street Address" name="" id="" value="" class="input-text  required-entry" />
                                    </div>
                                  </li>
                                  <li class="wide">
                                    <div class="input-box">
                                      <input type="text" title="Street Address 2" name="" id="" value="" class="input-text " />
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:city" class="required"><em>*</em>City</label>
                                      <div class="input-box">
                                        <input type="text" title="City" name="" value="" class="input-text  required-entry" id="" />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:region_id" class="required"><em>*</em>State/Province</label>
                                      <div class="input-box">
                                        <select id="" name="" title="State/Province" class="validate-select" style="display:none;">
                                          <option value="">Please select region, state or province</option>
                                        </select>
                                        <input type="text" id="" name="" value=""  title="State/Province" class="input-text " style="display:none;" />
                                      </div>
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:postcode" class="required"><em>*</em>Zip/Postal Code</label>
                                      <div class="input-box">
                                        <input type="text" title="Zip/Postal Code" name="" id="" value="" class="input-text validate-zip-international  required-entry" />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:country_id" class="required"><em>*</em>Country</label>
                                      <div class="input-box">
                                        <select name="" id="" class="validate-select" title="Country" >
                                          <option>Argentina</option>
                                        </select>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:telephone" class="required"><em>*</em>Telephone</label>
                                      <div class="input-box">
                                        <input type="text" name="" value="" title="Telephone" class="input-text  required-entry" id="" />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:fax">Fax</label>
                                      <div class="input-box">
                                        <input type="text" name="" value="" title="Fax" class="input-text " id="" />
                                      </div>
                                    </div>
                                  </li>
                                  <li class="fields" id="register-customer-password">
                                    <div class="field">
                                      <label for="billing:customer_password" class="required"><em>*</em>Password</label>
                                      <div class="input-box">
                                        <input type="password" name="" id="" title="Password" class="input-text required-entry validate-password" />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:confirm_password" class="required"><em>*</em>Confirm Password</label>
                                      <div class="input-box">
                                        <input type="password" name="" title="Confirm Password" id="" class="input-text required-entry validate-cpassword" />
                                      </div>
                                    </div>
                                  </li>
                                  <li class="control">
                                    <input type="checkbox" name="" id="" value="1" title="Use Billing Address" class="checkbox" />
                                    <label for="shipping:same_as_billing">Different Shipping Address</label>
                                  </li>
                                  <li class="no-display">
                                    <input type="hidden" name="billing[save_in_address_book]" value="1" />
                                  </li>
                                </ul>
                                <div id="window-overlay" class="window-overlay" style="display:none;"></div>
                                <div id="remember-me-popup" class="remember-me-popup" style="display:none;">
                                  <div class="remember-me-popup-head">
                                    <h3>What's this?</h3>
                                    <a href="#" class="remember-me-popup-close" title="Close">Close</a> </div>
                                  <div class="remember-me-popup-body">
                                    <p>Checking &quot;Remember Me&quot; will let you access your shopping cart on this computer when you are logged out</p>
                                    <div class="remember-me-popup-close-button a-right"> <a href="#" class="remember-me-popup-close button" title="Close"><span>Close</span></a> </div>
                                  </div>
                                </div>
                              </div>
                  </li>
                  <li id="opc-billing" class="section">
                    <div id="checkout-step-billing" class="step a-item">
                  <div class="step-title">
                    <h2>Choose A Shipping Address</h2>
                   </div>
                      <div id="co-billing-form" >
                        <fieldset>
                          <ul class="form-list">
                            <li id="billing-new-address-form">
                              <fieldset>
                                <input type="hidden" name="billing[address_id]" value="" id="billing:address_id" />
                                <ul>
                                  <li class="fields">
                                    <div class="customer-name">
                                      <div class="field name-firstname">
                                        <label for="billing:firstname" class="required"><em>*</em>First Name</label>
                                        <div class="input-box">
                                          <input type="text" id="" name="" value="" title="First Name" maxlength="255" class="input-text required-entry"  />
                                        </div>
                                      </div>
                                      <div class="field name-lastname">
                                        <label for="billing:lastname" class="required"><em>*</em>Last Name</label>
                                        <div class="input-box">
                                          <input type="text" id="" name="" value="" title="Last Name" maxlength="255" class="input-text required-entry"  />
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:company">Company</label>
                                      <div class="input-box">
                                        <input type="text" id="" name="" value="" title="Company" class="input-text " />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:email" class="required"><em>*</em>Email Address</label>
                                      <div class="input-box">
                                        <input type="text" name="" id="" value="" title="Email Address" class="input-text validate-email required-entry" />
                                      </div>
                                    </div>
                                  </li>
                                  <li class="wide">
                                    <label for="billing:street1" class="required"><em>*</em>Address</label>
                                    <div class="input-box">
                                      <input type="text" title="Street Address" name="" id="" value="" class="input-text  required-entry" />
                                    </div>
                                  </li>
                                  <li class="wide">
                                    <div class="input-box">
                                      <input type="text" title="Street Address 2" name="" id="" value="" class="input-text " />
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:city" class="required"><em>*</em>City</label>
                                      <div class="input-box">
                                        <input type="text" title="City" name="" value="" class="input-text  required-entry" id="" />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:region_id" class="required"><em>*</em>State/Province</label>
                                      <div class="input-box">
                                        <select id="" name="" title="State/Province" class="validate-select" style="display:none;">
                                          <option value="">Please select region, state or province</option>
                                        </select>
                                        <input type="text" id="" name="" value=""  title="State/Province" class="input-text " style="display:none;" />
                                      </div>
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:postcode" class="required"><em>*</em>Zip/Postal Code</label>
                                      <div class="input-box">
                                        <input type="text" title="Zip/Postal Code" name="" id="" value="" class="input-text validate-zip-international  required-entry" />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:country_id" class="required"><em>*</em>Country</label>
                                      <div class="input-box">
                                        <select name="" id="" class="validate-select" title="Country" >
                                          <option>Argentina</option>
                                        </select>
                                      </div>
                                    </div>
                                  </li>
                                  <li class="fields">
                                    <div class="field">
                                      <label for="billing:telephone" class="required"><em>*</em>Telephone</label>
                                      <div class="input-box">
                                        <input type="text" name="" value="" title="Telephone" class="input-text  required-entry" id="" />
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label for="billing:fax">Fax</label>
                                      <div class="input-box">
                                        <input type="text" name="" value="" title="Fax" class="input-text " id="" />
                                      </div>
                                    </div>
                                  </li>
                               </ul>
                             </div>
                            </div>
                  </li>
<li id="opc-billing" class="section">
        <div class="step-title">
            <h2>Payment Information</h2>
        </div>
        <div id="checkout-step-payment" class="step a-item" style="">
             <div class="well">
                <div class="payment-cards"><img src="images/i_visa.png" /> <img src="images/i_mastercard.png" /> <img src="images/i_amex.png" /></div>
                <div class="row">
                  <div class="col-md-7">
                   <div style="margin:0;padding:0;display:inline">
                        <input name="utf8" type="hidden" value="✓" />
                        <input name="_method" type="hidden" value="PUT" />
                        <input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" />
                      </div>
                      <div class="input-box">
                        <div class="col-xs-12 required">
                          <label class="required"><em>*</em>Name on Card</label>
                          <input class="form-control" size="4" type="text" />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-xs-12 form-group card required">
                          <label class="control-label">Card Number</label>
                          <input autocomplete="off" class="form-control card-number" size="20" type="text" />
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-xs-4 form-group expiration required">
                          <label class="control-label">Expiration</label>
                          <input class="form-control card-expiry-month" placeholder="MM" size="2" type="text" />
                        </div>
                        <div class="col-xs-4 form-group expiration required">
                          <label class="control-label"> </label>
                          <input class="form-control card-expiry-year" placeholder="YYYY" size="4" type="text" />
                        </div>
                        <div class="col-xs-4 form-group cvc required">
                          <label class="control-label">CVC/CVV</label>
                          <input autocomplete="off" class="form-control card-cvc" placeholder="ex. 311" size="4" type="text" />
                        </div>
                      </div>
                      <div class="form-row coupon-wrap">
                        <div class="col-md-12 form-group">
                          <label class=""><input type="checkbox" /> I have a coupon code</label>
                        </div>
                        <div class="col-md-12 form-group">
                          <div class="form-inline">
                            <div class="form-group">
                              <input class="form-control input-sm" placeholder="Coupon number" type="text" />
                            </div>
                            <input class="btn btn-default btn-sm" type="submit" value="Apply" />
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="alert alert-info">
                                         You have applied a coupon for $44.44. You will pay only $4444.44 <small><a href="">Remove coupon</a></small></div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 form-group">
                          <button class="btn btn-success btn-lg btn-block submit-button" type="submit">Confirm order »</button>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-12 error form-group hide">
                          <div class="alert-danger alert">
                                Please correct the errors and try again.
                                </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-5">
                    <img class="img-thumbnail" src="images/card_security-code.jpg" />
                  </div>
                </div>
               <!--  end .row  -->

                    </div>
            </div>
          </div>
</li>
         <!--  end .row  -->
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


