<h1>Receipt</h1>
<div class="row">
  <div class="span6"><h2>Your order has been placed</h2><p>You should received it between <strong>4/15 and 4/20</strong></p><button class="btn btn-info">Print receipt</button> <button class="btn btn-info">PDF receipt</button><div class="spacer"></div></div>
  <div class="span6 rightbar">
    <div class="rightbar-widget">
      <div class="alert alert-info">
        <p>
          <strong>Thank you for your purchase. You opinion mean a lot ot us.</strong>
        </p>
        <p>We have created a username and password for you:</p>
        <p style="font-size: 18px; line-height: 26px; padding: 10px; background: #fff; border: 1px solid #ddd; border-width: 0 1px 1px 0; margin-bottom: 15px;">
							Username: <strong>jobs@mac.com</strong><br />
							Password: <strong>stevie007</strong></p>
        <p>Use this info to <strong>check the status of your order or review the products you have purchased</strong></p>
      </div>
    </div>
  </div>
</div>
