      <h1>Shopping Cart</h1>

      <form id="form-cart" name="cart" action="/checkout" method="POST">

      <div class="row">
        <div class="span8">
              
          <div class="alert alert-success free-shipping"><h3>FREE SHIPPING</h3>Your order qualifies for <strong>free shipping.</strong></div>
          <div class="alert alert-info nonfree-shipping"><h3>FREE SHIPPING</h3>Add <strong class="free-shipping-gap">$34.80</strong> to your order to qualify for <strong>free shipping.</strong></div>
              
          <table class="table table-bordered shopping-cart" width="100%">
          <thead>
            <tr>
              <th> Description </th>
              <th width="80"> Quantity </th>
              <th class="td-right" width="60"> Price </th>
              <th class="td-right" width="60"> Amount </th>
            </tr>
          </thead>
          <tbody>
            <tr class="cartitem">
              <td class="image"><img src="img/cart-demo-img.jpg" width="100px" height="100px" align="left">
                <div class="name"><strong>Simms replacement laces</strong></div>
                <div class="stock">Inventory available: <span class="inventory">5</span></div>
                <div class="delete" style="margin-top:10px;"><button class="btn btn-small remove-cart-product" type="submit" name="remove" value="">Remove</button></div>
                </td>
              <td width="80">
                  <input style="width: 45px; font-size: 11px; padding: 3px; height: auto; margin: 0;" type="number" class="qty" value="2" /> <button class="btn btn-medium"><i class="icon icon-refresh"></i></button>
                  </td>
              <td class="td-right price">$24.55</td>
              <td class="td-right subtotal">$4900.10</td>
            </tr>
            <tr class="cartitem">
              <td class="image"><img src="img/cart-demo-img.jpg" width="100px" height="100px" align="left">
                <div class="name"><strong>Simms replacement laces</strong></div>
                <div class="stock">Inventory available: <span class="inventory">5</span></div>
                <div class="delete" style="margin-top:10px;"><button class="btn btn-small remove-cart-product" type="submit" name="remove" value="">Remove</button></div>
                </td>
              <td width="80">
                  <input style="width: 45px; font-size: 11px; padding: 3px; height: auto; margin: 0;" type="number" class="qty" value="2" /> <button class="btn btn-medium"><i class="icon icon-refresh"></i></button>
                  </td>
              <td class="td-right price">$24.55</td>
              <td class="td-right subtotal txt-price">$49.10</td>
            </tr>

      </tbody>
      </table>

    </div>
          
    <div class="span4">

        <fieldset class="well">  
            
          <div class="rightbar-widget">
            <h3>Summary</h3>
              
              <table class="table table-bordered shopping-cart" width="100%">
              <tbody>
                <tr>
                    <td>
                        <strong>SHIPPING:</strong>
                        <div style="font-family: Arial; font-size: 11px; color: #888; line-height: 10px; margin-bottom: 5px;">
                          <div>Fill country and ZIP to get cost</div>
                          <div class="shipping-warning"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="align-left" style="margin-right: 5px;">
                        <label>Country</label>
                        <select name="country" class="country" style="height: auto; padding: 6px 2px; width: 120px; font-size: 11px;">
                        <option>United Kingdom</option>
                        </select>
                        </div>
                        <div class="align-left">
                        <label>Zip</label>
                        <input name="postal_code" id="zip"
                               style="height: auto; padding: 3px; width: 60px; font-size: 11px;" type="text" />
                        </div>
                        <div class="align-right" style="margin-top: 17px; margin-left: 5px;">
                        <button id="update-shipping" class="btn btn-small btn-success">Update</button>
                        </div>

                        <div class="align-left shippin" style="margin-right: 5px;">
                          <label>Shipping Method</label>
                          <select name="shipping_method" class="shipping_method" type="radio" />
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
              
            <table class="table table-bordered shopping-cart" width="100%">
              <tbody>
                <tr>
                  <td class="td-right">Subtotal:</td>
                  <td class="cart-subtotal">$4,280.60</td>
                </tr>
                <tr>
                  <td class="td-right">Shipping:</td>
                  <td class="cart-shipping">$20.60</td>
                </tr>
                <tr>
                  <td class="td-right">Sales Tax:</td>
                  <td class="cart-tax">$250.60</td>
                </tr>
                <tr>
                  <td class="td-right" style="font-size: 18px;"><strong>TOTAL:</strong></td>
                  <td class="txt-subtotal" style="font-size: 18px;"><strong class="cart-total txt-price">$4,280.60</strong></td>
                </tr>
<!--
                <tr>
                  <td colspan="2">bla</td>
                </tr>
-->
              </tbody>
            </table>
          </div>
            
            <div class="align-center">
            <button class="btn btn-large btn-success" type="submit">Checkout</button><div style="padding: 10px 0; color: #aaaaaa;">- OR -</div><button class="btn btn-large btn-success" type="submit">Checkout with PayPal</button>
            </div>
            
        </fieldset>
        
    </div>
    </form>
  </div>
</div>
</div>

