   <div class="main-container col1-layout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="main">
              <div class="col-main">
                <div class="padding-s">
                  <div id="map-popup" class="map-popup" style="display:none;"> <a href="#" class="map-popup-close" id="map-popup-close">x</a>
                    <div class="map-popup-arrow"></div>
                    <div class="map-popup-heading">
                      <h2 id="map-popup-heading"></h2>
                    </div>
                    <div class="map-popup-content" id="map-popup-content">
                      <div class="map-popup-msrp" id="map-popup-msrp-box"><strong>Price:</strong> <span style="text-decoration:line-through;" id="map-popup-msrp"></span></div>
                      <div class="map-popup-price" id="map-popup-price-box"><strong>Actual Price:</strong> <span id="map-popup-price"></span></div>
                      <div class="map-popup-checkout">
                        <form action="" method="POST" id="product_addtocart_form_from_popup">
                          <input name="product" class="product_id" value="" id="map-popup-product-id" type="hidden">
                          <div class="additional-addtocart-box"> </div>
                          <button type="button" title="Add to Cart" class="button btn-cart" id="map-popup-button"><span><span>Add to Cart</span></span></button>
                        </form>
                      </div>
                    </div>
                    <div class="map-popup-text" id="map-popup-text">Our price is lower 
                      than the manufacturer's "minimum advertised price."  As a result, we 
                      cannot show you the price in catalog or the product page. <br>
                      <br>
                      You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.</div>
                    <div class="map-popup-text" id="map-popup-text-what-this">Our price 
                      is lower than the manufacturer's "minimum advertised price."  As a 
                      result, we cannot show you the price in catalog or the product page. <br>
                      <br>
                      You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.</div>
                  </div>
                  <div class="cart">
                    <div class="page-title title-buttons">
                      <h1>Shopping Cart</h1>
                      <ul class="checkout-types">
                        <li>
                          <button type="submit" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout"><span><span>Proceed to Checkout</span></span></button>
                        </li>
                      </ul>
                    </div>
                    <form action="" method="post">
                      <input name="form_key" value="" type="hidden">
                      <fieldset>
                        <table id="shopping-cart-table" class="data-table cart-table">
                          <colgroup>
                          <col width="1">
                          <col>
                          <col width="1">
                          <col width="1">
                          <col width="1">
                          <col width="1">
                          <col width="1">
                          </colgroup>
                          <thead>
                            <tr class="first last">
                              <th rowspan="1">&nbsp;</th>
                              <th rowspan="1"><span class="nobr">Product Name</span></th>
                              <th rowspan="1"></th>
                              <th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
                              <th rowspan="1" class="a-center">Qty</th>
                              <th class="a-center" colspan="1">Subtotal</th>
                              <th rowspan="1" class="a-center">&nbsp;</th>
                            </tr>
                          </thead>
                          <tfoot>
                            <tr class="first last">
                              <td colspan="50" class="a-right last"><button type="button" title="Continue Shopping" class="button btn-continue" onClick="setLocation('')"><span><span>Continue Shopping</span></span></button>
                                <button type="submit" name="update_cart_action" value="update_qty" title="Update Shopping Cart" class="button btn-update"><span><span>Update Shopping Cart</span></span></button>
                                <button type="submit" name="update_cart_action" value="empty_cart" title="Clear Shopping Cart" class="button btn-empty" id="empty_cart_button"><span><span>Clear Shopping Cart</span></span></button>
                          </td>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr class="first last odd">
                              <td><a href="" title="Simms Coldweather Shirt Red" class="product-image"><img src="/product/simms-coldweather-ls-shirt-cart.png" alt="Simms Coldweather Shirt Red" height="75" width="75"></a></td>
                              <td><h2 class="product-name"> <a href="">Simms Coldweather Shirt Red</a> </h2></td>
                              <td class="a-center"><a href="" title="Edit item parameters">Edit</a></td>
                              <td class="a-right"><span class="cart-price"> <span class="price">$99.95</span> </span></td>
                              <!-- inclusive price starts here -->
                              <td class="a-center"><input name="cart[2][qty]" value="2" size="4" title="Qty" class="input-text qty form-control" maxlength="12"></td>
                              <!--Sub total starts here -->
                              <td class="a-right"><span class="cart-price"> <span class="price">$199.90</span> </span></td>
                              <td class="a-center last"><a href="" title="Remove item" class="btn-remove btn-remove2">Remove item</a></td>
                            </tr>
                          </tbody>
                        </table>
                        <script type="text/javascript">decorateTable('shopping-cart-table')</script>
                      </fieldset>
                    </form>
                    <div class="cart-collaterals">
                      <div class="col2-set">
                        <div class="col-1">
                          <div class="crosssell">
                            <h2>Based on your selection, you may be interested in the following items:</h2>
                            <ul id="crosssell-products-list">
                              <li class="item odd"> <a class="product-image" href="" title="Patagonia Men's Rio Gallegos Waders"><img src="/product/patagonia-rio-gallegos100x100.png" alt="Patagonia Men's Rio Gallegos Waders"></a>
                                <div class="product-details">
                                  <h3 class="product-name"><a href="">Patagonia Men's Rio Gallegos Waders</a></h3>
                                  <div class="price-box"> <span class="regular-price" id="product-price-46"> <span class="price">$499.00</span> </span> </div>
                                  <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                                  <ul class="add-to-links">
                                    <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                    <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                  </ul>
                                </div>
                              </li>
                              <li class="item even"> <a class="product-image" href="" title="Patagonia Stud Kit"><img src="/product/patagonia-stud-kit100x100.png" alt="Patagonia Stud Kit"></a>
                                <div class="product-details">
                                  <h3 class="product-name"><a href="">Patagonia Stud Kit</a></h3>
                                  <div class="price-box"> <span class="regular-price" id="product-price-44"> <span class="price">$19.00</span> </span> </div>
                                  <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                                  <ul class="add-to-links">
                                    <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                    <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                  </ul>
                                </div>
                              </li>
                              <li class="item last odd"> <a class="product-image" href="" title="Patagonia Fitzroy Trout Trucker Hat"><img src="/product/patagonia-fitzroy-trout-trucker-grn100x100.png" alt="Patagonia Fitzroy Trout Trucker Hat"></a>
                                <div class="product-details">
                                  <h3 class="product-name"><a href="">Patagonia Fitzroy Trout Trucker Hat</a></h3>
                                  <div class="price-box"> <span class="regular-price" id="product-price-45"> <span class="price">$29.00</span> </span> </div>
                                  <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                                  <ul class="add-to-links">
                                    <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                    <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                           </div>
                        </div>
                        <div class="col-2">
                          <form id="discount-coupon-form" action="" method="post">
                            <div class="discount">
                              <h2>Discount Codes</h2>
                              <div class="discount-form">
                                <label for="coupon_code">Enter your coupon code if you have one.</label>
                                <input name="remove" id="remove-coupone" value="0" type="hidden">
                                <div class="input-box">
                                  <input class="input-text form-control" id="coupon_code" name="coupon_code">
                                </div>
                                <div class="buttons-set">
                                  <button type="submit" title="Apply Coupon" class="button" value="Apply Coupon"><span><span>Apply Coupon</span></span></button>
                                </div>
                              </div>
                            </div>
                          </form>
                          <div class="shipping">
                            <h2>Estimate Shipping and Tax</h2>
                            <div class="shipping-form">
                              <form action="" method="post" id="shipping-zip-form">
                                <p>Enter your destination to get a shipping estimate.</p>
                                <ul class="form-list">
                                  <li>
                                    <label for="country" class="required"><em>*</em>Country</label>
                                    <div class="input-box">
                                      <select name="country_id" id="country" class="validate-select form-control" title="Country">
                                        <option value=""> </option>
                                        <option value="AF">Afghanistan</option>
                                      </select>
                                    </div>
                                  </li>
                                  <li>
                                    <label for="region_id">State/Province</label>
                                    <div class="input-box">
                                      <select class="required-entry validate-select form-control" defaultvalue="" id="region_id" name="region_id" title="State/Province" style="">
                                        <option selected="selected" value="">Please select region, state or province</option>
                                        <option title="Alabama" value="1">Alabama</option>
                                      </select>
                                      <input id="region" name="region" title="State/Province" class="input-text required-entry form-control" style="display:none;" type="text">
                                    </div>
                                  </li>
                                  <li>
                                    <label for="postcode">Zip/Postal Code</label>
                                    <div class="input-box">
                                      <input class="input-text validate-postcode form-control" id="postcode" name="estimate_postcode" type="text">
                                    </div>
                                  </li>
                                </ul>
                                <div class="buttons-set">
                                  <button type="button" title="Get a Quote" class="button"><span><span>Get a Quote</span></span></button>
                                </div>
                              </form>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="totals">
                        <table id="shopping-cart-totals-table">
                          <colgroup>
                          <col>
                          <col width="1">
                          </colgroup>
                          <tfoot>
                            <tr>
                              <td style="" class="a-right" colspan="1"><strong>Grand Total</strong></td>
                              <td style="" class="a-right"><strong><span class="price">$199.90</span></strong></td>
                            </tr>
                          </tfoot>
                          <tbody>
                            <tr>
                              <td style="" class="a-right" colspan="1"> Subtotal </td>
                              <td style="" class="a-right"><span class="price">$199.90</span></td>
                            </tr>
                          </tbody>
                        </table>
                        <ul class="checkout-types">
                          <li>
                            <button type="submit" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout"><span><span>Proceed to Checkout</span></span></button>
                          </li>
                          <li><a href="" title="Checkout with Multiple Addresses">Checkout with Multiple Addresses</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
