<h1>Checkout</h1>
<div class="row">
  <div class="span6">
    <form class="form-horizontal account-info">
      <fieldset>
        <legend>Shipping Address</legend>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Email" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">First name</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="First name" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Last name</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Last name" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Company</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Company" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Address</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Address" type="text" />
            <input class="input-xlarge" id="inputEmail" placeholder="Address" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">ZIP code</label>
          <div class="controls">
            <input class="input-small" id="inputEmail" placeholder="ZIP code" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">State</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="State" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Country</label>
          <div class="controls">
            <select class="input-xlarge">
              <option>Country</option>
            </select>
          </div>
        </div>
      </fieldset>
      <div class="spacer"></div>
      <fieldset>
        <legend>Billing Address</legend>
        <div class="control-group">
          <label class="control-label" for="inputEmail"></label>
          <div class="controls ">
            <div class="form-inline">
              <label><input type="checkbox" /> Different billing address</label>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Email" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">First name</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="First name" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Last name</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Last name" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Company</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Company" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Address</label>
          <div class="controls">
            <input class="input-xlarge" id="inputEmail" placeholder="Address" type="text" />
            <input class="input-xlarge" id="inputEmail" placeholder="Address" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">ZIP code</label>
          <div class="controls">
            <input class="input-small" id="inputEmail" placeholder="ZIP code" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">State</label>
          <div class="controls">
            <input id="inputEmail" placeholder="State" type="text" />
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Country</label>
          <div class="controls">
            <select class="input-xlarge">
              <option>Country</option>
            </select>
          </div>
        </div>
      </fieldset>
      <div class="spacer"></div>
      <fieldset>
        <legend>Payment information</legend>
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#tab1">Credit Card</a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab2">PayPal</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <div class="control-group">
                <label class="control-label" for="inputEmail">Card number</label>
                <div class="controls">
                  <input class="input-xlarge" id="inputEmail" placeholder="" type="text" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Security code (CVV)</label>
                <div class="controls">
                  <input class="input-small" id="inputEmail" placeholder="" type="text" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmail">Expiration date</label>
                <div class="controls"><select class="input-small"><option>12</option></select> <select class="input-small"><option>2013</option></select></div>
              </div>
            </div>
            <div class="tab-pane" id="tab2">
              <p>Go to <a href="">PayPal</a></p>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-actions">
        <button class="btn btn-large btn-success">Place order</button>
      </div>
    </form>
  </div>
  <div class="span6 rightbar">
    <div class="rightbar-widget">
      <div class="alert alert-info">
        <p>
          <strong>Thank you for your purchase. You opinion mean a lot ot us.</strong>
        </p>
        <p>We have created a username and password for you:</p>
        <p style="font-size: 18px; line-height: 26px; padding: 10px; background: #fff; border: 1px solid #ddd; border-width: 0 1px 1px 0; margin-bottom: 15px;">
							Username: <strong>jobs@mac.com</strong><br />
							Password: <strong>stevie007</strong></p>
        <p>Use this info to <strong>check the status of your order or review the products you have purchased</strong></p>
      </div>
    </div>
  </div>
</div>
