        <div class="row">
            <div class="span3 sidebar">

                <div class="sidebar-widget">
                    <h3>Have a question for us?</h3>
                    
                    <form>
                        <label>Your name</label>
                        <input type="text" class="full-width">
                        <label>Your email</label>
                        <input type="text" class="full-width">
                        <label>Your phone</label>
                        <input type="text" class="full-width">
                        <label>Your message</label>
                        <textarea class="full-width"></textarea>
                        <button class="btn">Send</button>
                    </form>

                </div>

            </div>
            <div class="span9">

                <h1>Contact</h1>

                <div class="row">
                    <div class="span7">
                        
                        <p><strong>West Branch Angler</strong><br>
                        150 Faulkener Rd.<br>
                        Hancock, NY 13783</p>
                        
                        <p>
                        <strong>PHONE:</strong> (607) 467-5525<br>
                        <strong>FAX:</strong> (607) 467-2215<br>
                        <strong>TOLL-FREE:</strong> (800) 201-2557<br>
                        <strong>EMAIL:</strong> orders@westbranchangler.com
                        </p>
                        
                        <div class="contact-map" style="border: 1px solid #ccc;">
                        <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=sl&amp;geocode=&amp;q=150+Faulkener+Rd.+Hancock,+NY+13783&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=66.281516,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=150+Faulkener+Rd,+Hancock,+New+York+13783&amp;t=m&amp;ll=42.011295,-75.367413&amp;spn=0.044641,0.072956&amp;z=13&amp;output=embed"></iframe>
                        </div>
                    </div>
                    <div class="span2 contact-images">
                        
                        <a href=""><img src="img/img_store.jpg" width="100%"></a>
                        <a href=""><img src="img/img_store2.jpg" width="100%"></a>
                        <a href=""><img src="img/img_store.jpg" width="100%"></a>
                        <a href=""><img src="img/img_store2.jpg" width="100%"></a>
                        
                    </div>
                </div><!-- end row -->

            </div>
        </div><!-- end row -->
