<h1>Fishing Tips</h1>
<div class="row">
  <div class="span4">
    <h2>Fish you want to catch?</h2>
    <div class="well well-small">
      <input class="input-large" type="text" />
      <ul>
        <li>
          <a href="">Traut</a>
        </li>
        <li>
          <a href="">Alaskan Traut</a>
        </li>
        <li>
          <a href="">Muskie</a>
        </li>
        <li>
          <a href="">Catfish</a>
        </li>
        <li>
          <a href="">Redfish</a>
        </li>
        <li>
          <a href="">Salmon</a>
        </li>
        <li>
          <a href="">Traut</a>
        </li>
        <li>
          <a href="">Alaskan Traut</a>
        </li>
        <li>
          <a href="">Muskie</a>
        </li>
        <li>
          <a href="">Catfish</a>
        </li>
        <li>
          <a href="">Redfish</a>
        </li>
        <li>
          <a href="">Salmon</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <h2>Your fishing location?</h2>
    <div class="well well-small">
      <input class="input-large" type="text" />
      <ul>
        <li>
          <a href="">Traut</a>
        </li>
        <li>
          <a href="">Alaskan Traut</a>
        </li>
        <li>
          <a href="">Muskie</a>
        </li>
        <li>
          <a href="">Catfish</a>
        </li>
        <li>
          <a href="">Redfish</a>
        </li>
        <li>
          <a href="">Salmon</a>
        </li>
        <li>
          <a href="">Traut</a>
        </li>
        <li>
          <a href="">Alaskan Traut</a>
        </li>
        <li>
          <a href="">Muskie</a>
        </li>
        <li>
          <a href="">Catfish</a>
        </li>
        <li>
          <a href="">Redfish</a>
        </li>
        <li>
          <a href="">Salmon</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <h2>Fishing equipment?</h2>
    <div class="well well-small">
      <input class="input-large" type="text" />
      <ul>
        <li>
          <a href="">Traut</a>
        </li>
        <li>
          <a href="">Alaskan Traut</a>
        </li>
        <li>
          <a href="">Muskie</a>
        </li>
        <li>
          <a href="">Catfish</a>
        </li>
        <li>
          <a href="">Redfish</a>
        </li>
        <li>
          <a href="">Salmon</a>
        </li>
        <li>
          <a href="">Traut</a>
        </li>
        <li>
          <a href="">Alaskan Traut</a>
        </li>
        <li>
          <a href="">Muskie</a>
        </li>
        <li>
          <a href="">Catfish</a>
        </li>
        <li>
          <a href="">Redfish</a>
        </li>
        <li>
          <a href="">Salmon</a>
        </li>
      </ul>
    </div>
  </div>
</div>
