<div class="row">
  <div class="span3 sidebar">
    <div class="sidebar-widget">
      <h3 id="category-name">Other fishing hats</h3>
      <div class="product-sidebar">
        <div class="produst-image-tmb">
          <a href="">
            <img height="50px" src="/img/img_hat.jpg" width="50px" />
          </a>
        </div>
        <div class="product-sidebar-title">
          <a href="/" class="product-sidebar-link">Simms Fishing Hat Different edition</a>
          <br />
          <span class="product-sidebar-price">$14,99</span>
        </div>
      </div>
      <div class="product-sidebar">
        <div class="produst-image-tmb">
          <a href="">
            <img src="/img/img_hat.jpg" width="50" />
          </a>
        </div>
        <div class="product-sidebar-title">
          <a href="">Simms Fishing Hat Different edition</a>
          <br />
          <span>$14,99</span>
        </div>
      </div>
      <div class="product-sidebar">
        <div class="produst-image-tmb">
          <a href="">
            <img src="/img/img_hat.jpg" width="50" />
          /a>
        </div>
        <div class="product-sidebar-title">
          <a href="">Simms Fishing Hat Different edition</a>
          <br />
          <span>$14,99</span>
        </div>
      </div>
      <div class="product-sidebar">
        <div class="produst-image-tmb">
          <a href="">
            <img src="/img/img_hat.jpg" width="50" />
          </a>
        </div>
        <div class="product-sidebar-title">
          <a href="">Simms Fishing Hat Different edition</a>
          <br />
          <span>$14,99</span>
        </div>
      </div>
      <a class="link-more" href="">More items like this</a>
      <div class="well" style="padding: 8px 0;">
          <ul class="nav nav-list">
              <li class="nav-header">Other options</li>
              <li>
              <a href="#">Back to Search results</a>
              </li>
              <li>
              <a href="#">All Fishing Hats</a>
              </li>
              <li>
              <a href="#">All Fishing Clothing</a>
              </li>
          </ul>
      </div>
  </div>
  </div>
  <div class="span9">
      <h1 class="name">Simms Fisherman Hat</h1>
      <div class="row">
          <div class="span4">
              <div class="produst-image-wrap">
                  <img class="product-image" src="/img/img_hat.jpg" />
              </div>
              <div class="produst-image-tmb">
                  <a href="">
                      <img src="/img/img_hat.jpg" width="50" />
                  </a>
              </div>
              <div class="produst-image-tmb">
                  <a href="">
                      <img src="/img/img_hat.jpg" width="50" />
                  </a>
              </div>
              <div class="produst-image-tmb">
                  <a href="">
                      <img src="/img/img_hat.jpg" width="50" />
                  </a>
              </div>
          </div>
          <div class="span5">
              <p class="short_description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
              <p>
              <a href="">
                  <img src="/img/i_facebook.png" />
              </a>
              </p>
              <form method="POST" action="cart" name="product">
                  <input type="hidden" name="sku" id="sku" value="">
                  <div class="variant-error form-error">
                      Sorry, the current selection isn't available.
                      Please choose a different combination.
                  </div>
                  <div class="product-options-list">
                      <ul class="form-inline">
                          <li class="product-attributes-item"><span class="product-attributes-name">Size</span><select class="input-small attribute-size product-attributes-name"><option class="product-attributes-values-item product-attributes-value">11</option></select> <a class="text-info" href="">Size help</a></li>
                          <li>
                          <span>Quantity</span>
                          <select class="input-small">
                              <option>1</option>
                          </select>
                          </li>
                      </ul>
                      <span>&nbsp;</span>
                      <button class="btn btn-success btn-large">Add to cart</button>
                      <div class="alert alert-info"><strong>Free shipping</strong> on domestic orders</div>
                  </div>
              </form>
          </div>
      </div>
      <!--  end row  -->
      <div class="spacer"></div>
      <div class="alert alert-info">You own this product? <a class="review_link" id="review" href=""><strong>Share your experience!</strong></a></div>
      <div class="write-review">
          <h3>Write your review</h3>
          <div class="tabnav comment-form-head">
              <ul class="nav nav-tabs">
                  <li class="active"><a href="#write" class="write">Write</a></li>
                  <li><a href="#preview" class="preview">Preview</a></li>
              </ul>
          </div>
          <form class="frm-default" name="review" action="/review" method="POST">
              <fieldset>
                <ul>
                    <li>
                        <label>Rate This Item</label><span class="form-error" id="error-rating"><ul><li class="error-rating"><span class="rating-msg">Error</span></li></ul></span>
                        <input type="range" value="0" name="rating" step="0.25" id="backing4">
                        <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false"  data-rateit-ispreset="true"
                         data-rateit-min="0" data-rateit-max="5">
                        </div>
                    </li>
                    <li>
                        <label>The Bottom Line (100 characters max)</lable><span class="form-error" id="error-title"><ul><li class="error-title"><span class="title-msg">Error</span></li></ul></span>
                        <input type="text" size="75" maxlength="100" name="title" class="review-title" placeholder="Title"/><br />
                    </li>
                    <li>
                        <label>Your Product Review (1000 characters max)</label><span class="form-error" id="error-content"><ul><li class="error-content"><span class="content-msg">Error</span></li></ul></span>
                        <textarea name="content" class="span12 review-text" placeholder="Enter text..." class="span6"></textarea>
                    </li>
                    <p class="review-preview" style="display:none"></p>
                    <li>
                        <label>Nickname <span id="nickname-hint">(Can not be edited)</span></label>
                        <span class="nickname-container" id="nickname-display">angler</span><br class="nickname-container"/>
                        <input type="text" size="25" maxlength="40" name="nickname" class="review-nickname" placeholder="Choose nickname"/><br />
                    </li>
                    <li>
                        <label>Recommend</label>
                        <input type="checkbox" class="rating" name="recommend" value="1" ></input> Recommend this item to a friend
                    </li>
                </ul>
                <div class="spacer"></div>
                <button class="btn btn-large btn-success">Save review</button>
                <div class="spacer"></div>
                </form>
        </fieldset>
</div>
  <div class="tabbable">
      <!--  Only required for left/right tabs  -->
      <ul class="nav nav-tabs">
          <li class="active">
          <a data-toggle="tab" href="#tab1">Factsheet</a>
          </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
              <h3>Description</h3>
              <div class="description">
                  <p>I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalk. I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalk.</p>
                  <ul class="list">
                      <li>Thousand unknown plants</li>
                      <li>Thousand unknown plants</li>
                      <li>Thousand unknown plants</li>
                  </ul>
              </div>
              <h3>Tech specs</h3>
              <ul class="list">
                  <li><strong>Usable range:</strong> 57 - 125 cm</li>
                  <li><strong>Collapsed lenght:</strong> 57 - 125 cm</li>
                  <li><strong>Shaft:</strong> Plastic</li>
                  <li><strong>Integrated probe:</strong> No</li>
                  <li><strong>Locking mechanism:</strong> Dual FlickLock Pro</li>
              </ul>
              <h3>Product Reviews</h3>
                        <div class="product-comment">
                                <img class="product-comment-avatar" src="img/img_comment-tmb.jpg" style="float: left; margin-left: -105px;">
                                <div class="product-comment-rating rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                                <div class="product-comment-title">
                                    <strong>Greg Samson</strong>
                                </div>
                                <div class="product-comment-author">
                                    <span>Greg Samson</span>
                                </div>
                                <div class="product-comment-content item" style="overflow:hidden;">
                                I really love this hat. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="product-comment">
                                <img class="product-comment-avatar" src="img/img_comment-tmb.jpg" style="float: left; margin-left: -105px;">
                                <div class="product-comment-author">
                                    <strong>Jane Donovan</strong> (Hancock, NY)
                                </div>
                                <div class="item" style="overflow:hidden;">
                                <p>I really love this hat. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. Wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                <p>Possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. Wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="product-comment">
                                <img src="img/img_comment-tmb.jpg" style="float: left; margin-left: -105px;">
                                <div class="product-comment-author">
                                    <strong>Ann Smith</strong> (San Francisco, CA) <span class="label label-warning">PRO</span>
                                </div>
                                <div class="item" style="overflow:hidden;">
                                <p>I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies.</p>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                                <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</p>
                                <p>Like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
                                </div>
                                <div class="product-comment-images">
                                    <a href=""><img src="img/img_comment-tmb.jpg" width="30"></a> <a href=""><img src="img/img_comment-tmb.jpg" width="30"></a> <a href=""><img src="img/img_comment-tmb.jpg" width="30"></a>
                                </div>
                                <div class="clear"></div>
                            </div>          </div>
      </div>
  </div>
  </div>
</div>

