<div class="spacer"></div>
<div class="row">
  <div class="span3">
    <div class="home-featured-box cat1">
      <span>Fly Fishing Gear</span>
    </div>
    <div class="home-featured-box cat2">
      <span>Fly Tying</span>
    </div>
  </div>
  <div class="span3">
    <div class="home-featured-box cat1">
      <span>Fishing Clothing</span>
    </div>
    <div class="home-featured-box cat1">
      <span>Flies</span>
    </div>
  </div>
  <div class="span3">
    <a class="home-featured-box sales" href="">Sales Items</a>
    <a class="home-featured-box sales" href="">Gift Cards</a>
  </div>
  <div class="span3">
    <div class="home-tips">
      <h3>Fishing Tips</h3>
      <div class="product-sidebar">
        <div class="produst-image-tmb">
          <a href="">
            <img src="/img/img_hat.jpg" width="25" />
          </a>
        </div>
        <div class="product-sidebar-title">
          <a href="">Simms Fishing Hat Different edition</a>
        </div>
      </div>
      <div class="product-sidebar">
        <div class="produst-image-tmb">
          <a href="">
            <img src="/img/img_hat.jpg" width="25" />
          </a>
        </div>
        <div class="product-sidebar-title">
          <a href="">Simms Fishing Hat Different edition</a>
        </div>
      </div>
      <div class="product-sidebar no-border">
        <div class="produst-image-tmb">
          <a href="">
            <img src="/img/img_hat.jpg" width="25" />
          </a>
        </div>
        <div class="product-sidebar-title">
          <a href="">Simms Fishing Hat Different edition</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  end row  -->


		<div class="home-links">
  <div class="home-links-logos">
    <img src="/img/img_logo1.jpg" />
    <img src="/img/img_logo2.png" />
    <img src="/img/img_logo3.png" />
    <img src="/img/img_logo4.png" />
    <img src="/img/img_logo5.png" />
  </div>
  <div class="row">
    <div class="span2">
      <ul>
        <li class="manufacturer">
          <a href="/" class="manufacturer-link">Hatch</a>
        </li>
        <li>
          <a href="">Bauer</a>
        </li>
        <li>
          <a href="">Ross Reels</a>
        </li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>
          <a href="">Scott</a>
        </li>
        <li>
          <a href="">Orvis</a>
        </li>
        <li>
          <a href="">Sage</a>
        </li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>
          <a href="">Hatch</a>
        </li>
        <li>
          <a href="">Bauer</a>
        </li>
        <li>
          <a href="">Ross Reels</a>
        </li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>
          <a href="">Scott</a>
        </li>
        <li>
          <a href="">Orvis</a>
        </li>
        <li>
          <a href="">Sage</a>
        </li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>
          <a href="">Hatch</a>
        </li>
        <li>
          <a href="">Bauer</a>
        </li>
        <li>
          <a href="">Ross Reels</a>
        </li>
      </ul>
    </div>
    <div class="span2">
      <ul>
        <li>
          <a href="">Scott</a>
        </li>
        <li>
          <a href="">Orvis</a>
        </li>
        <li>
          <a href="">Sage</a>
        </li>
      </ul>
    </div>
  </div>
<!--  end row  -->
		</div>
<div class="home-promo">
  <span>West Branch Angler Resort</span>
</div>
