<!-- start slider component -->
    <div class="camera-slideshow">
        <strong><font color="red">Component: "camera slider" not active</font></strong>
    </div>
<!-- end slider component -->
    <div class="brands visible-lg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="sponsors">
              <li> <a href="http://www.orvis.com/" target="_blank"><img alt="Orvis" src="/images/logos/orvis.jpg" /></a> </li>
              <li> <a href="http://www.simmsfishing.com/" target="_blank"><img alt="Simms Fishing Products" src="/images/logos/simms.jpg" /></a> </li>
              <li> <a href="http://www.patagonia.com/" target="_blank"><img alt="Patagonia Fly Fishing Gear" src="/images/logos/patagonia.jpg" /></a> </li>
              <li> <a href="http://www.scottflyrod.com/" target="_blank"><img alt="Scott Fly Rods" src="/images/logos/scott.jpg" /></a> </li>
              <li> <a href="http://www.sageflyfish.com/" target="_blank"><img alt="Sage Fly Fish" src="/images/logos/sage.jpg" /></a> </li>
              <li> <a href="http://www.sageflyfish.com/" target="_blank"><img alt="Fishpond" src="/images/logos/fishpond.jpg" /></a> </li>
              <li>
                <button type="button" title="VIEW ALL BRANDS" class="button"><span><span>VIEW ALL BRANDS</span></span></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="banners">
      <div class="container">
        <div class="row">
          <h4>What's Hot</h4>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner1.jpg"/>
            <div>
              <h6>Hatch Reels</h6>
              <span>The king of fly reels what's behind the hype?</span> <strong>read more</strong> </div>
            </a> </div>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner2.jpg"/>
            <div>
              <h6>Sage One Fly Rod</h6>
              <span>We did a full on review pro blitz on the Sage One fly rod, the results are pretty interesting.</span> <strong>read more</strong> </div>
            </a> </div>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner3.jpg"/>
            <div>
              <h6>Felt vs Rubber </h6>
              <span>To use rubber or to use felt we weight out the pros and cons.</span> <strong>read more</strong> </div>
            </a> </div>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner4.jpg"/>
            <div>
              <h6>Streamer City</h6>
              <span>Big meaty nasty streamers what works and why.</span> <strong>read more</strong> </div>
            </a> </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"> <a href=""> <img alt="" src="/images/media/banner.jpg"/>
            <div>
              <h4>Pro Reviews</h4>
              <span>Our guides and shop pro staff use and abuse all of the latest gear and give you honest feedback.</span> <em>Guides are the backbone of our sport no one is on the river more then a pro fishing guide.  When new gear comes in we hand it off to our guides and get the real skinny.</em> <strong>read reviews</strong> </div>
            </a> </div>
        </div>
      </div>
    </div>
    <div class="main-container col1-layout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="main">
              <div class="col-main">
                <div class="padding-s">
                  <div class="std">
                    <div class="clear"></div>
                  </div>
                  <div class="page-title category-title">
                    <h1>New Gear</h1>
                  </div>
                  <ul class="products-grid row">
                    <li class="item col-xs-3 first">
                      <div class="product-container"> <a href="" title="Patagonia Foot Tractor" class="product-image"><img src="/product/patagonia-foot-tractor.png" alt="Patagonia Foot Tractor"></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Patagonia Foot Tractor">Patagonia Foot Tractor</a></h3>
                          <!--   -->
                          <div class="price-box"> <span class="regular-price" id="product-price-17-new"> <span class="price">$279.00</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                    <li class="item col-xs-3">
                      <div class="product-container"> <a href="" title="Blacks Ford LS Flannel Shirt" class="product-image"><img src="/product/simms-black-ford-flannel.png" alt="Blacks Ford LS Flannel Shirt"></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Blacks Ford LS Flannel Shirt">Black's Ford LS Flannel Shirt</a></h3>
                          <!--   -->
                          <div class="price-box"> <span class="regular-price" id="product-price-13-new"> <span class="price">$79.95</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                    <li class="item col-xs-3">
                      <div class="product-container"> <a href="" title="Simms Dry Creek Boat Bag Large" class="product-image"><img src="/product/simms-dry-creek-boat-bag-large.png" alt="Simms Dry Creek Boat Bag Large"></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Simms Dry Creek Boat Bag Large">Simms Dry Creek Boat Bag Large</a></h3>
                          <div class="price-box"> <span class="regular-price" id="product-price-11-new"> <span class="price">$229.95</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                    <li class="item col-xs-3 last">
                      <div class="product-container"> <a href="" title="Simms G4 Glove" class="product-image"><img src="/product/simms-g4-glove.png" alt="Simms G4 Glove"></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Simms G4 Glove">Simms G4 Glove</a></h3>
                          <div class="price-box"> <span class="regular-price" id="product-price-7-new"> <span class="price">$119.95</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                  </ul>
                  <ul class="products-grid row">
                    <li class="item col-xs-3 first">
                      <div class="product-container"> <a href="" title="Simms Pro Wading Staff" class="product-image"><img src="/product/simms-pro-wading-staff.png" alt="Simms Pro Wading Staff"></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Simms Pro Wading Staff">Simms Pro Wading Staff</a></h3>
                          <div class="price-box"> <span class="regular-price" id="product-price-18-new"> <span class="price">$149.95</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                    <li class="item col-xs-3">
                      <div class="product-container"> <a href="" title="Patagonia Men's Capilene® 4 Pro Zip-Neck" class="product-image"><img src="/product/patagonia-cap-4-top.png" alt="Patagonia Men's Capilene® 4 Pro Zip-Neck"></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Patagonia Men's Capilene® 4 Pro Zip-Neck">Patagonia Men's Capilene® 4 Pro Zip-Neck</a></h3>
                          <!--   -->
                          <div class="price-box"> <span class="regular-price" id="product-price-15-new"> <span class="price">$119.00</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                    <li class="item col-xs-3">
                      <div class="product-container"> <a href="" title="Simms Coldweather LS Shirt" class="product-image"><img src="/product/simms-coldweather-ls-shirt.png" alt=""></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Simms Coldweather LS Shirt">Simms Coldweather LS Shirt</a></h3>
                          <!--   -->
                          <div class="price-box"> <span class="regular-price" id="product-price-12-new"> <span class="price">$99.95</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                    <li class="item col-xs-3 last">
                      <div class="product-container"> <a href="" title="Fly-Agra Floatant" class="product-image"><img src="/product/fly-agra.png" alt="Fly-Agra Floatant"></a>
                        <div class="product-shop">
                          <h3 class="product-name"><a href="" title="Fly-Agra Floatant">Fly-Agra Floatant</a></h3>
                          <!--   -->
                          <div class="price-box"> <span class="regular-price" id="product-price-9-new"> <span class="price">$12.95</span> </span> </div>
                          <div class="actions">
                            <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details" onClick="setLocation('')"><span><span>Details</span></span></button>
                            <!-- <ul class="add-to-links">
                                                            <li><a href="" class="link-wishlist">Add to Wishlist</a></li>
                                                                                        <li><span class="separator">|</span> <a href="" class="link-compare">Add to Compare</a></li>
                                                    </ul> -->
                          </div>
                        </div>
                        <div class="label-product"> </div>
                        <div class="clear"></div>
                      </div>
                    </li>
                  </ul>
                  <div id="map-popup" class="map-popup" style="display:none;"> <a href="#" class="map-popup-close" id="map-popup-close">x</a>
                    <div class="map-popup-arrow"></div>
                    <div class="map-popup-heading">
                      <h2 id="map-popup-heading"></h2>
                    </div>
                    <div class="map-popup-content" id="map-popup-content">
                      <div class="map-popup-msrp" id="map-popup-msrp-box"><strong>Price:</strong> <span style="text-decoration:line-through;" id="map-popup-msrp"></span></div>
                      <div class="map-popup-price" id="map-popup-price-box"><strong>Actual Price:</strong> <span id="map-popup-price"></span></div>
                      <div class="map-popup-checkout">
                        <form action="" method="POST" id="product_addtocart_form_from_popup">
                          <input name="product" class="product_id" value="" id="map-popup-product-id" type="hidden">
                          <div class="additional-addtocart-box"> </div>
                          <button type="button" title="Add to Cart" class="button btn-cart" id="map-popup-button"><span><span>Add to Cart</span></span></button>
                        </form>
                      </div>
                    </div>
                    <div class="map-popup-text" id="map-popup-text">Our price is lower 
                      than the manufacturer's "minimum advertised price."  As a result, we 
                      cannot show you the price in catalog or the product page. <br>
                      <br>
                      You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.</div>
                    <div class="map-popup-text" id="map-popup-text-what-this">Our price 
                      is lower than the manufacturer's "minimum advertised price."  As a 
                      result, we cannot show you the price in catalog or the product page. <br>
                      <br>
                      You have no obligation to purchase the product once you know the price. You can simply remove the item from your cart.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
