<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>West Branch Angler</title>
<link rel=stylesheet href="css/index.css"/>
<link rel=stylesheet href="css/font.css"/>
<link rel=stylesheet href="css/carousel.css"/>
<link rel=stylesheet href="css/tab.css"/>
<link rel=stylesheet href="css/menu.css"/>
<link rel=stylesheet href="css/style.css"/>
<script type="text/javascript" language="javascript" src="js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.carouFredSel-5.6.4-packed.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.touchSwipe.js"></script>
<script type="text/javascript" language="javascript">
			$(function() {

				$("#foo2").carouFredSel({
	circular: false,
	infinite: false,
	auto 	: false,
	prev	: {	
		button	: "#foo2_prev",
		key		: "left"
	},
	next	: { 
		button	: "#foo2_next",
		key		: "right"
	},
	pagination	: "#foo2_pag"
});

$("#foo3").carouFredSel({
	circular: false,
	infinite: false,
	auto 	: false,
	prev	: {	
		button	: "#foo3_prev",
		key		: "left"
	},
	next	: { 
		button	: "#foo3_next",
		key		: "right"
	},
	pagination	: "#foo3_pag"
});

$("#foo4").carouFredSel({
	circular: false,
	infinite: false,
	auto 	: false,
	prev	: {	
		button	: "#foo4_prev",
		key		: "left"
	},
	next	: { 
		button	: "#foo4_next",
		key		: "right"
	},
	pagination	: "#foo4_pag"
});

$("#foo5").carouFredSel({
	circular: false,
	infinite: false,
	auto 	: false,
	prev	: {	
		button	: "#foo5_prev",
		key		: "left"
	},
	next	: { 
		button	: "#foo5_next",
		key		: "right"
	},
	pagination	: "#foo5_pag"
});

$("#foo7").carouFredSel({
	circular: false,
	infinite: false,
	auto 	: false,
	prev	: {	
		button	: "#foo7_prev",
		key		: "left"
	},
	next	: { 
		button	: "#foo7_next",
		key		: "right"
	},
	pagination	: "#foo7_pag"
});
				
});
		</script>
<script src="js/jquery.tabify.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
			$(document).ready(function () {
				$('#menu').tabify();
				$('#menu2').tabify();
			});
		</script>
<script type="text/javascript">
var timeout         = 500;
var closetimer		= 0;
var ddmenuitem      = 0;

function jsddm_open()
{	jsddm_canceltimer();
	jsddm_close();
	ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');}

function jsddm_close()
{	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}

function jsddm_timer()
{	closetimer = window.setTimeout(jsddm_close, timeout);}

function jsddm_canceltimer()
{	if(closetimer)
	{	window.clearTimeout(closetimer);
		closetimer = null;}}

$(document).ready(function()
{	$('#jsddm > li').bind('mouseover', jsddm_open);
	$('#jsddm > li').bind('mouseout',  jsddm_timer);});

document.onclick = jsddm_close;
</script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
</head>
<body>
<!-- Wrapper Head Start-->
<div id="wrapper_head">
  <!-- Head Strip Start-->
  <div class="head_strip">
    <!-- Head Links Start-->
    <div class="head_links">
      <!-- Links Start-->
      <div class="links">
        <p class="link_img1"><img src="images/my_account_bg.png" alt=""/></p>
        <p class="link_text"><a href="#">My Account</a></p>
        <p class="sep1">|</p>
        <p class="link_img1"><img src="images/login_bg.png" alt=""/></p>
        <p class="link_text"><a href="#">Login</a></p>
        <p class="sep1">|</p>
        <p class="link_img1"><img src="images/register_bg.png" alt=""/></p>
        <p class="link_text"><a href="#">Register</a></p>
        <div class="cl"></div>
      </div>
      <!-- Links End-->
      <!-- Cart Start-->
      <div class="cart">
        <p class="cart_icon"><img src="images/cart_link_bg.png" alt=""/></p>
        <p class="cart_sep"><img src="images/cart_sep_bg.png" alt=""/></p>
        <p class="cart_items">88</p>
        <p class="cart_text">Items&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In your Cart</p>
        <input type="submit" value="View cart" class="cart_submit" />
        <div class="cl"></div>
      </div>
      <!-- Cart End-->
      <div class="cl"></div>
    </div>
    <!-- Head Links End-->
  </div>
  <!-- Head Strip End-->
  <div class="cl"></div>
</div>
<!-- Wrapper Head End -->
<!-- Wrapper Mid Start -->
<div id="wrapper_mid">
  <!--Upper Conatiner Start -->
  <div class="upper">
    <!-- Logo Start  -->
    <div class="logo"><img src="images/logo.png" alt=""/></div>
    <!-- Logo End  -->
    <!-- Upper Links Start  -->
    <div class="upper_links">
      <div class="telephone">
        <p class="tel_icon"><img src="images/tel_bg.png" alt=""/></p>
        <p class="upper_sep"><img src="images/upper_sep.png" alt=""/></p>
        <p class="tel_text">800.201.2557</p>
        <div class="cl"></div>
      </div>
      <div class="cl"></div>
      <div class="search_box">
        <form class="search_form">
          <input type="text" value="Product or Keywords" class="search_text" id="search_clear1" onclick="search_clear();" />
          <input type="submit" value="SEARCH" class="search_submit"/>
        </form>
      </div>
      <div class="cl"></div>
    </div>
    <!-- Upper Links End -->
    <div class="cl"></div>
  </div>
  <!--Upper Conatiner End -->
  <!-- Menu And Flash Wrapper Start  -->
  <div class="menu_flash_wrapper">
    <!-- Menu And Flash Content Start  -->
    <div class="menu_flash_content">
      <div class="shadow_left"></div>
      <!-- Menu And Flash Start  -->
      <div class="mid_content">
        <!-- Menu Start  -->
        <div class="menu_upper">
          <ul id="jsddm">
            <li><a href="#" style="border-top-left-radius:4px;" class="menu_first">SHOP ONLINE</a>
              <ul style="width:145px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
            <li><a href="#">ABOUT US</a>
              <ul style="width:120px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
            <li ><a href="#">FISHING</a>
              <ul style="width:109px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
            <li><a href="#">BLOG</a>
              <ul style="width:90px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
            <li><a href="#">STREAM FLOW</a>
              <ul style="width:150px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
            <li><a href="#">GEAR REVIEW</a>
              <ul style="width:145px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
            <li><a href="#">SERVICES</a>
              <ul style="width:117px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
            <li><a href="#" style="border-top-right-radius:4px;" class="menu_last">MEDIA</a>
              <ul style="width:102px;">
                <li><a href="#">Item1</a></li>
                <li><a href="#">Item2</a></li>
                <li><a href="#">Item3</a></li>
                <li><a href="#">Item4</a></li>
                <li><a href="#">Item5</a></li>
                <li><a href="#">Item6</a></li>
              </ul>
            </li>
          </ul>
          <div class="clear"> </div>
        </div>
        <!-- Menu End  -->
        <!-- Flash Start  -->
        <div class="flash">
          <div class="rotator">
            <ul id="rotmenu" class="rotmenuc">
              <li class="rotli1">
                <div class="slide_detail_one" id="slide_detail_one1">
                  <div class="slide_image"><img src="images/slide_detail_one_bg.jpg" alt=""/></div>
                  <div class="slide_text">
                    <p class="slide_head" id="slide_head1">ULLAMCORPER SUSCIPIT</p>
                    <p class="slide_head_text" id="slide_head1_text">Lorem ipsum dolor</p>
                    <div class="cl"></div>
                  </div>
                </div>
                <div class="slide_detail_hover" id="slide_detail_hover1" onclick="location.href='#';" style="cursor: pointer;">
                  <p class="slide_detail_hover_text1">Lorem ipsum dolor sit amet</p>
                  <p class="slide_detail_hover_text2">Lorem ipsum dolor sit amet, conseImioic tetuer adipiscing elit </p>
                </div>
                <a href="#" class="activei"></a>
                <div style="display:none;">
                  <div class="info_image">1.jpg</div>
                </div>
              </li>
              <li class="rotli2">
                <div class="slide_detail_one" id="slide_detail_one2">
                  <div class="slide_image"><img src="images/slide_detail_two_bg.jpg" alt=""/></div>
                  <div class="slide_text">
                    <p class="slide_head" id="slide_head2">CONSEQUATEUM IRIU</p>
                    <p class="slide_head_text" id="slide_head2_text">Lorem ipsum dolor</p>
                    <div class="cl"></div>
                  </div>
                </div>
                <div class="slide_detail_hover" id="slide_detail_hover2" onclick="location.href='#';" style="cursor: pointer;">
                  <p class="slide_detail_hover_text1">Lorem ipsum dolor sit amet</p>
                  <p class="slide_detail_hover_text2">Lorem ipsum dolor sit amet, conseImioic tetuer adipiscing elit </p>
                </div>
                <a href="#" class="activej"></a>
                <div style="display:none;">
                  <div class="info_image">2.jpg</div>
                </div>
              </li>
              <li class="rotli3">
                <div class="slide_detail_one" id="slide_detail_one3">
                  <div class="slide_image"><img src="images/slide_detail_three_bg.jpg" alt=""/></div>
                  <div class="slide_text">
                    <p class="slide_head" id="slide_head3">ULLAMCORPER SUSCIPIT</p>
                    <p class="slide_head_text" id="slide_head3_text">Lorem ipsum dolor</p>
                    <div class="cl"></div>
                  </div>
                </div>
                <div class="slide_detail_hover" id="slide_detail_hover3" onclick="location.href='#';" style="cursor: pointer;">
                  <p class="slide_detail_hover_text1">Lorem ipsum dolor sit amet</p>
                  <p class="slide_detail_hover_text2">Lorem ipsum dolor sit amet, conseImioic tetuer adipiscing elit </p>
                </div>
                <a href="#" class="activek"></a>
                <div style="display:none;">
                  <div class="info_image">3.jpg</div>
                </div>
              </li>
              <li class="rotli4">
                <div class="slide_detail_one"  id="slide_detail_one4">
                  <div class="slide_image"><img src="images/slide_detail_four_bg.jpg" alt=""/></div>
                  <div class="slide_text">
                    <p class="slide_head" id="slide_head4">CONSEQUATEUM IRIU</p>
                    <p class="slide_head_text" id="slide_head4_text">Lorem ipsum dolor</p>
                    <div class="cl"></div>
                  </div>
                </div>
                <div class="slide_detail_hover" id="slide_detail_hover4" onclick="location.href='#';" style="cursor: pointer;">
                  <p class="slide_detail_hover_text1">Lorem ipsum dolor sit amet</p>
                  <p class="slide_detail_hover_text2">Lorem ipsum dolor sit amet, conseImioic tetuer adipiscing elit </p>
                </div>
                <a href="#" class="activel"></a>
                <div style="display:none;">
                  <div class="info_image">4.jpg</div>
                </div>
              </li>
            </ul>
            <div id="rot1"> <img src="" width="720" height="401" class="bg" alt=""/> </div>
          </div>
        </div>
        <!-- Flash End  -->
      </div>
      <!-- Menu And Flash End  -->
      <div class="shadow_right"></div>
      <div class="cl"></div>
    </div>
    <!-- Menu And Flash Content End  -->
  </div>
  <!-- Menu And Flash Wrapper End  -->
</div>
<!-- Wrapper Mid End -->
<!-- Wrapper Tab Start -->
<div class="tab_wrapper">
  <!-- Tab Content Start -->
  <div class="tab_content">
    <!-- Scroller Start -->
    <div class="scroller">
      <div class="tab1_shadow1"><img src="images/tab1_shadow1.png" alt=""/></div>
      <div class="image_carousel">
        <div id="foo2"> <a href="#" class="carousel_link" style=" margin-left:19px;"><img src="images/tab1_image1.jpg" alt="" width="261" height="167"/></a> <a href="#" class="carousel_link"><img src="images/tab1_image2.jpg" alt="" width="261" height="167" /></a> <a href="#" class="carousel_link"><img src="images/tab1_image3.jpg" alt="" width="261" height="167" /></a> <a href="#" class="carousel_link" style=" margin-left:19px;"><img src="images/tab1_image4.jpg" alt="" width="261" height="167"/></a> <a href="#" class="carousel_link"><img src="images/tab1_image5.jpg" alt="" width="261" height="167" /></a> <a href="#" class="carousel_link"><img src="images/tab1_image6.jpg" alt="" width="261" height="167" /></a> </div>
        <div class="cl"></div>
        <div class="clearfix"></div>
        <a class="prev" id="foo2_prev" href="#"><span>prev</span></a> <a class="next" id="foo2_next" href="#"><span>next</span></a> </div>
      <div class="tab1_shadow2"><img src="images/tab1_shadow2.png" alt=""/></div>
      <div class="cl"></div>
    </div>
    <!-- Scroller End -->
    <!-- Banner Start  -->
    <div class="banner">
      <p class="banner_text">Lorem ipsum dolor sit amet, <span>consectetuer adipiscing</span> elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliqua.</p>
      <div class="read_more">
        <p><a href="#"><img src="images/banner_read_bg1.png" alt="" onmouseover="img_change1();" onmouseout="img_change2();" id="read_image"/></a></p>
        <p class="read_link"><a href="#">Read More</a></p>
      </div>
      <div class="cl"></div>
    </div>
    <!-- Banner End  -->
    <!-- Multiple Tab Start  -->
    <div class="multi_tab">
      <ul id="menu" class="menu">
        <li class="active"><a href="#brand" style="border-top-left-radius:4px;">BY BRAND</a></li>
        <li><a href="#category" style="border-left:none;">BY CATEGORIES</a></li>
        <li><a href="#best_selling" style="border-left:none;">BY BEST-SELLING</a></li>
        <li><a href="#new_offers" style="border-left:none; border-top-right-radius:4px;" >BY NEW OFFERS</a></li>
      </ul>
      <div id="brand" class="content">
        <!-- Slider_One Start  -->
        <div class="image_carousel1">
          <div id="foo3">
            <!-- Product_One Start  -->
            <div class="brand_product1">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_One End  -->
            <!-- Product_Two Start  -->
            <div class="brand_product2">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Two End  -->
            <!-- Product_Three Start  -->
            <div class="brand_product3">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Three End  -->
            <!-- Product_Four Start  -->
            <div class="brand_product4">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Four End  -->
            <!-- Product_Five Start  -->
            <div class="brand_product5">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Five End  -->
            <!-- Product_Six Start  -->
            <div class="brand_product6">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Six End  -->
          </div>
          <div class="cl"></div>
          <div class="clearfix"></div>
          <a class="prev1" id="foo3_prev" href="#"><span>prev</span></a> <a class="next1" id="foo3_next" href="#"><span>next</span></a> </div>
        <!-- Slider_One End  -->
      </div>
      <div id="category" class="content">
        <!-- Slider_Two Start  -->
        <div class="image_carousel1">
          <div id="foo4">
            <!-- Product_One Start  -->
            <div class="brand_product1">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_One End  -->
            <!-- Product_Two Start  -->
            <div class="brand_product3">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Two End  -->
            <!-- Product_Three Start  -->
            <div class="brand_product2">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Three End  -->
            <!-- Product_Four Start  -->
            <div class="brand_product4">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Four End  -->
            <!-- Product_Five Start  -->
            <div class="brand_product5">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Five End  -->
            <!-- Product_Six Start  -->
            <div class="brand_product6">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Six End  -->
          </div>
          <div class="cl"></div>
          <div class="clearfix"></div>
          <a class="prev1" id="foo4_prev" href="#"><span>prev</span></a> <a class="next1" id="foo4_next" href="#"><span>next</span></a> </div>
        <!-- Slider_Two End  -->
      </div>
      <div id="best_selling" class="content">
        <!-- Slider_Three Start  -->
        <div class="image_carousel1">
          <div id="foo5">
            <!-- Product_One Start  -->
            <div class="brand_product1">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_One End  -->
            <!-- Product_Two Start  -->
            <div class="brand_product2">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Two End  -->
            <!-- Product_Three Start  -->
            <div class="brand_product3">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Three End  -->
            <!-- Product_Four Start  -->
            <div class="brand_product4">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Four End  -->
            <!-- Product_Five Start  -->
            <div class="brand_product5">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Five End  -->
            <!-- Product_Six Start  -->
            <div class="brand_product6">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Six End  -->
          </div>
          <div class="cl"></div>
          <div class="clearfix"></div>
          <a class="prev1" id="foo5_prev" href="#"><span>prev</span></a> <a class="next1" id="foo5_next" href="#"><span>next</span></a> </div>
        <!-- Slider_Three End  -->
      </div>
      <div id="new_offers" class="content">
        <!-- Slider_Three Start  -->
        <div class="image_carousel1">
          <div id="foo7">
            <!-- Product_One Start  -->
            <div class="brand_product1">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_One End  -->
            <!-- Product_Two Start  -->
            <div class="brand_product3">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Two End  -->
            <!-- Product_Three Start  -->
            <div class="brand_product2">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Three End  -->
            <!-- Product_Four Start  -->
            <div class="brand_product4">
              <div class="brand_details">
                <p class="brand_text">SIMMS RIVERTEK BOA BOOT</p>
                <p class="brand_rate">STARTING AT : $179.95</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Four End  -->
            <!-- Product_Five Start  -->
            <div class="brand_product5">
              <div class="brand_details">
                <p class="brand_text">ROSS FLYRISE FLY REEL</p>
                <p class="brand_rate">STARTING AT : $52.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Five End  -->
            <!-- Product_Six Start  -->
            <div class="brand_product6">
              <div class="brand_details" >
                <p class="brand_text" style="width:200px;">Fishpond Rio Grande 
                  Wader Belt</p>
                <p class="brand_rate">STARTING AT : $49.00</p>
                <p class="brand_shop"><a href="#">SHOP</a></p>
              </div>
            </div>
            <!-- Product_Six End  -->
          </div>
          <div class="cl"></div>
          <div class="clearfix"></div>
          <a class="prev1" id="foo7_prev" href="#"><span>prev</span></a> <a class="next1" id="foo7_next" href="#"><span>next</span></a> </div>
        <!-- Slider_Four End  -->
      </div>
    </div>
    <!-- Multiple Tab End  -->
    <!-- Our Journey Start -->
    <div class="journey">
      <div class="journey_text">
        <p>OUR JOURNEY</p>
      </div>
      <div class="journey_more">
        <p><a href="#"><img src="images/journey_more_bg1.png" alt="" onmouseover="img_change3();" onmouseout="img_change4();" id="read_image1"/></a></p>
      </div>
      <div class="cl"></div>
    </div>
    <!-- Our Journey End -->
    <!-- Content Box Start -->
    <div class="content_box">
      <!-- Content Box One Start-->
      <div class="content_box_one">
        <p class="content_box_head">ENIM AD MINIM VENIAM</p>
        <div class="content_box_image"><img src="images/content_image1.jpg" alt=""/></div>
        <div class="content_box_text">
          <p class="content_box_text_head">Lorem ipsum dolor sit amet</p>
          <p class="content_box_text1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          <p class="content_box_read"><a href="#">Read More</a></p>
        </div>
      </div>
      <!-- Content Box One End-->
      <!-- Content Box Two Start-->
      <div class="content_box_two">
        <p class="content_box_head">ENIM AD MINIM VENIAM</p>
        <div class="content_box_image"><img src="images/content_image2.jpg" alt=""/></div>
        <div class="content_box_text">
          <p class="content_box_text_head">Lorem ipsum dolor sit amet</p>
          <p class="content_box_text1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          <p class="content_box_read"><a href="#">Read More</a></p>
        </div>
      </div>
      <!-- Content Box Two End-->
      <!-- Content Box Three Start-->
      <div class="content_box_three">
        <p class="content_box_head">ENIM AD MINIM VENIAM</p>
        <div class="content_box_image"><img src="images/content_image3.jpg" alt=""/></div>
        <div class="content_box_text">
          <p class="content_box_text_head">Lorem ipsum dolor sit amet</p>
          <p class="content_box_text1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          <p class="content_box_read"><a href="#">Read More</a></p>
        </div>
      </div>
      <!-- Content Box Three End-->
      <div class="cl"></div>
      <div class="content_box-shadow1"><img src="images/content_box_shadow.png" alt=""/></div>
      <div class="content_box-shadow2"><img src="images/content_box_shadow.png" alt=""/></div>
      <div class="content_box-shadow3"><img src="images/content_box_shadow.png" alt=""/></div>
      <div class="cl"></div>
    </div>
    <!-- Content Box End -->
  </div>
  <!-- Tab Content End -->
</div>
<!-- Wrapper Tab End -->
<!-- Footer Wrapper Start -->
<div class="footer_wrapper">
  <!-- Footer Content Start -->
  <div class="footer_content">
    <!-- Footer Left Links Start -->
    <div class="footer_links">
      <div class="footer_link1">
        <p class="footer_link_head">ABOUT US</p>
        <p class="footer_link_text1"><a href="#">About Us</a></p>
        <p class="footer_link_text2"><a href="#">Contact Us</a></p>
        <p class="footer_link_text2"><a href="#">Advertise with Us</a></p>
        <p class="footer_link_text2"><a href="#">Careers</a></p>
        <p class="footer_link_text2"><a href="#">Legal | Terms of Service and Use</a></p>
        <p class="footer_link_text2"><a href="#">Privacy Policy</a></p>
        <p class="footer_link_text2"><a href="#">Small Business Advertising</a></p>
        <p class="footer_link_text2"><a href="#">Advertising Choices</a></p>
      </div>
      <div class="footer_link2">
        <p class="footer_link_head">CATEGORIES</p>
        <p class="footer_link_text1"><a href="#">Advertise with Us</a></p>
        <p class="footer_link_text2"><a href="#">Fishing Clothing</a></p>
        <p class="footer_link_text2"><a href="#">Accessories</a></p>
        <p class="footer_link_text2"><a href="#">Sale Items</a></p>
        <p class="footer_link_text2"><a href="#">Apparal</a></p>
        <p class="footer_link_text2"><a href="#">Gear</a></p>
        <p class="footer_link_text2"><a href="#">Gift Cards</a></p>
        <p class="footer_link_text2"><a href="#">Event Tickets</a></p>
      </div>
      <div class="footer_link2">
        <p class="footer_link_head">HELP AND SUPPORT</p>
        <p class="footer_link_text1"><a href="#">Contact Us</a></p>
        <p class="footer_link_text2"><a href="#">Live Help</a></p>
        <p class="footer_link_text2"><a href="#">Order Status</a></p>
        <p class="footer_link_text2"><a href="#">Returns and Exchanges</a></p>
        <p class="footer_link_text2"><a href="#">Shipping Info</a></p>
        <p class="footer_link_text2"><a href="#">1-800-426-4840</a></p>
        <p class="footer_link_text2"><a href="#">Product Safety &amp; Recalls</a></p>
        <p class="footer_link_text2"><a href="#">Customer Reviews</a></p>
      </div>
      <div class="cl"></div>
    </div>
    <!-- Footer Left Links End -->
    <!-- Footer Right Links Start -->
    <div class="footer_right">
      <!-- Newsletter Start  -->
      <div class="news_letter">
        <p class="news_head">Stay up to date with all of the latest<br/>
          Our news, promotions.</p>
        <form class="form_news">
          <input type="text" value="Your Email Address" class="news_input" id="news_clear1" onclick="news_clear();"/>
          <input type="submit" value="GO" class="news_go"/>
        </form>
        <div class="cl"></div>
      </div>
      <!-- Newsletter End  -->
      <!-- Social Icons Start  -->
      <div class="social">
        <ul id="navlist">
          <li style="padding-left:0px;" id="twit"><a href="#"></a></li>
          <li id="fb"><a href="#"></a></li>
        </ul>
        <div class="cl"></div>
      </div>
      <!-- Social Icons End -->
      <div class="cl"></div>
    </div>
    <!-- Footer Right Links End -->
    <div class="cl"></div>
    <!-- Copyright Links Start  -->
    <div class="copyright">
      <p class="copyright_sep">.....................................................................................................................................................................................................................................................</p>
      <p class="copyright_text">All contents © Copyright 2012 West Branch Angler </p>
      <p class="copyright_text1">Our logo and all other West Branch Angler marks contained herein are trademarks of West Branch Angler</p>
    </div>
    <!-- Copyright Links End  -->
  </div>
  <!-- Footer Content End -->
</div>
<!-- Footer Wrapper End -->
</body>
</html>
