<div class="row">
  <div class="span3 sidebar">
    <div class="sidebar-widget">
      <h3>Brand</h3>
      <select class="input-medium">
        <option>Select</option>
      </select>
    </div>
    <div class="sidebar-widget">
      <h3>Category</h3>
      <label class="checkbox" for="checkbox1"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox1" type="checkbox" value="" />
		            Hats</label>
      <label class="checkbox" for="checkbox1"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox1" type="checkbox" value="" />
		            Jackets</label>
      <label class="checkbox checked" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input checked="checked" data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Shirts</label>
    </div>
    <div class="sidebar-widget">
      <h3>Category Scrollbar</h3>
      <div class="sidebar-scrollbar">
        <label class="checkbox" for="checkbox1"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox1" type="checkbox" value="" />
		            Hats</label>
        <label class="checkbox" for="checkbox1"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox1" type="checkbox" value="" />
		            Jackets</label>
        <label class="checkbox checked" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input checked="checked" data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Shirts</label>
        <label class="checkbox" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Pants</label>
        <label class="checkbox" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Shoes</label>
        <label class="checkbox" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					T-shirts</label>
        <label class="checkbox checked" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input checked="checked" data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Shirts</label>
        <label class="checkbox" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Pants</label>
        <label class="checkbox checked" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input checked="checked" data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Shirts</label>
        <label class="checkbox" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					Pants</label>
      </div>
    </div>
    <div class="sidebar-widget">
      <h3>Gender</h3>
      <select class="input-medium">
        <option>Men's</option>
      </select>
    </div>
    <div class="sidebar-widget">
      <h3>Size</h3>
      <label class="checkbox" for="checkbox1"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox1" type="checkbox" value="" />
		            XL</label>
      <label class="checkbox" for="checkbox1"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox1" type="checkbox" value="" />
		            L</label>
      <label class="checkbox checked" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input checked="checked" data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					M</label>
      <label class="checkbox" for="checkbox2"><span class="icons"><span class="first-icon fui-checkbox-unchecked"></span><span class="second-icon fui-checkbox-checked"></span></span><input data-toggle="checkbox" id="checkbox2" type="checkbox" value="" />
					S</label>
    </div>
    <div class="sidebar-widget">
      <h3>Price</h3>
      <select class="input-medium">
        <option>Men's</option>
      </select>
    </div>
  </div>
  <div class="span9">
    <h2>Search results for: <span class="category-name">Small hats</span></h2>
    <div class="product-list-options"><div class="align-right"><select class="input-micro"><option>No. of results</option></select> <select class="input-micro"><option>Sort by</option></select></div>
					Showing products <strong>1-20</strong> of <strong>220</strong> found
				</div>
    <div class="pagination pagination-small">
      <ul>
        <li>
          <a href="#">«</a>
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">»</a>
        </li>
      </ul>
    </div>
    <!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <form action="/" method="GET" class="product-more-info">
        <button class="btn btn-small">More info</button>
        </form>
        <div class="hover-addto">
          <form action="/cart" method="POST">
          <input type="hidden" name="sku" class="sku" value="">
          <button class="btn btn-success">Add to cart</button>
          </form>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Simms Microfiber Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock preorder">
        <a href="">Preorder</a>
      </span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box last">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Simms Microfiber Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Simms Microfiber Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock preorder">
        <a href="">Preorder</a>
      </span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box last">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Simms Microfiber Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Simms Microfiber Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock preorder">
        <a href="">Preorder</a>
      </span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->

				<!--  product-box  -->
    <div class="product-box last">
      <div class="product-hover">
        <div class="rating">
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star.png" />
          <img src="/img/i_star-empty.png" />
          <img src="/img/i_star-empty.png" />
        </div>
        <button class="btn btn-small">More info</button>
        <div class="hover-addto">
          <button class="btn btn-success">Add to cart</button>
        </div>
      </div>
      <div class="product-image">
        <a href="">
          <img src="/img/img_product_tmb.jpg" />
        </a>
      </div>
      <div class="product-colors"><span class="product-color red"></span> <span class="product-color orange"></span> <span class="product-color yellow"></span></div>
      <div class="product-title">
        <a href="">Simms Microfiber Short Bill Cap</a>
      </div>
      <span class="product-price">$17,55</span>
      <span class="product-stock in-stock">In stock</span>
    </div>
    <!--  end product-box  -->
    <div class="pagination pagination-small">
      <ul>
        <li>
          <a href="#">«</a>
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">»</a>
        </li>
      </ul>
    </div>
  </div>
</div>
