<div class="banner">
<div class="blox section-bg1">
    <div class="container">
          <hr class="vertical-space3">
     <div class="row">

      
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
        <h1 style="font-family: "Open Sans",sans-serif; font-weight: 300;"class="reklam2">I am John Smith</h1>
        <h4><strong>Lead Designer &amp; Frontend Developer</strong></h4>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Etiam ut lacus a dui accumsan accumsan tofu stumptown aliqua, retro synth master cleanse.</p>
        <br>
        <a href="#" class="btn btn-primary">Visit My Portfolio</a> </div>
        
              <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

        </div>
        
        
        </div>
    </div>
  </div>  
  
  
<!-- Blox End
  ================================================== -->
  
  
  
  
  
  
  <!-- About me Start
  ================================================== -->  
  
<section class="mainContent">
<hr class="vertical-space2"> 
<div class="container">   
<div class="row">
  
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          
          
 
      <h4 class="subtitle">A LITTLE ABOUT ME</h4>
      <h2>Raw denim you probably haven't heard of them jean shorts Austin.</h2>
      <p>Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy  vinyl craft beer blog stumptown salvia banksy cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray denim you probably haven't heard of them jean shorts Austin. Etiam ut lacus a dui accumsan accumsan tofu stumptown aliqua, retro synth master cleanse.</p>
      <p><small>John Smith April 29 2012</small></p>

              
           
            </div> 


   <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  
<h4 class="subtitle">My Skills</h4>
<hr class="vertical-space1">

  
 <div class="progress  progress-striped progress-blue"  data-progress="90">
        <div class="bar" >HTML 5 - <small>90%</small></div>
      </div>
     <div class="progress  progress-striped progress-orange"  data-progress="80">
        <div class="bar" >CSS 3 - <small>80%</small></div>
      </div>
      <div class="progress  progress-striped progress-red" data-progress="60">
        <div class="bar" >PHP - <small>60%</small></div>
      </div>
      <div class="progress  progress-striped progress-green"  data-progress="40">
        <div class="bar" >mySQL - <small>40%</small></div>
      </div>


</div>


</div>
</div>

</section>
  
<!-- About me End
  ================================================== -->






<!-- Client  starts
  ==================== -->

<section class=" clients">

<div class="container">  
    

        <h4 class="subtitle">Clients</h4>
<hr class="vertical-space1">
      <ul id="our-clients" class="our-clients">
        <li><img src="images/clients/logo-01.png" alt=""></li>
        <li><img src="images/clients/logo-02.png" alt=""></li>
        <li><img src="images/clients/logo-03.png" alt=""></li>
        <li><img src="images/clients/logo-04.png" alt=""></li>
        <li><img src="images/clients/logo-05.png" alt=""></li>
        <li><img src="images/clients/logo-04.png" alt=""></li>
        <li><img src="images/clients/logo-05.png" alt=""></li>
      </ul>

       </div>  

  </div>
  

  </section>

<!-- Client ends
  ==================== -->
</div>



