<div class="banner">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Library of videos</h1>
                </div>
                <div class="col-md-5">
                    <ol class="breadcrumb pull-right">
                        <li><a href="index.htm">Home</a></li>
                        <li class="active">Video</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    
    <section class="content content-light">
        <div class="container">
            <!-- Category boxes with icon & name -->
            <div class="row category-box-row">
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-camera fa-5x"></i>
                        <h2>Casting</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-cogs fa-5x"></i>
                        <h2>Fly Tying</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-list-alt fa-5x"></i>
                        <h2>Knots</h2>
                    </a>
                </div>
            </div>
            <!-- Category boxes with icon & name
            <div class="row category-box-row">
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-female fa-5x"></i>
                        <h2>Fashion &amp; styling</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-book fa-5x"></i>
                        <h2>Writing books</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-signal fa-5x"></i>
                        <h2>Google analytics</h2>
                    </a>
                </div>
            </div>
            <div class="row category-box-row category-box-row-hidden">
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-camera-retro fa-5x"></i>
                        <h2>Photomanipulation</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-wrench fa-5x"></i>
                        <h2>Creating beats</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-list-alt fa-5x"></i>
                        <h2>Design websites</h2>
                    </a>
                </div>
            </div>
            <!-- Category boxes with icon & name -->
            <div class="row category-box-row category-box-row-hidden">
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-female fa-5x"></i>
                        <h2>Fashion &amp; styling</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-book fa-5x"></i>
                        <h2>Writing books</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="videos-grid.htm" class="category-box-item">
                        <i class="fa fa-bar-chart-o fa-5x"></i>
                        <h2>Google analytics</h2>
                    </a>
                </div>
            </div>
            
            <hr class="invisible" />
            
            <p class="text-center"><a href="#more" class="btn btn-theme btn-gray" id="loadCategoryMore">Load more</a></p>
     -->
   </div>
    </section>
</div>
