   <div class="slider-container">
      <div class="slider_block">
        <script type="text/javascript" src="/js/camera.js"></script>
        <script type="text/javascript">
         /* index slider */
         jQuery(function(){
          jQuery('#camera_wrap').camera({
          alignmen: 'topCenter',
          height: '20.357%',
          minHeight: '34px',
          loader : true,
          loaderColor: '#f48b47',
          loaderPadding: '0',
          loaderStroke: '2',
          navigation: true,
          pagination: false,
          fx: 'simpleFade',
          navigationHover:false,
          thumbnails: false,
          playPause: false 
          });
         });    
         </script>
        <div class="fluid_container">
          <div class="camera_wrap camera_orange_skin" id="camera_wrap">
            <div class="slider slide-data" data-link="#" data-src="/images/camera/slides/slide5.jpg"></div>
        </div>
       <div class="clear"></div>
        </div>
      </div>
    </div>
