<div class="main-container col2-left-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="row">
            <div class="col-main col-xs-12 col-sm-9">
              <div class="padding-s">
                <div class="my-account">
                  <div class="page-title title-buttons">
                    <h1>Address Book</h1>
                    <button type="button" title="Add New Address" class="button" onClick="window.location='';"><span><span>Add New Address</span></span></button>
                  </div>
                  <div class="col2-set addresses-list">
                    <div class="col-1 addresses-primary">
                      <h2>Default Addresses</h2>
                      <ol>
                        <li class="item">
                          <h3>Default Billing Address</h3>
                          <address>
                          Sam Batschelet<br>
                          West Branch Angler<br>
                          704 Mirador Rd<br>
                          Vestal,  New York, 13850<br>
                          United States<br>
                          T: 607-467-5525
                          </address>
                          <p><a href="">Change Billing Address</a></p>
                        </li>
                        <li class="item">
                          <h3>Default Shipping Address</h3>
                          <address>
                          Sam Batschelet<br>
                          West Branch Angler<br>
                          704 Mirador Rd<br>
                          Vestal,  New York, 13850<br>
                          United States<br>
                          T: 607-467-5525
                          </address>
                          <p><a href="">Change Shipping Address</a></p>
                        </li>
                      </ol>
                    </div>
                    <div class="col-2 addresses-additional">
                      <h2>Additional Address Entries</h2>
                      <ol>
                        <li class="item empty">
                          <p>You have no additional address entries in your address book.</p>
                        </li>
                      </ol>
                    </div>
                  </div>
                  <div class="buttons-set">
                    <p class="back-link"><a href=""><small>« </small>Back</a></p>
                  </div>
                </div>
              </div>
            </div>
             <div class="col-left sidebar col-xs-12 col-sm-3">
                <div class="block block-account first">
                  <div class="block-title">
                    <strong><span>My Account</span></strong>
                  </div>

                  <div class="block-content">
                    <ul>
                      <li><a href="/account">Account
                      Dashboard</a></li>

                      <li><a href="/account/edit">Account Information</a></li>

                      <li><strong>Address Book</strong></li>

                      <li><a href="/account/my-orders">My Orders</a></li>
                      <!-- not avail
                  <li><a href="">Billing Agreements</a></li>
                    <li><a href="">Recurring Profiles</a></li>
                    <li><a href="">My Product Reviews</a></li>
                    <li><a href="">My Tags</a></li>
                    <li><a href="">My Wishlist</a></li>
                    <li><a href="">My Applications</a></li>
                    <li><a href="">Newsletter Subscriptions</a></li>
                    <li class="last"><a href="">My Downloadable Products</a></li>
-->
                    </ul>
                  </div>
                </div>

                <div class="block block-cart">
                  <div class="block-title">
                    <strong><span>My Cart</span></strong>
                  </div>

                  <div class="block-content">
                    <p class="empty">You have no items in your
                    shopping cart.</p>
                  </div>
                </div>
                <!--           <div class="block block-list block-compare last_block">
                <div class="block-title"> <strong><span>Compare Products </span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <p class="empty">You have no items to compare.</p>
                </div>
              </div>
-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
