<div class="main-container col2-right-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="breadcrumbs">
            <ul>
              <li class="home"> <a href="" title="Go to Home Page">Home</a> <span>&gt;</span> </li>
              <li class="category6"> <a href="" title="">Add Product Review</a> <span>&gt;</span> </li>
              <li class="product"> <strong class="name">Patagonia Foot Tractor</strong> </li>
            </ul>
          </div>
          <div class="row spacer">
            <div class="col-main col-xs-12">
              <div class="padding-s">
                <div id="messages_product_view"></div>
                <div class="product-view">
                  <div class="product-essential">
                  <div class="no-display">
                  </div>
                  <div class="product-img-box">
                    <div class="product-box-customs">
                      <p class="image-container"><img class="big product-image" src="/products/images/300x300/patagonia-foot-tractor.png" alt="" title="Patagonia Foot Tractor Wading Boot"></p>
                   </div>
                      <div class="row spacer">
                        <h1>Current Reviews</h1>
                        <div class="col-md-4 product-reviews-summary spacer">
                          <div class="rateit review-avg-star" data-rateit-ispreset="true" data-rateit-readonly="true" data-rateit-value="1.8"></div>
                        </div>
                      <div class="col-md-8">
                        <div class="product-reviews-summary spacer">
                          <span><span class="review-avg">4.7</span>/5</span> based on <span class="review-count">66</span> reviews
                       </div>
                        <div class="no-product-review spacer">
                          <p class="fa fa-pencil"> Cool your review will be the first!</p>
                        </div>
                      </div>
                    </div> <!-- end .row -->

                  </div>
                  <div class="product-shop">
                  <div class="product-name">
                    <h1 class="name">Patagonia Foot Tractor</h1>
                  </div>
                 <div class="box-collateral box-reviews" id="customer-reviews"> </div>
                  <div class="box-collateral form-add">
                    <h2>Write Your Own Review<span class="toggle opened"></span></h2>
                    <div style="display: block;" class="box-collateral-content">

                      <form action="/review/" method="post" name="review" id="review" data-toggle="validator" role="form">

                        <fieldset>
                          <ul class="form-list">

                            <li>
                              <label for="rating" class="control-label">Overall Rating</label>
                              <div class="input-box">
                                <input name="rating" type="range" min="0" max="5" value="0" step="0.5" id="rating-backing">
                                <span class="rateit" data-rateit-backingfld="#rating-backing"></span>
                              </div>
                            </li>

                            <li>
                              <label for="nickname_field" class="control-label">Nickname</label>
                              <div class="input-box">
                                <input name="nickname" id="nickname_field" class="input-text form-control" type="text">
                              </div>
                            </li>

                            <li>
                              <label for="summary_field" class="control-label">Summary of Your Review</label>
                              <div class="input-box">
                                <input name="title" id="summary_field" class="input-text form-control" type="text">
                              </div>
                            </li>

                            <li>
                              <label for="review_field" class="control-label">Review</label>
                              <div class="input-box">
                                <textarea name="content" id="review_field" cols="5" rows="3" class="form-control"></textarea>
                              </div>
                            </li>

                            <li>
                              <label for="recommend_field" class="control-label">Would You Recommend to a Friend?</label>
                              <div class="input-box">
                                <input name="recommend" id="recommend_field" class="form-control" value="1" type="checkbox">
                              </div>
                            </li>

                          </ul>
                        </fieldset>

                        <div class="buttons-set">
                          <button type="submit" title="Submit Review" class="button"><span><span>Submit Review</span></span></button>
                        </div>
                      </form>
                    </div>
                  </div>

                   </div><!-- end -->
                    <div class="clearer"></div>
                </div>
      </div>
    </div>
  </div>
</div>
</div>

