<div class="container center-block">
<div class="btn-group" style="padding-left:14%;">
<button class="btn btn-default btn-sm disabled">Share:</button>
<a class="btn btn-default btn-sm" target="_blank" title="Like On Facebook" href="http://www.facebook.com/plugins/like.php?href=">
<i class="fa fa-thumbs-o-up fa-lg fb"></i>
</a>
<a class="btn btn-default btn-sm google-p-one" target="_blank" title="+1 On Google" href="https://apis.google.com/_/+1/fastbutton?usegapi=1&amp;size=large&amp;hl=en&amp;url=">
<i class="fa fa-google-plus fa-2x googlep"></i>
<span class="googlep">1</span>
</a>
<a class="btn btn-default btn-sm" target="_blank" title="On Facebook" href="http://www.facebook.com/sharer.php?u=[URL-HERE]&amp;t=[TEXT-HERE]">
<i class="fa fa-facebook fa-lg fb"></i>
</a>
<a class="btn btn-default btn-sm" target="_blank" title="On Twitter" href="http://twitter.com/share?url=[URL-HERE];text=[TEXT-HERE]">
<i class="fa fa-twitter fa-lg tw"></i>
</a>
<a class="btn btn-default btn-sm" target="_blank" title="On Google Plus" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url=[URL-HERE]">
<i class="fa fa-google-plus fa-lg googlep"></i>
</a>
<a class="btn btn-default btn-sm" target="_blank" title="On LinkedIn" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=[URL-HERE]">
<i class="fa fa-linkedin fa-lg linkin"></i>
</a>
<a class="btn btn-default btn-sm" target="_blank" title="On VK.com" href="http://vk.com/share.php?url=[URL-HERE]&amp;title=[TEXT-HERE]&amp;image=[IMAGE=HERE]">
<i class="fa fa-vk fa-lg vk"></i>
</a>
<a class="btn btn-default btn-sm" target="_blank" title="Pin It" href="http://www.pinterest.com/pin/create/button/?url=[URL-HERE]&amp;media=[IMAGE-HERE]&amp;description=[TEXT-HERE];">
<i class="fa fa-pinterest fa-lg pinterest"></i>
</a>
<a class="btn btn-default btn-sm" target="_blank" title="Surf!" href="http://surfingbird.ru/share?url=[URL-HERE]&amp;description=[TEXT-HERE]&amp;screenshot=[IMAGE-HERE]&amp;title=[TITLE-HERE]">
<i class="fa surfingbird fa-lg"></i>
</a>
</div>
</div>
