<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-7">
<meta content="text/html;charset=utf-8">
<title>Your West Branch Angler Order Number <span id="inputOrderNumber">WBA20001</span></title>
<style type="text/css">
.receiptLinks a {
	color:#676767;
	text-decoration:none;
}
</style>
</head>
<body bgcolor="#f1f0f0">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color:#f1f0f0;">
  <tr>
    <td><div align="center" style="text-align:center;margin:0;padding: 5px 5px 5px 5px;"> <span style="font-family:Arial,sans-serif; font-size:7.5pt; color:#898989;"> Questions About your Order? <a class="service-email" href="mailto:orders@westbranchangler.com" target="_blank" style="font-family: Arial,sans-serif; font-size:7.5pt; color:#75BDFD;">Contact the shop!</a> </span> </div>
      <table border="0" cellpadding="0" cellspacing="0" width="660" align="center" bgcolor="#FFFFFF">
        <tr>
          <td align="left" valign="top"><table width="660" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img style="display:block; border:none; border-style: none;" src="/images/e-topbar.png" width="270" height="38"  alt=""/></td>
                <td><a class="site-domain" href="http://www.westbranchangler.com" target="_blank"> <img style="display:block; border:none; bord er-style: none;" src="/images/e-mayfly.png" width="80" height="38"  alt="West Branch Angler"/> </a></td>
                <td align="center" width="315" style="background-color:#F9F9F9;padding:0;margin:0;"></td>
        </tr>
            </table></td>
        </tr>
        <tr>
          <td align=" left" valign="top" height="2" style="line-height:2px;"><img src="/images/e-topbar.png" width="660" height="2"  alt="" style="display:block;"/></td>
        </tr>
        <tr>
          <td class="content" style="background-color:#ffffff; padding:20px 30px; font-size:12px; line-height:1.5em; font-family:Arial, Helvetica, sans-serif; color:# 676767;" bgcolor="#FFFFFF"><table align="center" valign ="middle">
              <tr>
                <td><a href="http://www.westbranchangler.com" target="_blank"><img src="/images/e-nicecatch.png" alt="Nice Catch! Thanks For Your Order" style="border:none;"/></a></td>
              </tr>
            </table>
            <p style="padding: 4px 0 4px 0; font-family:Helvetica, Arial, Times, serif; font-size: 14px; line-height: 1.5em; color:#000000;"> Hi <span id="inputFirstName">Bill</span>, </p>
            <p style="padding: 4px 0 4px 0; font-family:Helvetica, Arial, Times, serif; font-size: 14px; line-height: 1.5em; color:#000000;" > This email confirms your order was recieved on <strong><span id="inputOrderDate">2/25/2014</span></strong>. Our staff in the fly shop are about to pick you items and get them ready for shipment.</p >
            <p style="padding: 4px 0 4px 0; font-family:Helvetica, Arial, Times, serif; font-size: 14px; line-height: 1.5em; color:#0 00000;"> Just as soon as we slap a label on your package of awesome new fly fishing gear we will notify you that your order is ready for shipment.  But if your feeling anxious you can check the status of your order anytime. <a  href="https://www.westbranchangler.com/account" target="_blank" style="color: #C00; text-decoration:none; font-weight:bold;">Order Status Page</a>. </p>
            <table border="0" cellpadding="0" cellspacing="0" style="height:0; border:0; border-bottom:1px solid #ebebeb; line-height:0;" width="600">
              <tr>
                <td height="0"></td>
              </tr>
            </table>
            <table width="600px" id="test" style="color:#000">
              <tr>
                <td><table width="600">
                    <tr>
                      <td width="420"><p style="font-family:Helvetica, Arial, Times, serif; font-s ize: 16px; font-weight:bold; margin: 2px 0 2px 0; color:#000000;" > Order Number: <a class="user-order-uri order-number" id="inputOrderNumber" href="/" target="_blank" style="color: #75BDF D; text-decoration:none;">WBA0001</a> </p>
                        <p style="font-family:Helvetica, Arial, Time s, serif; font-size: 14px; margin: 2px 0 2px 0; color:#000000;"> Order Date: <span id="inputOrderDate">2/25/2014</span> </p></td>
                      <td align="right"><a class="user-order-uri" href="https://www.westbranchangler.com/account" target="_blank" style="color: #75BDFD; text-decoration:none; font-weight:bold;"><img src="/images/e-status.png" alt="Check Order Status" style="border:none;"/></a></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td><table border="0" cellpadding="0" cellspacing="0" style="height:40px; border:0; line-height:40px; background-color:#f6f7f6; margin: 20px 0 20px 0 ;" width="600">
                    <tr>
                      <td height="5" style="font-family:Helvetica, Arial, Times , serif; font-size: 16px; font-weight:bold; padding: 0 15px 0 15p x; color:#000000;"> Order Shipment Details </td>
                    </tr >
                  </table></td>
              </tr>
              <tr>
                <td><table width="600">
                    <tr>
                      <td valign="top" width="250" style="padding:0 15px 0 15px;">
                        <p style="margin:0; font-weight:bold; font-size:14px; color :#000000;">Ship To:</p>
                        <p style="margin:0; font-family:Helvetica, Arial, Times, serif; font- size: 12px; line-height: 1.5em; color:#000000;">
                            <span id="inputFirstName"></span> <span id="inputLastName"></span></p>
                        <p style="margin:0; font-fam ily:Helvetica, Arial, Times, serif; font-size: 12px; line-height: 1.5em; color:#000000;">
                            <span id="inputCompany"></span></p>
                        <p style="margin:0; font-family:Helvetica, Arial, Times, serif; font-size: 12px; line-h eight: 1.5em; color:#000000;">
                            <span id="inputAddress"></span></p>
                        <p style="margin:0; font-family:Helvetica, Arial, Times, serif; font-size: 12px; line-h eight: 1.5em; color:#000000;">
                            <span id="inputAddress2"></span></p>
                        <p style="margin:0; font-famil y:Helvetica, Arial, Times, serif; font-size: 12px; line-height: 1 .5em; color:#000000;">
                        <span id="inputCity"></span> <span id="inputState"></span>, <span id="inputPostalCode"></span></p>
                        <p style="margin:0; font-family:Helvetica, Arial, Times, serif; font-size: 12px; line- height: 1.5em; color:#000000;">
                        <span id="inputCountry"></span></p></td>
                      <td valign="top" width="350"><p style="margin:0; font-weight:bold; font-size:14px; co lor:#000000;">Shipping Method:</p>
                        <p style="margin:0; font-family:Helvetica, Arial, Times, serif; font-size: 12px; line-height: 1.5em; color:#000000;">
                        <span id="inputShippingMethod"></span></p>
                        <p style="margin:0; font-fami ly:Helvetica, Arial, Times, serif; font-size: 12px; line-height: 1.5em; color:#000000;"></p>
                        <p style ="margin:0; font-family:Helvetica, Arial, Times, serif; font-si ze: 12px; line-height: 1.5em; color:#000000;"></p>
                        <p style="margin:0; font-family:Helvetica, Arial , Times, serif; font-size: 12px; line-height: 1.5em; color:#00000 0;"></p></td>
                    </tr >
                  </table></td>
              </tr>
              <tr>
                <td><table border="0" cellpadding="0" cellspacing="0" style="height:0; border:0; border-bottom:1px dashed #ebebeb; line-height:0; margin: 20px 0 20px 0;" width="600">
                    <tr>
                      <td height="0"></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td>
       <table width="600" border="0" cellpadding= "0" cellspacing="0">
          <thead>
            <tr>
              <th align="left">Description</th>
              <th align="left">Quantity</th>
              <th align="left">Unit Price</th>
              <th align="left">Sub-Total</th>
            </tr>
          </thead>
          <tbody class="orderlines">
            <tr>
              <td class="name"></td>
              <td class="quantity"></td>
              <td class="price"></td>
              <td class="subtotal"></td>
            </tr>
          </tbody>
        </table>
        </td>
              </tr>
              <tr>
              <td>
                <table width="160" border="0" cellpadding="0" cellspacing="0" style="margin: 10px 0px 0px 350px;">
  
  <tr>
    <td align="left"><span style="font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-height:1.5em; color:#aaaaaa;">Subtotal:</span></td>
    <td align="right"><span id="inputOrderSubTotal" class="order-subtotal" style="font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-height:1.5em;"></span></td>
  </tr>
  <tr>
    <td align="left" ><span style= "font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-height:1.5em; color:#aaaaaa;">Shipping: </span></td>
    <td align="right"><span id="inputOrderShipping" style="font-size: 14px ; font-family:Helvetica, Arial, Times, serif; line-height:1.5em;" ></span></td>
  </tr>
  <tr>
    <td align="left" ><span style= "font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-height:1.5em; color:#aaaaaa;">Tax:</span></td>
    <td align="right"><span id="inputOrderSalesTax"  style="font-size: 14px; font -family:Helvetica, Arial, Times, serif; line-height:1.5em;"></span></td>
  </tr>
  <tr>
    <td align="left" ><span style="font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-hei ght:1.5em; color:#aaaaaa;"></span></td>
    <td align="right"><span style="font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-height:1.5em;">---------
      </span></td>
  </tr>
  <tr>
    <td align="left" ><span style="font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-height:1.  5em; color:#000000; font-weight:bold;">Order Total:</span></td>
    <td align="right"><span id="inputOrderTotal" style="font-size: 14px; font-family:Helvetica, Arial, Times, serif; line-height:1.  5em; color:#000000;"></span></td>
  </tr >
</table>
</td>
</tr>
            </table>
            <!-- END CONTENT --></td>
        </tr>
        <tr>
          <td class= "footer" bgcolor="#f1f0f0" style="padding: 40px 0 0 0;"><table cellpadding="0" cellspacing= "0" border="0" align="center" style="font-family: Georgia, 'Times New Roman', Times, serif;">
              <tr>
                <td style= "text-align:center; padding:20px 0 20px 0;" align="left" valign ="top"><a href="http://www.westbranchangler.com"><img style ="border:0;" src="/images/e-logo.png" alt="" height="147" width="328"></a></td>
              </tr>
              <tr>
                <td width="420" style="font-size:20px; color:#676767; text-align:center; padding: 0 0 20px; line-height:1.5em;" class="satisfiaction" > We strive for 100% satisfaction.  If you don't love your new gear we will make it right! </td>
              </tr>
              <tr>
                <td><table border="0" cellpadding="0" cellspacing="0" style="height:0; border:0; border-bottom:1px dashed #ebebeb; line-height:0; margin: 10px 0 10px 0;" width="100%">
                    <tr>
                      <td height="0"></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td style="font-size:18px; padding: 0 0 10px; text-align:center; font-weight:bold;"><a href="https://www.facebook.com/westbranchangler" style= "color:#808080;text-decoration:none;">Facebook</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://twitter.com/wbangler" style="color:#808080;text-decoration:none;">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://instagram.com/westbranchangler/" style= "color:#808080;text-decoration:none;">Instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!--<a href="/" style="color:#808080;text-decoration:none;">Blog</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" style="color:#808080 ;text-decoration:none;">Forum</a>--></td>
              </tr>
              <tr>
                <td style="font-size:13px; text-align:center; color :#909497; padding: 0 0 10px;"><!--<span class="mobile-show"><a href="" style="color:#676767;te xt-decoration:none;">Unsubscribe</a></span><span> | </span><span ><a href="" style="color:#676767;text-decoration:none;">Privacy Policy</a></span>--></td>
              </tr>
            </table>
            <table cellpadding="0" cellspacing="0" border="0" align ="center" width="100%">
              <tr>
                <td style="font-family: Arial, Helvetica, sans-serif; font-size:10px; color:#c1c1c1; text-align:center; padding: 0 0 40px;">&copy; 2015 West Branch Angler All Rights Reserved. <span class="receiptLinks">150 Faulkener Rd Hancock, NY 13783</span> <br/>
                  <br/>
                  <div align="center" style="text-align:center;margin:0;"> <span style="font-family:Arial,sans-serif; font-size:7.5pt; color:#898989;"> Questions About your Order? <a class="service-email" href="mailto:orders@westbranchangler.com" target="_blank" style="font-family: Arial,sans-serif; font-size:7.5pt; color:#75BDFD;">Contact the shop!</a></span></div></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
