    <div class="main-container col2-right-layout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="main">
              <div class="breadcrumbs">
                <ul>
                  <li> <a href="/" title="Go to Home Page">Home</a> <span>&gt;</span> </li>
                  <li> <strong><a class="crumbs breadcrumb-link" href="/"></a></strong> <span class="sep">&gt;</span></li>
                </ul>
              </div>
              <div class="row">
                <div class="col-main col-xs-12 col-sm-9">
                  <div class="padding-s">
                    <div class="page-title category-title">
                      <h1>Search results for: <span class="category-name">Wading Boots</span></h1>
                    </div>
                    <div class="category-products">
                      <div class="toolbar">
                        <div class="pager">
                          <p class="amount">Showing products <strong><span class="page-first">1</span>-<span class="page-last">20</span></strong> of <strong class="count">220</strong> found</p>
                          <div class="limiter">
                            <label>Show</label>
                            <select onChange="setLocation(this.value)">
                              <option value="" selected="selected"> 9 </option>
                              <option value=""> 15 </option>
                              <option value=""> 30 </option>
                            </select>
                          </div>
                            <div class="pages pagination"> <strong>Page:</strong>
                              <ol>
                                <li><a class="i-previous fa fa-caret-left" href="" title="Previous"></a></li>
                                <li class="current active">1</li>
                                <li class="standard"><a class="standard" href="">2</a></li>
                                <li class="standard"><a href="">3</a></li>
                                <li><a class="next i-next fa fa-caret-right" href="" title="Next"></a></li>
                              </ol>
                            </div>
                        </div>
                        <div class="sorter">
                          <p class="view-mode">
                            <label>View as:</label>
                            <strong title="Grid" class="grid">Grid</strong>&nbsp; <a href="" title="List" class="list">List</a>&nbsp; </p>
                          <div class="sort-by">
                            <div class="right"> <a class="fa fa-arrow-up" href="" title="Set Descending Direction">
                              </a> </div>
                            <label>Sort By</label>
                            <select onChange="setLocation(this.value)">
                              <option value="" selected="selected"> Position </option>
                              <option value=""> Name </option>
                              <option value=""> Price </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <ul class="products-grid row first odd">
                        <li style="margin-bottom: 30px;" class="product-box item first col-xs-12 col-sm-4">
                          <div class="product-container">
                            <div class="products-image">
                              <a href="" title="Patagonia Ultralight Wading Boot - Sticky">
                                  <img class="product-image" src="/products/images/200x200/patagonia-ultralight.png" alt="Patagonia Ultralight Wading Boot - Sticky">
                              </a>
                            <div class="new-product"><font color="#ffffff">NEW!</font></div>
                            <div class="discount"><font color="#ffffff">SALE!</font></div>
                            <div class="guides-choice"></div>
                         <!--     <div class="promotion"> <span class="new-product"> NEW</span> <span class="discount">15% OFF</span> </div>-->
                            </div>
                            <div class="product-shop">
                              <h2 class="product-name"><a href="" title="Patagonia Ultralight Wading Boot - Sticky">Patagonia Ultralight Wading Boot - Sticky</a></h2>
                              <div class="price-box"> <span class="regular-price">$<span class="product-price">169.00</span> </span> </div>
                                <div class="price-box"> <span class="full-price">$<span class="lowest-price">69.00</span> </span> </div>
                               <div class="actions">
                                <form action="/cart" method="POST" name="cart">
                                <input type="hidden" name="sku" class="sku" value="">
                                <button class="btn btn-success">Add to cart</button>
                                </form>
                                <form action="/" method="POST" name="product">
                                <button class="btn btn-success">Details</button>
                                </form>
                               <!-- <ul class="add-to-links">
                                  <li><a title="Add to Wishlist" href="" rel="tooltip" class="link-wishlist">Add to Wishlist</a></li>
                                  <li><span class="separator">|</span> <a title="Add to Compare " href="" rel="tooltip" class="link-compare ">Add to Compare</a></li>
                                </ul> -->
                              </div>
                            </div>
                            <div class="label-product"> </div>
                            <div class="clear"></div>
                          </div>
                        </li>
                     </ul>
                     <div class="toolbar-bottom">
                        <div class="toolbar">
                          <div class="pager">
                            <p class="amount"> <strong><span class="count">99 </span> Item(s) to 120 of 219 total</strong> </p>
                            <div class="limiter">
                              <label>Show</label>
                              <select onChange="setLocation(this.value)">
                                <option value="" selected="selected"> 9 </option>
                                <option value=""> 15 </option>
                                <option value=""> 30 </option>
                              </select>
                            </div>
                            <div class="pages pagination"> <strong>Page:</strong>
                              <ol>
                                <li><a class="previous i-previous fa fa-caret-left" href="" title="Previous"></a></li>
                                <li class="current active">1</li>
                                <li class="standard"><a href="">2</a></li>
                                <li> <a class="next i-next fa fa-caret-right" href="" title="Next"></a></li>
                              </ol>
                            </div>
                          </div>
                          <div class="sorter">
                            <p class="view-mode">
                              <label>View as:</label>
                              <strong title="Grid" class="grid">Grid</strong>&nbsp; <a href="" title="List" class="list">List</a>&nbsp; </p>
                            <div class="sort-by">
                              <div class="right"> <a class="fa fa-arrow-up" href="" title="Set Descending Direction">
                                </a> </div>
                              <label>Sort By</label>
                              <select onChange="setLocation(this.value)">
                                <option value="" selected="selected"> Position </option>
                                <option value=""> Name </option>
                                <option value=""> Price </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-right sidebar col-xs-12 col-sm-3">
                  <div class="block block-layered-nav">
                    <div class="block-title"> <strong><span>Shop By</span></strong> </div>
                    <div class="block-content">
                      <p class="block-subtitle">Shopping Options</p>
                      <dl>
                        <dt>Price</dt>
                        <dd>
                          <ol>
                            <li> <a href="http://www.topflyreview.com/index.php/domestic.html?limit=15&amp;price=-100"><span class="price">$0.00</span> - <span class="price">$99.99</span></a> (5) </li>
                            <li> <a href="http://www.topflyreview.com/index.php/domestic.html?limit=15&amp;price=100-"><span class="price">$100.00</span> and above</a> (13) </li>
                          </ol>
                        </dd>
                        <dt>Manufacturer</dt>
                        <dd>
                          <ol>
                            <li class="brand-list"> <a class="brand-link" href="">Patagonia</a> (1) </li>
                          </ol>
                        </dd>
                      </dl>
             <!--       <script type="text/javascript">decorateDataList('narrow-by-list')</script>-->
                    </div>
                  </div>
                  <div class="block block-cart">
                    <div class="block-title"> <strong><span>My Cart</span></strong> <span class="toggle"></span></div>
                    <div class="block-content">
                      <p class="empty">You have no items in your shopping cart.</p>
                    </div>
                  </div>
                 <div class="block block-subscribe last_block">
                    <div class="block-title"> <strong><span>Newsletter</span></strong> <span class="toggle"></span></div>
                    <form action="" method="post" id="newsletter-validate-detail">
                      <div class="block-content">
                        <div class="form-subscribe-header">
                          <label for="newsletter">Sign Up for Our Newsletter:</label>
                        </div>
                        <div class="input-box">
                          <input name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email form-control" type="text">
                        </div>
                        <div class="actions">
                          <button type="submit" title="Subscribe" class="button"><span><span>Subscribe</span></span></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

