<div class="main-container col2-left-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="row">
            <div class="col-main col-xs-12 col-sm-9">
              <div class="padding-s">
                <div class="my-account">
                  <div class="dashboard">
                    <div class="page-title">
                      <h1>My Dashboard</h1>
                    </div>
                    <ul class="messages">
                      <li class="success-msg">
                        <ul>
                          <li><span>Thank you for registering with Main Website Store.</span></li>
                        </ul>
                      </li>
                    </ul>
                    <div class="welcome-msg">
                      <p class="hello"><strong>Hello, Sam Batschelet!</strong></p>
                      <p>From your My Account Dashboard you have the ability to view a 
                        snapshot of your recent account activity and update your account 
                        information. Select a link below to view or edit information.</p>
                    </div>
                    <div class="box-account box-info">
                      <div class="box-head">
                        <h2>Account Information</h2>
                      </div>
                      <div class="col2-set">
                        <div class="col-1">
                          <div class="box">
                            <div class="box-title">
                              <h3>Contact Information</h3>
                              <a href="">Edit</a> </div>
                            <div class="box-content">
                              <p> Sam Batschelet<br>
                                sbatschelet@mac.com<br>
                                <a href="">Change Password</a> </p>
                            </div>
                          </div>
                        </div>
                        <div class="col-2">
                          <div class="box">
                            <div class="box-title">
                              <h3>Newsletters</h3>
                              <a href="">Edit</a> </div>
                            <div class="box-content">
                              <p> You are currently not 
                                subscribed to any newsletter. </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col2-set">
                        <div class="box">
                          <div class="box-title">
                            <h3>Address Book</h3>
                            <a href="">Manage Addresses</a> </div>
                          <div class="box-content">
                            <div class="col-1">
                              <h4>Default Billing Address</h4>
                              <address>
                              You have not set a default billing address.<br>
                              <a href="">Edit Address</a>
                              </address>
                            </div>
                            <div class="col-2">
                              <h4>Default Shipping Address</h4>
                              <address>
                              You have not set a default shipping address.<br>
                              <a href="">Edit Address</a>
                              </address>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-left sidebar col-xs-12 col-sm-3">
              <div class="block block-account first">
                <div class="block-title"> <strong><span>My Account</span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <ul>
                    <li class="current"><strong>Account Dashboard</strong></li>
                    <li><a href="">Account Information</a></li>
                    <li><a href="">Address Book</a></li>
                    <li><a href="">My Orders</a></li>
  <!-- not avail 
                  <li><a href="">Billing Agreements</a></li>
                    <li><a href="">Recurring Profiles</a></li>
                    <li><a href="">My Product Reviews</a></li>
                    <li><a href="">My Tags</a></li>
                    <li><a href="">My Wishlist</a></li>
                    <li><a href="">My Applications</a></li>
                    <li><a href="">Newsletter Subscriptions</a></li>
                    <li class="last"><a href="">My Downloadable Products</a></li>
-->
                  </ul>
                </div>
              </div>
              <div class="block block-cart">
                <div class="block-title"> <strong><span>My Cart</span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <p class="empty">You have no items in your shopping cart.</p>
                </div>
              </div>
   <!--           <div class="block block-list block-compare last_block">
                <div class="block-title"> <strong><span>Compare Products </span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <p class="empty">You have no items to compare.</p>
                </div>
              </div>
-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

