<div class="main-container col2-left-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="row">
            <div class="col-main col-xs-12 col-sm-9">
              <div class="padding-s">
                <div class="my-account">
                  <div class="page-title">
                    <h1>Edit Account Information</h1>
                  </div>
                  <form action="" method="post" id="form-validate" autocomplete="off">
                    <div class="fieldset">
                      <h2 class="legend">Account Information</h2>
                      <ul class="form-list">
                        <li class="fields">
                          <div class="customer-name">
                            <div class="field name-firstname">
                              <label for="firstname" class="required"><em>*</em>First Name</label>
                              <div class="input-box">
                                <input id="firstname" name="firstname" value="Sam" title="First Name" maxlength="255" class="input-text required-entry form-control" type="text">
                              </div>
                            </div>
                            <div class="field name-lastname">
                              <label for="lastname" class="required"><em>*</em>Last Name</label>
                              <div class="input-box">
                                <input id="lastname" name="lastname" value="Batschelet" title="Last Name" maxlength="255" class="input-text required-entry form-control" type="text">
                              </div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <label for="email" class="required"><em>*</em>Email Address</label>
                          <div class="input-box">
                            <input name="email" id="email" value="sbatschelet@mac.com" title="Email Address" class="input-text required-entry validate-email form-control" type="text">
                          </div>
                        </li>
                        <li class="control">
                          <input checked="checked" name="change_password" id="change_password" value="1" onClick="setPasswordForm(this.checked)" title="Change Password" class="checkbox" type="checkbox">
                          <label for="change_password">Change Password</label>
                        </li>
                      </ul>
                    </div>
                    <div class="fieldset" style="">
                      <h2 class="legend">Change Password</h2>
                      <ul class="form-list">
                        <li>
                          <label for="current_password" class="required"><em>*</em>Current Password</label>
                          <div class="input-box">
                            <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                            <input class="input-text no-display form-control" name="dummy" id="dummy" type="text">
                            <input title="Current Password" class="input-text form-control required-entry" name="current_password" id="current_password" type="password">
                          </div>
                        </li>
                        <li class="fields">
                          <div class="field">
                            <label for="password" class="required"><em>*</em>New Password</label>
                            <div class="input-box">
                              <input title="New Password" class="input-text validate-password form-control required-entry" name="password" id="password" type="password">
                            </div>
                          </div>
                          <div class="field">
                            <label for="confirmation" class="required"><em>*</em>Confirm New Password</label>
                            <div class="input-box">
                              <input title="Confirm New Password" class="input-text validate-cpassword form-control required-entry" name="confirmation" id="confirmation" type="password">
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="buttons-set">
                      <p class="required">* Required Fields</p>
                      <p class="back-link"><a href=""><small>« </small>Back</a></p>
                      <button type="submit" title="Save" class="button"><span><span>Save</span></span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
              <div class="col-left sidebar col-xs-12 col-sm-3">
                <div class="block block-account first">
                  <div class="block-title">
                    <strong><span>My Account</span></strong>
                  </div>

                  <div class="block-content">
                    <ul>
                      <li><a href="/account">Account
                      Dashboard</a></li>

                      <li><strong>Account Information</strong></li>

                      <li><a href="">Address Book</a></li>

                      <li><a href="/account/my-orders">My Orders</a></li>
                      <!-- not avail
                  <li><a href="">Billing Agreements</a></li>
                    <li><a href="">Recurring Profiles</a></li>
                    <li><a href="">My Product Reviews</a></li>
                    <li><a href="">My Tags</a></li>
                    <li><a href="">My Wishlist</a></li>
                    <li><a href="">My Applications</a></li>
                    <li><a href="">Newsletter Subscriptions</a></li>
                    <li class="last"><a href="">My Downloadable Products</a></li>
-->
                    </ul>
                  </div>
                </div>

                <div class="block block-cart">
                  <div class="block-title">
                    <strong><span>My Cart</span></strong>
                  </div>

                  <div class="block-content">
                    <p class="empty">You have no items in your
                    shopping cart.</p>
                  </div>
                </div>
                <!--           <div class="block block-list block-compare last_block">
                <div class="block-title"> <strong><span>Compare Products </span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <p class="empty">You have no items to compare.</p>
                </div>
              </div>
-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
