<div class="order-container">
  <div class="box-head">
    <h2>Recent Orders</h2>
    <a href="/account/orders">View
    All</a> </div>
  <table class="data-table" id="my-orders-table">
    <colgroup>
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
    </colgroup>
    <thead>
      <tr class="first last">
        <th>Order #</th>
        <th>Date</th>
        <th>Ship To</th>
        <th><span class="nobr">Order
          Total</span></th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="order-list first last odd">
        <td class="order-number">100000001</td>
        <td class="order-date">8/24/2014</td>
        <td class="order-ship">Sam Batschelet</td>
        <td class="order-total">$150.49</td>
        <td><em class="order-status">Pending</em></td>
        <td class="last"><a class="order-link" href="/account/orders/view/">View
          Order</a>&nbsp; &nbsp;
          <!-- <a href="" class="link-reorder">Reorder</a> --></td>
      </tr>
    </tbody>
  </table>
</div>
