<div class="order-container">
  <div class="box-head">
    <h2>Recent Orders</h2>
    <a href="/account/orders">View
    All</a> </div>
  <table class="data-table" id="my-orders-table">
    <colgroup>
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
    </colgroup>
    <thead>
      <tr class="first last">
        <th>Order #</th>
        <th>Date</th>
        <th>Ship To</th>
        <th><span class="nobr">Order
          Total</span></th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr class="order-list first last odd">
        <td class="order-number"></td>
        <td class="order-date"></td>
        <td class="order-ship"></td>
        <td class="order-total"></td>
        <td><em class="order-status"></em></td>
        <td class="last"><a class="order-link" href="/account/orders/view/">View
          Order</a>&nbsp; &nbsp;
          <!-- <a href="" class="link-reorder">Reorder</a> --></td>
      </tr>
    </tbody>
  </table>
<span>&nbsp;</span>
</div>
