<h4>Default Billing Address</h4>
<div class="no-billing-address"> You have not set a default
  billing address.<br>
</div>
<div class="billing-address">
  <p><span id="inputBillingFirstName">Sam </span> <span>&nbsp;</span> <span id="inputBillingLastName">Batschelet</span></p>
  </br>
  <p><span id="inputBillingCompany">West Branch Angler</span></p>
  </br>
  <p><span id="inputBillingAddress">704 Mirador Rd</span></p>
  </br>
  <p><span id="inputBillingAddress2">Apt #2</span></p>
  </br>
  <p><span id="inputBillingCity">Vestal</span>, &nbsp; <span id="inputBillingState">New York</span> <span>&nbsp;</span> <span id="inputBillingPostalCode">13850</span></p>
  </br>
  <p><span id="inputBillingCountry">Russia</span></p>
  </br>
  <a href="/account/address/edit/" class="edit-billing-address">Edit Address</a> </div>
<div class="no-billing-address"> <a href="/account/address/new">Add Address</a> </div>

