<h4>Default Shipping Address</h4>
<div class="no-shipping-address"> You have not set a default
  shipping address.<br>
</div>
<div class="shipping-address">
  <p><span id="inputFirstName">Sam </span> <span>&nbsp;</span> <span id="inputLastName">Batschelet</span></p>
  </br>
  <p><span id="inputCompany">West Branch Angler</span></p>
  </br>
  <p><span id="inputAddress">704 Mirador Rd</span></p>
  </br>
  <p><span id="inputAddress2">Apt #2</span></p>
  </br>
  <p><span id="inputCity">Vestal</span>, &nbsp; <span id="inputState">New York</span> <span>&nbsp;</span> <span id="inputPostalCode">13850</span></p>
  </br>
  <p><span id="inputCountry">Russia</span></p>
  </br>
  <a href="/account/address/edit/" class="shipping-edit">Edit Address</a> </div>
<div class="no-shipping-address"> <a href="/account/address/new">Add Address</a> </div>
