                <div class="block block-account first">
                  <div class="block-title">
                    <strong><span>My Account</span></strong>
                  </div>

                  <div class="block-content">
                    <ul>
                      <li><a href="/account">Account Dashboard</a></li>
                      <li><a href="/account/edit">Account Information</a></li>
                      <li><a href="/account/my-address">Address Book</a></li>
                      <li><a href="/account/my-orders">My Orders</a></li>
                      <!-- not avail
                    <li><a href="">Billing Agreements</a></li>
                    <li><a href="">Recurring Profiles</a></li>
                    <li><a href="">My Product Reviews</a></li>
                    <li><a href="">My Tags</a></li>
                    <li><a href="">My Wishlist</a></li>
                    <li><a href="">My Applications</a></li>
                    <li><a href="">Newsletter Subscriptions</a></li>
                    <li class="last"><a href="">My Downloadable Products</a></li>
                       -->
                    </ul>
                  </div>
                </div>
