# BEGIN SUGARCRM RESTRICTIONS
RedirectMatch /crm/sugarcrm.log.* http://www.lendingsharks.com/crm/log_file_restricted.html
RedirectMatch /crm/emailman.log http://www.lendingsharks.com/crm/log_file_restricted.html
RedirectMatch /crm/not_imported_(.*).txt http://www.lendingsharks.com/crm/log_file_restricted.html
RedirectMatch /crm/XTemplate/(.*)/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/data/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/examples/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/include/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/include/(.*)/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/log4php/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/log4php/(.*)/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/metadata/(.*)/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/modules/(.*)/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/soap/(.*).php http://www.lendingsharks.com/crm/index.php
RedirectMatch /crm/emailmandelivery.php http://www.lendingsharks.com/crm/index.php
# END SUGARCRM RESTRICTIONS
