 <div class="banner">
<div class="container">  
<h4 class="subtitle">Meet our pro team!</h4>
  <hr class="vertical-space2">
    <div class="row">
  
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="" src="images/our-team.jpg" class=" img-circle">
          <figcaption><h4><strong>John Miller<br>
            <small>Fly Fishing Guide</small></strong></h4>
          <p>There are many variations of passages of Lorem Ipsum available,  alteration in some form, by injected humour</p>
          <div class="socialfollow">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="dribble" href="#"><i class="fa fa-camera"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
           </div>
        </figcaption>
        </figure>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="" src="images/our-team.jpg" class=" img-circle">
          <figcaption><h4><strong>John Miller<br>
            <small>Fly Fishing Guide</small></strong></h4>
          <p>There are many variations of passages of Lorem Ipsum available,  alteration in some form, by injected humour</p>
          <div class="socialfollow">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="dribble" href="#"><i class="fa fa-camera"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
           </div>
        </figcaption>
        </figure>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="" src="images/our-team.jpg" class=" img-circle">
          <figcaption><h4><strong>John Miller<br>
            <small>Fly Fishing Guide</small></strong></h4>
          <p>There are many variations of passages of Lorem Ipsum available,  alteration in some form, by injected humour</p>
          <div class="socialfollow">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="dribble" href="#"><i class="fa fa-camera"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
           </div>
        </figcaption>
        </figure>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="" src="images/our-team.jpg" class=" img-circle">
          <figcaption><h4><strong>John Miller<br>
            <small>Fly Fishing Guide</small></strong></h4>
          <p>There are many variations of passages of Lorem Ipsum available,  alteration in some form, by injected humour</p>
          <div class="socialfollow">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            <a class="dribble" href="#"><i class="fa fa-camera"></i></a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            <a class="google" href="#"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
           </div>
        </figcaption>
        </figure>
          </div>

  </div>
  </div>

</div>



<!-- Team End
  ================================================== -->


