vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|apache-fp
vti_usagebymonth:UX|6941 59122 60317 62464 66091 65326 70620 33534
vti_usagevisitsbyweek:UX|2 503 4314 10040 10092
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagelastformat:SX|1 2 2 L 
vti_usagevisitsbymonth:UX|995 42721 44876 43239 44969 32156 0 17405
vti_usagelastupdated:TX|12 Dec 2004 09:13:50 -0000
vti_textindexood:IR|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_usagevisitsbyday:UX|2 50 137 57 82 75 99 3
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
vti_usagelastmarker:SX|129363 129584 66.196.90.207 - - [12/Dec/2004:03:59:22 -0500] "GET /cgi-bin/site/forum/reply.h
vti_usagefirstdata:TX|07 May 2004 04:00:00 -0000
vti_usagebyweek:UX|69 4457 8724 12925 14436
vti_usagebyday:UX|69 578 1267 522 789 698 583 20
vti_usagehitsbymonth:UX|75537 350112 432679 550539 586905 603759 817898 230015
vti_usagehitsbyweek:UX|511 52447 59312 69897 92463
vti_usagehitsbyday:UX|511 8331 16672 3680 7860 7249 8577 78
vti_featurelist:VX|vti_ACGroups vti_ACUseDomains vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerIndexServer vti_ServerODBC vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_usagelastlog:SX|/home/virtual/site12/fst/var/log/httpd/access_log.12-12-04
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.2623
vti_usageserverlastupdated:TX|12 Dec 2004 09:13:50 -0000
vti_usagedownload:UX|384060 1321658 1593119 1810741 1767694 1971462 3322103 888339
