<!-- start slider component -->
    <div class="camera-slideshow">
        <strong><font color="red">Component: "camera slider" not active</font></strong>
    </div>
<!-- end slider component -->
 <!--   <div class="brands visible-lg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="sponsors">
              <li> <a href="http://www.orvis.com/" target="_blank"><img alt="Orvis" src="/images/logos/orvis.jpg" /></a> </li>
              <li> <a href="http://www.simmsfishing.com/" target="_blank"><img alt="Simms Fishing Products" src="/images/logos/simms.jpg" /></a> </li>
              <li> <a href="http://www.patagonia.com/" target="_blank"><img alt="Patagonia Fly Fishing Gear" src="/images/logos/patagonia.jpg" /></a> </li>
              <li> <a href="http://www.scottflyrod.com/" target="_blank"><img alt="Scott Fly Rods" src="/images/logos/scott.jpg" /></a> </li>
              <li> <a href="http://www.sageflyfish.com/" target="_blank"><img alt="Sage Fly Fish" src="/images/logos/sage.jpg" /></a> </li>
              <li> <a href="http://www.sageflyfish.com/" target="_blank"><img alt="Fishpond" src="/images/logos/fishpond.jpg" /></a> </li>
              <li>
                <button type="button" title="VIEW ALL BRANDS" class="button"><span><span>VIEW ALL BRANDS</span></span></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
-->
<!--    <div class="banners">
      <div class="container">
        <div class="row">
          <h4>What's Hot</h4>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner1.jpg"/>
            <div>
              <h6>Hatch Reels</h6>
              <span>The king of fly reels what's behind the hype?</span> <strong>read more</strong> </div>
            </a> </div>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner2.jpg"/>
            <div>
              <h6>Sage One Fly Rod</h6>
              <span>We did a full on review pro blitz on the Sage One fly rod, the results are pretty interesting.</span> <strong>read more</strong> </div>
            </a> </div>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner3.jpg"/>
            <div>
              <h6>Felt vs Rubber </h6>
              <span>To use rubber or to use felt we weight out the pros and cons.</span> <strong>read more</strong> </div>
            </a> </div>
          <div class="col-xs-12 col-sm-3"> <a href=""> <img alt="" src="/images/banner4.jpg"/>
            <div>
              <h6>Streamer City</h6>
              <span>Big meaty nasty streamers what works and why.</span> <strong>read more</strong> </div>
            </a> </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12"> <a href=""> <img alt="" src="/images/media/banner.jpg"/>
            <div>
              <h4>Pro Reviews</h4>
              <span>Our guides and shop pro staff use and abuse all of the latest gear and give you honest feedback.</span> <em>Guides are the backbone of our sport no one is on the river more then a pro fishing guide.  When new gear comes in we hand it off to our guides and get the real skinny.</em> <strong>read reviews</strong> </div>
            </a> </div>
        </div>
      </div>
    </div>
-->
    <div class="main-container col1-layout">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="main">
              <div class="col-main">
                <div class="padding-s">
                  <div class="std">
                    <div class="clear"></div>
                  </div>
                  <div class="page-title category-title">
                    <h1 class="new-products">New Gear</h1>
                      <ul class="products-grid row first odd">
                        <li style="margin-bottom: 30px;" class="product-box item first col-xs-3">
                          <div class="product-container">
                            <div class="products-image">
                              <a class="product-link" href="/" title="Patagonia Ultralight Wading Boot - Sticky">
                                  <img class="product-image" src="/products/images/200x200/patagonia-ultralight.png" alt="">
                              </a>
                            </div>
                            <div class="product-shop">
                              <h2 class="product-name"><a class="product-link" href="/" title="Patagonia Ultralight Wading Boot - Sticky">Patagonia Ultralight Wading Boot - Sticky</a></h2>
                              <div class="price-box"> <span class="regular-price">$<span class="product-price">169.00</span> </span> </div>
                                <div class="price-box"> <span class="full-price">$<span class="lowest-price">69.00</span> </span> </div>
                               <div class="actions">
                                <form action="/cart" method="POST" name="cart">
                                <input type="hidden" name="sku" class="sku" value="">
                            <button title="Add to Cart" class="button btn-cart btn-success add-to-cart"><span><span>Add to Cart</span></span></button>
                            <button type="button" title="Details" class="button btn-details details" onClick="" ><span><span>Details</span></span></button>
                                <!--<button class="btn btn-success add-to-cart"><i class="fa fa-shopping-cart"></i> Add to cart</button>-->
                                </form>
                               <!-- <ul class="add-to-links">
                                  <li><a title="Add to Wishlist" href="" rel="tooltip" class="link-wishlist">Add to Wishlist</a></li>
                                  <li><span class="separator">|</span> <a title="Add to Compare " href="" rel="tooltip" class="link-compare ">Add to Compare</a></li>
                                </ul> -->
                              </div>
                            </div>
                            <div class="label-product"> </div>
                            <div class="clear"></div>
                          </div>
                        </li>
                     </ul>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
