@charset "UTF-8";
/* CSS Document */
*{margin:0;padding:0;}
html, body { margin: 0; padding: 0; width: 100%; height: 100%; }
#scrollable { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 2; }

#bg_image { position: fixed; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; }


/* #background {
 position:fixed;
 top:0;
 left:0;
 width:100%;
 overflow:hidden;
}
#background {width:auto; overflow:hidden;}
*/

#siteWrapper {
	height:100%;
	width:100%;
	/*overflow-x:hidden;*/
	/*overflow-y:scroll;*/
	overflow:auto;
	position:absolute;
	z-index:2;
	top:0;
	left:-1px;
	}

#siteContainer {
	
		position:relative;
		top:10px;
		margin:0 auto;
		clear:both;
		width:900px;
		z-index:1;
	 
}

#header{
	position:relative;
	width:900px;
	height:81px;
	border-bottom:1px solid #fff;
	
	}
	
#header div.logo a{
	text-indent:-999em;
	width:274px;
	height:93px;
	display:block;
	float:left;
	}

img#logo{
	display:none;
	}

div.topmenutwt1 a{
	position:absolute;
	text-indent:-999em;
	width:18px;
	height:18px;
	display:block;
	float:left;
	left: 2px;
	top: 0px;
	}
	
div.topmenutwt2 a{
	position:absolute;
	text-indent:-999em;
	width:18px;
	height:18px;
	display:block;
	float:left;
	left: 35px;
	top: 0px;
	}

div.topmenutwt3 a{
	position:absolute;
	text-indent:-999em;
	width:18px;
	height:18px;
	display:block;
	float:left;
	left: 66px;
	top: 0px;
	}	

#headerTwitter div.topmenutwt0 div.topmenutwt1 div.topmenutwt2 div.topmenutwt3{
	height:18px;
	
	}



.im1, .im2, .im3, .im4 {
	background:transparent url(/assetstore/site/template/sprites/main.png) no-repeat 4px 0;
}

.im1 {
	background-position:4px 0px;
}
.im2 {
	background-position:-277px -5px;
}
.im3 {
	background-position:-323px -5px;
}
.im4 {
	background-position:-300px -4px;
}


 #headerNav1 a:active{
	color:#666;
	text-decoration:none;
	}
#headerNav1 a:hover{
	text-decoration:underline;
	}
	
#headerNav1 .topmenu0 .topmenu1 .topmenu2 .topmenu3 .topmenu4 .topmenu5 .topmenu6 .topmenu7 .topmenu8 .topmenu9 {
	height:15px;
	
	}
	
#headerNav1 a:link { color: #FFF; text-decoration: none;}
#headerNav1 a:visited { color: #CCC; text-decoration: none;}
#headerNav1 a:active { color: #666; text-decoration: none;}
#headerNav1 a:hover { color: #000; text-decoration: underline;}


#headerNav1 {
	line-height:1;
	overflow:visible;
	position:absolute;
	right:5px;
	top:2px;
	width:625px;
	font-size:10px;
}

#headerNav1 .topmenu0{
	width:6px;
	float:left;
	text-align:center;
	color:#FFF;
	}

#headerNav1 .topmenu1{
	width:406px;
	float:left;
	text-align:center;
	font-size:14px;
	color: #FFF;
	}

#headerNav1 .topmenu2{
	width:45px;
	float:left;
	text-align:center;
	}

#headerNav1 .topmenu3{
	width:58px;
	float:left;
	text-align:center;
	}
	
#headerNav1 .topmenu4{
	width:92px;
	float:left;
	text-align:center;
	}

#headerNav1 .topmenu9{width:0px;}

#headerSearch {
	line-height:1;
	overflow:visible;
	position:absolute;
	right:210px;
	top:26px;
	width:214px;
	font-size:14px;
}

/* Image in Text Box */
#headerSearch .tbSearch {
	background:#FFFFFF url(/assetstore/site/template/forms/search.png) no-repeat 194px 1px;
	padding:1px 22px 1px 1px;
	border: 3px double #CCCCCC;
	width:220px;
	height:26px;
	font-size:14px;
}

#headerCart {
	line-height:1;
	overflow:visible;
	position:absolute;
	right:100px;
	top:23px;
	width:90px;
	font-size:10px;
	z-index:99999999;
}

#header800 {
	line-height:1;
	overflow:visible;
	position:absolute;
	right:40px;
	top:64px;
	width:100px;
	font-size:16px;
	text-align:center;
	color:#FFF;
}
  /*DHTML Menu*/

.glossymenu{
margin: 2px 3px;
padding: 0;
width: 180px; /*width of menu*/
border: 1px solid #000;
border-bottom-width: 0;
}

.glossymenu a.menuitem{
background: white;
font:16px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: #006633;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
height: 25px;
padding: 0px 0px;
padding-left: 3px;
padding-right: 0px;
padding-top: 1px;
text-decoration: none;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: white;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
top: 2px; /* View cart img */
right: 3px;
border: none;
}

.glossymenu a.menuitem:hover{
	background:#FFF;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-image: url(http://www.westbranchangler.com/images/css/bullet_product_detail.gif);
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px solid blue;
}

.glossymenu div.submenu ul li a{
display: block;
font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover{
background: #DFDCCB;
colorz: white;
}


/*========================= TOP OF THE MENU CASCADE CSS SPRITES =========================*/

.menu {
	position:absolute;        /* establish a menu-relative positioning context */
	left: 261px;
	top: 69px;
	margin:0;
	padding:0;
	border:0;
	height:12px;                                  /* the menu's overall height */
	width:665px;         /* we always want our menu to fill the available space */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;         /* this (and also below) sets the menu's font size */
	z-index: 99999;
}

.menu a  { display: block; font-weight: normal; }

.menu li:hover ul { left: auto; }

.menu img {
	vertical-align: top;      /* prevent images from being pushed down by text */
}

.menu ul {
	padding:0;
	margin:0;
	border:0;
	list-style-type:none;          /* we don't want to view the list as a list */
	line-height:1.5em;           /* globally set the menu's item spacing. note */
}                               /* this must be 1.0 or 1.5 or 2.0 for Mozilla */

.menu li {
	float:left;    /* this creates the side-by-side array of top-level buttons */
	position:relative;    /* create local positioning contexts for each button */
	margin:0;
}

.menu ul li table {
	margin:-1px 0;              /* IE5 needs -1px top and bottom table margins */
	m\argin:0;               /* re-zero the table margins for everyone but IE5 */
	border-collapse:collapse;      /* IE5 needs this for the sub-menus to work */
	font-size:12px;        /* this sets the base font size for our entire menu */
}

.rightmenu {
	position:relative;  /* establish a local positioning context for YAH label */
	float:right;                  /* and right-align it at the top of our page */
}

#research {            /* this rightmost "Research" button must be positioned */
	position:absolute;       /* absolutely so that the YAH (you are here) text */
	top:0px;               /* label will slide underneath it under Opera v8.54 */
	left:364px;    /* which has a z-order sequencing bug with abs-pos elements */
}

/*======================== TOP LEVEL MENU DEFINITIONS ========================*/

.menu ul li ul {
	display:none;                  /* initially hide the entire list hierarchy */
	padding:5px;                               /* this is our box border width */
}

.menu ul li a,
.menu ul li a:visited {                    /* unselected top-level menu items */
	display:block;
	float:left;
	text-decoration:none;
	height:18px;
	
	border-bottom: 1px solid #green;
}


/*======================== 2ND LEVEL MENU DEFINITIONS ========================*/

.menu ul li:hover ul,
.menu ul li a:hover ul {                           /* 2nd level drop-down box */
	display:block;
	position:absolute;
	top:10px;              /* place us just up underneath the top-level images */
	left:0px;       /* left-align our drop-down to the previous button border */
	height:auto;      /* the drop-down height will be determiend by line count */
	width:13.5em;
	color:#FFF;                        /* this sets the unselected-text color */
	/*background-image:url('/assetstore/site/template/background/60p_white.png');*/
	background-color:#FFF;
	border-right:1px solid green;
	border-left:1px solid green;
	border-top: 1px solid green;
	border-bottom: 1px solid green;

/* background:black;        this sets our menu's effective "border" color */
}

.menu ul li:hover ul.leftbutton,
.menu ul li a:hover ul.leftbutton {/* our first dropdown should not be skewed */
	left:0px;
}

.menu ul li:hover ul.skinny,
.menu ul li a:hover ul.skinny {             /* 2nd level skinny drop-down box */
	width:8.08333em;   /* with a 12px default font, this is 97px width (97/12) */
}

.menu ul.rightmenu li:hover ul,
.menu ul.rightmenu li a:hover ul {    /* 2nd level neighborhood drop-down box */
	left:auto;
	right:0;         /* nudge the right menu right to line up under the border */
}

* html .menu ul.rightmenu li a:hover ul {         /* IE5/6 needs a tweak here */
	right:-1px;
}

.menu ul li:hover ul li a,
.menu ul li a:hover ul li a {                   /* 2nd level unselected items */
	margin:0;
	padding:0;
	height:auto;
	color:#000;/* this sets the unselected drop-down text color */
	width:13.5em;
	
}

.menu span {
	display:none;
	
}

.menu ul li:hover ul li:hover a,
.menu ul li a:hover ul li a:hover {                /* 2nd level selected item */
	color:#FFF;
	background-color:#467044;
	
}

.menu ul li:hover ul.skinny li a,
.menu ul li a:hover ul.skinny li a,
.menu ul li:hover ul.skinny li a:hover,
.menu ul li a:hover ul.skinny li a:hover {     /* 2nd level un+selected items */
	width:8.08333em;
}

/*======================== 3RD LEVEL MENU DEFINITIONS ========================*/

.menu ul li:hover ul li ul,
.menu ul li a:hover ul li a ul {             /* hide inactive 3rd-level menus */
	visibility:hidden;
}
     
.menu ul li:hover ul li:hover ul,
.menu ul li a:hover ul li a:hover ul {             /* 3rd level drop-down box */
	visibility:visible;
	position:absolute;
	margin-top:-1px;	      /* bring the top edge of the 3rd level menu up one */
	top:0;
	left:8.08333em;
	width:14em;
}

.menu ul li:hover ul li:hover ul li a,
.menu ul li a:hover ul li a:hover ul li a {     /* 3rd level unselected items */
	width:14em;
	background:#d8d8d8;
}

.menu ul li:hover ul li:hover ul li a:hover,
.menu ul li a:hover ul li a:hover ul li a:hover {    /* level3 selected items */
	width:14em;
	background:white;
}

#text {           /* the Mac's standard Safari browser will not see this code */
	height:1.215em;#           /* ...  but every other browser will and should */
} /* Safari barfs on the illegal pound sign (#) after the rule's property val */

	
	
	
	.headerNav2-b01 {width: 82px;left: 0;}
	.headerNav2-b01 a {cursor: pointer;}
    .headerNav2-b01 em {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background:url('/assetstore/site/template/sprites/nav_menu.png') 0px 0px no-repeat;
		cursor: pointer;
		width: 82px;
		height: 12px;
    }
     .headerNav2-b01:hover em { background-position: 0 -13px; }
	 	 
	.headerNav2-b02 {width: 72px;}
	.headerNav2-b02 a {cursor: pointer;}
    .headerNav2-b02 em {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	background:url('/assetstore/site/template/sprites/nav_menu.png') -84px 0px no-repeat;
	cursor: pointer;
	width: 72px;
	height: 12px;
    }
    .headerNav2-b02:hover em { background-position: -84px -13px; }
	
	.headerNav2-b03 {width: 78px;}
	.headerNav2-b03 a {cursor: pointer;}
    .headerNav2-b03 em {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	background:url('/assetstore/site/template/sprites/nav_menu.png') -160px 0px no-repeat;
	cursor: pointer;
	width: 78px;
	height: 12px;
    }
     .headerNav2-b03:hover em { background-position: -160px -13px; }
	 
	 .headerNav2-b04 {width: 90px;}
	.headerNav2-b04 a {cursor: pointer;}
    .headerNav2-b04 em {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	background:url('/assetstore/site/template/sprites/nav_menu.png') -238px 0px no-repeat;
	cursor: pointer;
	width: 90px;
	height: 12px;
    }
     .headerNav2-b04:hover em { background-position: -238px -13px; }

	 .headerNav2-b05 {width: 137px;}
	.headerNav2-b05 a {cursor: pointer;}
    .headerNav2-b05 em {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	background:url("/assetstore/site/template/sprites/nav_menu.png") -322px 0px no-repeat;
	cursor: pointer;
	width: 137px;
	height: 12px;
    }
     .headerNav2-b05:hover em { background-position: -322px -13px; }

	 .headerNav2-b06 {width: 96px;}
	.headerNav2-b06 a {cursor: pointer;}
    .headerNav2-b06 em {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	background:url("/assetstore/site/template/sprites/nav_menu.png") -457px 0px no-repeat;
	cursor: pointer;
	width: 96px;
	height: 12px;
    }
     .headerNav2-b06:hover em { background-position: -457px -13px; }
	 
	.headerNav2-b07 {
	width: 90px;
}
	.headerNav2-b07 a {cursor: pointer;}
    .headerNav2-b07 em {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	background:url("/assetstore/site/template/sprites/nav_menu.png") -552px 0px no-repeat;
	cursor: pointer;
	width: 90px;
	height: 12px;
    }
     .headerNav2-b07:hover em { background-position: -552px -13px; }
	 
	 .headerNav2-b08 {width: 77px;}
	.headerNav2-b08 a {cursor: pointer;}
    .headerNav2-b08 em {
	display: block;
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	background:url("/assetstore/site/template/sprites/nav_menu.png") -578px 0px no-repeat;
	cursor: pointer;
	width: 77px;
	height: 12px;
    }
     .headerNav2-b08:hover em { background-position: -578px -13px; }
	
/*----END OF CSS SPRITE MENU----------*/


.button:hover,a.button:hover,.hopUp button:hover,.hopUp a.button:hover{
	background-position:0 -16px;
	cursor:pointer;
}


#breadCrumb{
	position:relative;
	width:900px;
	height: auto;
float:left;
  }
  
 .breadCrumbText {
	color: #FFF;
	font-size: 16px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#breadCrumb #topbreadmenu1{
	position:relative;
	width:199px;
	float:left;
	text-align:left;
	}

#breadCrumb #topbreadmenu2{
	position:relative;
	width:699px;
	float:left;
	text-align:right;
}

div.contentContainer {
	float:left;
	margin:0 auto;
	width:900px;
	top:10px;
	position:relative;
	clear:both;
	border:1px solid white;
	padding: 0px 0px 0px 0px;
	background: url('/assetstore/site/template/background/60p_white.png');
}
		

#contentSidebar{
	position: relative;
	clear:both;
	float:left;
	width:179px;
	height:auto;
	background-image:url('/assetstore/site/template/background/sidebar_50p_clear_white.png');
	background-repeat: repeat;
	border-right: 1px solid white;
	
}

#searchContainer{
	position: relative;
	clear:both;
	float:left;
	width:100%;
	height:auto;
	background-color:#dfdfdf;
	padding-left:10px;

	
}

#searchContainerHeader{
	position: relative;
	clear:both;
	float:left;
	width:100%;
	height:25px;
	padding-left:1px;
	background-color:#dfdfdf;
	background-repeat: repeat;
	
}

#searchElementContainer{
	position: relative;
	float:left;
	width:171px;
	height:290px;
	margin-top:5px;
	margin-left:5px;
	margin-right:0px; 
	margin-bottom:0px;
	background-color:#FFF;
	border:1px solid #dfdfdf;
	
}

#searchElementContainerHeader{
	position: relative;
	float:left;	
	width:100%;
	height:19px;
	background-color: #DFDFDF;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	
}

#searchElementContainerSpacer{
	position: relative;
	float:left;	
	width:100%;
	height:5px;
}

#searchElementContainerFooter{
	position: relative;
	float:left;	
	width:100%;
	height:19px;
	background-color: #DFDFDF;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	
}

#searchElementContainerImg{
	position: relative;
	float:left;	
	width:100%;
	height:171px;
	background-color: #0F0;
	
}

#searchElementContainerSale{
	position: absolute;
	float:left;	
	width:50px;
	height:auto;
	background-color: #0F0;
	z-index:10
	
}

#searchElementContainerDescription{
	position: relative;
	float:left;	
	width:100%;
	height:40px;
	background-color: #930;
	padding-top:2px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	
}
#searchElementContainerStar{
	position: relative;
	float:left;	
	width:100%;
	height:20px;
	background-color: #F00;
	
}

#searchElementContainerPrice{
	position: relative;
	float:left;	
	width:100%;
	height:auto;
	background-color:#00F;
	font-size:9.5px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

#contentMain{
	position:relative;
	float:left;
	width:720px;
}

div.weather {
	float:left;
	position:relative;
	width:220px;
}

div.contentDivider {
	float:left;
	position:relative;
	width:720px;
	height:auto;
	clear:both;
	border:1px solid white;
 /* Mozilla ignores crazy MS image filters, so it will skip the following */
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/assetstore/site/template/background/29p_black.png');
	margin: 0px 0px 0px 0px;
	text-align:left;
}
/* IE ignores styles with [attributes], so it will skip the following. */
div.contentDivider[class] {
  background-image:url('/assetstore/site/template/background/29p_black.png');
 
}	


.contentDividerB {
	float:left;
	width:205px;
	margin: 1px 0px 1px 12px;
}

.contentDividerB a{
	width:200px;
	height:30px;
	display:block;
	text-indent:-999em;
	}

div.content li{
	 margin-left: 15px;
	 }

div.content {
	

	float:left;
	font-size:12px;
	position:relative;
	width:719px;
	height:auto;
	clear:both;
	padding-right:2px;
	padding-bottom:2px;
	text-align:left;
}

div.noleftcontent li{
	 margin-left: 15px;
	 }

div.noleftcontent {
	

	float:left;
	font-size:12px;
	position:relative;
	width:892px;
	height:auto;
	clear:both;
	border:1px solid white;
	margin: 3px 3px 3px 3px;
	text-align:left;
    background-color:#E3DFDB;

}

div.contentFooter{
	color:#FFF;
	font-size:65%;
	top:20px;
	position:relative;
	float:left;
	width:900px;
	clear:both;
	border:1px solid white;
	text-decoration:underline;
	background-color:#355D31;
	padding: 1px 1px 1px 1px;
	text-align:center;
}

div.contentFooter li {
float:left;
list-style:none;
letter-spacing:.5px;
}

div.contentFooter a:link { color: #FFF; text-decoration: none;}
div.contentFooter a:visited { color: #CCC; text-decoration: none;}
div.contentFooter a:active { color: #666; text-decoration: none;}
div.contentFooter a:hover { color: #000; text-decoration: underline;}


.dropShadow li {
float:left;
list-style:none;
color:#000;
letter-spacing:.5px;
}

.dropShadow li a:link,.dropShadow li a:visited,.dropShadow li a:active {
color:#000;
text-decoration:none;
}

.dropShadow {
top:1px;
left:1px;
z-index:0;
position:absolute;
}

   div.sideCalWrapper {
	float:left;
	position:relative;
	height:120px;
	width:220px;
	border:1px solid #363;
  background-color:#668160;
margin: 10px 0px 0px 3px;
	
}


 div.sideCal {
	position:relative;
	float:left; /* since this element is floated, a width must be given */
	width:208px;
	border:1px solid #363;
	font-size:10px;
	background-color:#467044;
	margin: 3px 4px 3px 4px;
}

div.lineleftin, div.linerightout{
	position:relative;
	float:left;
	width:95px;
	text-align:center;
	color:#FFF;
	font-size:12px;
	}
	
div.lineleft, div.lineright{
	margin:3px 3px 3px 3px;
	position:relative;
	float:left;
	width:95px;
	text-align:left;
	color:#FFF;
	font-size:10px;
	}

 div.line{
	position:relatice;
	float:left;
	width:210px;
	text-align:center;
	text-decoration:underline;
	color:#FFF;
	font-size:12px;
	margin: 5 0 5 0;
	}
	
/* End of Cal*/

   div.sideNewsWrapper {
	float:left;
	position:relative;
	height:auto;
	width:220px;
	border:1px solid #363;
	margin: 10px 0px 0px 3px;
  background-color:#668160;

}

div.sideNewsWrapper a{
	
}

div.sideNewsWrapper li{
	 list-style: disc;
	 margin-left: 15px;
      padding-left: 0px;
  
 }



 div.sideNews {
	 
	position:relative;
	float:left; /* since this element is floated, a width must be given */
	width:218px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:10px;
	border:1px solid #363;
	margin: 3px 0px 0px 0px;
	line-height: 12px;
	background-color:#C1CCBE;

}


 div.sideNews a {
    text-decoration: none;
    color: #FF0000;
    border-bottom: 1px dotted;
    padding-right: 6px;
}



div.sideNews hr {
	border: none 0;
	border-top: 1px dashed #666666;/*the border*/
	width: 100%;
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
} 


   div.sideNewsletterWrapper {
	float:left;
	position:relative;
	height:auto;
	width:220px;
	border:1px solid #363;
   background-color:#668160;
	margin: 10px 0px 0px 3px;

}

 div.sideNewsletterWrapper li{
/*	 background: url(mybullet.gif) left center no-repeat; */
	 margin-left: 15px;
      padding-left: 0px;
 }


 div.sideNewsletter {
	position:relative;
	float:left; /* since this element is floated, a width must be given */
	width:218px;
	border:1px solid #363;
	font-size:12px;
	background-color:#C1CCBE;
	margin: 3px 0px 0px 0px;
}




/* ####### Calendar ####### */

/* calendar icon */
img.tcalIcon {
	cursor: pointer;
	margin-left: 1px;
	vertical-align: middle;
}
/* calendar container element */
div#tcal {
	position: absolute;
	visibility: hidden;
	z-index: 100;
	width: 158px;
	padding: 2px 0 0 0;
}
/* all tables in calendar */
div#tcal table {
	width: 100%;
	border: 1px solid silver;
	border-collapse: collapse;
	background-color: white;
}
/* navigation table */
div#tcal table.ctrl {
	border-bottom: 0;
}
/* navigation buttons */
div#tcal table.ctrl td {
	width: 15px;
	height: 20px;
}
/* month year header */
div#tcal table.ctrl th {
	background-color: white;
	color: black;
	border: 0;
}
/* week days header */
div#tcal th {
	border: 1px solid silver;
	border-collapse: collapse;
	text-align: center;
	padding: 3px 0;
	font-family: tahoma, verdana, arial;
	font-size: 10px;
	background-color: gray;
	color: white;
}
/* date cells */
div#tcal td {
	border: 0;
	border-collapse: collapse;
	text-align: center;
	padding: 2px 0;
	font-family: tahoma, verdana, arial;
	font-size: 11px;
	width: 22px;
	cursor: pointer;
}
/* date highlight
   in case of conflicting settings order here determines the priority from least to most important */
div#tcal td.othermonth {
	color: silver;
}
div#tcal td.weekend {
	background-color: #ACD6F5;
}
div#tcal td.today {
	border: 1px solid red;
}
div#tcal td.selected {
	background-color: #FFB3BE;
}
/* iframe element used to suppress windowed controls in IE5/6 */
iframe#tcalIF {
	position: absolute;
	visibility: hidden;
	z-index: 98;
	border: 0;
}
/* transparent shadow */
div#tcalShade {
	position: absolute;
	visibility: hidden;
	z-index: 99;
}
div#tcalShade table {
	border: 0;
	border-collapse: collapse;
	width: 100%;
}
div#tcalShade table td {
	border: 0;
	border-collapse: collapse;
	padding: 0;
}
 #textBlock {
	 width:63px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:10px;
	padding-left:3px;
	color: #000;
	background: #dfdfdf;
 }
 
  div.newsletter {
	position:relative;
	float:left; /* since this element is floated, a width must be given */
	width:196px;
	border:1px solid #363;
	font-size:10px;
    /* Mozilla ignores crazy MS image filters, so it will skip the following */
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/assetstore/site/template/background/d60p_green.png');
	margin: 10px 4px 10px 4px;
}
/* IE ignores styles with [attributes], so it will skip the following. */
div.newsletter[class] {
  background-image:url('/assetstore/site/template/background/d60p_green.png');

}

#map {
	width:600px;
	height:300px;
}

div.faq {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 82%;
	}

div.faq h2 {
	 background-image:url('/assetstore/site/template/background/d60p_green.png');
	color: #fff;
	font-size: 1.2em;
	padding: 5px; 
	width: 98%;
	}
div.faq h3, h4 {
	color: #697922; 
	font-size: 1.1em; 
	padding: 15px 0 5px;
	}
div.faq a {
	color: #BD4A18;
	}

div.faq li {
	padding: 2px 0;
	}

div.faq dt {
	font-weight: bold; 
	margin: 15px 40px 5px;
	cursor: pointer;
	text-decoration: underline;
	color: #BD4A18;
}

	div.faq dt:before {
		content: "Q";
		font-size: 1.5em;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin-right: 7px;
		padding: 2px 6px 5px;
		color: #FFD87D;
		background-color: #BD4A18;
		font-weight: normal;
		
		margin-left: -35px;
		position: relative;
		top: 10px;
	}


div.faq dd {
	margin: 25px 70px 0px;
	padding-bottom: 12px;
	line-height: 150%;	
	}
	
	div.faq dd:before {
		content: "A";
		font-size: 1.5em;
		font-family: Georgia, "Times New Roman", Times, serif;
		margin-right: 7px;
		padding: 2px 9px;
		color: #752E0F;
		background-color: #FFD87D;
		
		margin-left: -38px;
		position: relative;
		top: 10px;
	}

div.faq p {
	line-height: 150%;
	}
	
div.faq .show {
	display: block;
	}
div.faq .hide {
	display: none;
	}	
	
div.pageTemplate h2 {
	 background-image:url('/assetstore/site/template/background/d60p_green.png');
	color: #fff;
	font-size: 1.2em;
	padding: 5px; 
	width: 98%;
	}
	
div.pageTemplate h3 {
	background-color:#960;
	text-align:center;
	color: #fff;
	font-size: 1.2em;
	padding: 5px; 
	width: 98%;
	}
	
div.pageTemplate h4 {
	background-color:#960;
	text-indent:5px;
	text-align:left;
	color: #fff;
	font-size: 1em;
	padding: 2px; 
	width: 99%;
	}
	
div.pageTemplate img {
	margin-right:5px;
}



/* ----------------------------- Path ---------------------------- */

#path {
    color: #333;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 3px 8px;
    margin: 0px;
}

#path li {
    display: inline;
    padding-left: 13px;
    padding-right: 3px;
   /* background-image: url(icons/arrow.gif); */
    background-repeat: no-repeat;
    background-position: 1px 5px;
}

#path span {
    font-weight: bold;
}

.oneThird {
  width: 28%;
  padding: 0 1.9%;
}
.rowOfBoxes {
  clear: both;
}

.dividingBorderAbove {
  border-top: 1px solid rgb(204,204,204);
}
.twoThirds {
  text-align: justify;
  width: 63%;
  padding: 0 1.9%;
}
.noBorderOnLeft {
  border-left: none;
}
.newsHeading {
	color:#060;
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 125%;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
}

.newsHeading:hover {
  color: rgb(117,144,174);
  background-color: transparent;
  text-decoration: underline;
}

.newsDate {
  font-style: italic;
  margin: 0 !important;
  padding: 0;
}

.quarter, .oneThird, .half, .twoThirds, .fullWidth {
  margin: 1em 0;
  float: left;
  border-left: 1px solid rgb(204,204,204);
}



.newsSummary {
  margin: 1.5ex 0 2.5ex 0.75ex !important;
  padding: 0;
}

.filler {  /* use with an empty <p> element to add padding to the end of a text box */
  border: 1px solid white;
}

div.Galleryshow {
	float:left;
	margin: 0px 0px 0px 12px;
    background: transparent;
    display: none; /* hides all images until Magic Slideshow is ready */
}

/* Styles for images */
img.GalleryshowImage {
    border: 0px;
}

/* Styles for images container */
div.GalleryshowImagesContainer {

}

/* Styles for thumbnails */
img.GalleryshowThumbnail {
    border: 1px solid transparent;
    margin: 1px;
}
img.GalleryshowThumbnail.highlight {
    border: 1px solid #696969;
}

/* Styles for thumbnails container */
div.GalleryshowThumbnailsContainer {
    padding: 0 1px;
}
div.GalleryshowThumbnailsContainerStyle {
    background: #FFFFFF;
}

/* Styles for descriptions */
.GalleryshowDescription {
    line-height: 24px;
    background: #333333;
    color: #FFFFFF;
    padding: 3px !important;
}

/* Styles for links if using text descriptions */
.GalleryshowDescription a {
    color: #CFCFCF;
}
.GalleryshowDescription a:visited {
    color: #ACACAC;
}
.GalleryshowDescription a:hover {
    color: #FFFFFF;
}

/* Style for loading box */
div.GalleryshowLoadingBox {
    background: #FFFFFF url('/assetstore/site/template/nav/images/loader.gif') no-repeat 50% 2px;
    padding: 4px 4px 4px 4px !important;
    margin: 0px !important;
    line-height: 15px;
    color: #363636;
    border: 1px solid #696969;
    text-align: left;
}

/* Styles for arrows */
a.GalleryshowArrow {
    width: 66px;
    height: 66px;
    cursor: 'pointer';
    background: url('/assetstore/site/template/nav/images/arrows05.png');
    padding: 0px !important;
    margin: 0px !important;
}
a.GalleryshowArrowTop {
    background-position: 66px 0;
}
a.GalleryshowArrowRight {
    background-position: 0 0;
}
a.GalleryshowArrowBottom {
    background-position: 66px 66px;
}
a.GalleryshowArrowLeft {
    background-position: 0 66px;
}



#slideHolder { 
float:left;
width: 640px; 
margin: 0px 0px 0px 6px;
}



