<div class="main-container col2-right-layout">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="main">
        <div class="breadcrumbs">
          <ul>
            <li> <a href="/" title="Go to Home Page">Home</a> <span>&gt;</span> </li>
            <li> <strong><a class="crumbs breadcrumb-link" href="/"></a></strong> <span class="sep">&gt;</span></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-main col-xs-12 col-sm-9">
            <div class="padding-s">
              <div class="page-title category-title">
                <h1>Search results for: <span class="category-name">Wading Boots</span></h1>
              </div>
              <div class="category-products">
                <div class="toolbar">
                  <div class="listing-top">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="listing-results-number">Showing results <strong> <span class="pager_first_entry">1</span>- <span class="pager_last_entry">10</span> </strong> of <strong class="pager_total_entries">139</strong> </div>
                      </div>
                      <div class="col-md-4">
                        <ul class="pagination">
                          <!--
                                        <li class="enable_pagination_first">
                                            <a class="pagination_first fa fa-angle-double-left" href="/" title="Previous"></a>
                                        </li>
                                    -->
                          <li class="enable_pagination_previous"> <a class="pagination_previous fa fa-caret-left" href="/" title="Previous"></a> </li>
                          <li class="page"> <a class="page_number" href="#">1</a> </li>
                          <li class="page"> <a class="page_number" href="#">2</a> </li>
                          <li class="enable_pagination_next"> <a class="pagination_next fa fa-caret-right" href="/"></a> </li>
                          <!--
                                        <li class="enable_pagination_last">
                                            <a class="pagination_last fa fa-angle-double-right" href="/" title="Previous"></a>
                                        </li>
                                    -->
                        </ul>
                      </div>
                      <!--
                                <div class="col-md-3">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">Show
                                            <select class="per_page form-control input-sm">
                                                <option selected="selected">10</option>
                                                <option>20</option>
                                                <option>30</option>
                                                <option>40</option>
                                            </select>per page</div>
                                    </form>
                                </div>
</div>
                            <div class="row">
                                <div class="col-md-9 btn-group" role="group">
                                    <button aria-label="Grid" class="view btn btn-default" type="button" value="grid">
                                        <span aria-hidden="true" class="fa fa-th"></span>
                                    </button>
                                    <button aria-label="List" class="view btn btn-default" type="button" value="list">
                                        <span aria-hidden="true" class="fa fa-th-list"></span>
                                    </button>
                                    <button aria-label="Simple" class="view btn btn-default" type="button"
                                    value="simple">
                                        <span aria-hidden="true" class="fa fa-list"></span>
                                    </button>
                                    <button aria-label="Compact" class="view btn btn-default" type="button"
                                    value="compact">
                                        <span aria-hidden="true" class="fa fa-align-justify"></span>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">Sort by
                                            <select class="order_by form-control input-sm">
                                                <option selected="selected" value="priority">Position</option>
                                                <option value="selling_price">Price</option>
                                                <option value="name">Name</option>
                                                <option value="sku">SKU</option>
                                            </select>
                                            <button class="btn btn-default order_direction" type="button" value="asc">
                                                <span class="fa fa-arrow-up"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
-->
                    </div>
                  </div>
                </div>
                <ol class="products-list" id="products-list">
                  <li class="item odd"> <a href="" title="" class="product-image"><img src="" alt=""></a>
                    <div class="product-shop">
                      <div class="f-fix">
                        <div class="list-left">
                          <h2 class="product-name"><a href="" title="">Sage Fly Rod</a></h2>
                          <div class="desc std">
                            <p>Well, it seems that those people who have invented process of wine-making couldn´t even guess</p>
                            <p>what they had done - <ins>the drink appeared to be real nectar.</ins> Just remember how many different works of art were devoted to wine.</p>
                            It seems that every artist of all times was admiring this drink. It 
                            gives inspiration and health, it has unique, unforgettable taste and 
                            moreover it is totally natural. <strong>What could be better?</strong> <em>It is a real bestseller; many facts prove that no other commodity has such a high rating.</em> <a href="" title="" class="link-learn">Learn More</a> </div>
                        </div>
                        <div class="list-right">
                          <div class="price-box"> <span class="regular-price" id="product-price-7"> <span class="price">$80.56</span> </span> </div>
                          <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                          <ul class="add-to-links">
                            <li><a title="Add to Wishlist" href="" class="link-wishlist tooltips">Add to Wishlist</a></li>
                            <li><span class="separator">|</span> <a title="Add to Compare" href="" class="link-compare tooltips">Add to Compare</a></li>
                          </ul>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="label-product"> </div>
                  </li>
                  <li class="item odd"> <a href="" title="" class="product-image"><img src="" alt=""></a>
                    <div class="product-shop">
                      <div class="f-fix">
                        <div class="list-left">
                          <h2 class="product-name"><a href="" title="">Sage Fly Rod</a></h2>
                          <div class="desc std">
                            <p>Well, it seems that those people who have invented process of wine-making couldn´t even guess</p>
                            <p>what they had done - <ins>the drink appeared to be real nectar.</ins> Just remember how many different works of art were devoted to wine.</p>
                            It seems that every artist of all times was admiring this drink. It 
                            gives inspiration and health, it has unique, unforgettable taste and 
                            moreover it is totally natural. <strong>What could be better?</strong> <em>It is a real bestseller; many facts prove that no other commodity has such a high rating.</em> <a href="" title="" class="link-learn">Learn More</a> </div>
                        </div>
                        <div class="list-right">
                          <div class="price-box"> <span class="regular-price" id="product-price-7"> <span class="price">$80.56</span> </span> </div>
                          <button type="button" title="Add to Cart" class="button btn-cart" onClick="setLocation('')"><span><span>Add to Cart</span></span></button>
                          <ul class="add-to-links">
                            <li><a title="Add to Wishlist" href="" class="link-wishlist tooltips">Add to Wishlist</a></li>
                            <li><span class="separator">|</span> <a title="Add to Compare" href="" class="link-compare tooltips">Add to Compare</a></li>
                          </ul>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="label-product"> </div>
                  </li>
                </ol>
                <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
                <div class="toolbar-bottom">
                  <div class="toolbar">
                    <div class="pager">
                      <p class="amount"> <strong>6 Item(s)</strong> </p>
                      <div class="limiter">
                        <label>Show</label>
                        <select onChange="setLocation(this.value)">
                          <option value=""> 5 </option>
                          <option value=""> 10 </option>
                          <option value=""> 15 </option>
                          <option value=""> 20 </option>
                          <option value="" selected="selected"> 25 </option>
                        </select>
                      </div>
                    </div>
                    <div class="sorter">
                      <p class="view-mode">
                        <label>View as:</label>
                        <a href="" title="Grid" class="grid">Grid</a>&nbsp; <strong title="List" class="list">List</strong>&nbsp; </p>
                      <div class="sort-by">
                        <div class="right"> <a class="fa fa-arrow-up" href="" title="">
                          <!-- <img src="http://www.topflyreview.com/skin/frontend/default/theme629/images/i_asc_arrow.gif" alt="Set Descending Direction" class="v-middle" /> -->
                          </a> </div>
                        <label>Sort By</label>
                        <select onChange="setLocation(this.value)">
                          <option value="" selected="selected"> Position </option>
                          <option value=""> Name </option>
                          <option value=""> Price </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="map-popup" class="map-popup" style="display:none;"> <a href="#" class="map-popup-close" id="map-popup-close">x</a>
                <div class="map-popup-arrow"></div>
                <div class="map-popup-heading">
                  <h2 id="map-popup-heading"></h2>
                </div>
                <div class="map-popup-content" id="map-popup-content">
                  <div class="map-popup-msrp" id="map-popup-msrp-box"><strong>Price:</strong> <span style="text-decoration:line-through;" id="map-popup-msrp"></span></div>
                  <div class="map-popup-price" id="map-popup-price-box"><strong>Actual Price:</strong> <span id="map-popup-price"></span></div>
                  <div class="map-popup-checkout">
                    <form action="" method="POST" id="product_addtocart_form_from_popup">
                      <input name="product" class="product_id" value="" id="map-popup-product-id" type="hidden">
                      <div class="additional-addtocart-box"> </div>
                      <button type="button" title="Add to Cart" class="button btn-cart" id="map-popup-button"><span><span>Add to Cart</span></span></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-right sidebar col-xs-12 col-sm-3">
              <div class="block block-layered-nav">
                <div class="block-title"> <strong><span>Shop By</span></strong> </div>
                <div class="block-content">
                  <p class="block-subtitle">Shopping Options</p>
                  <dl>
                    <dt>Price</dt>
                    <dd>
                      <ol>
                        <li> <a href=""><span class="price">$0.00</span> - <span class="price">$99.99</span></a> (5) </li>
                        <li> <a href=""><span class="price">$100.00</span> and above</a> (13) </li>
                      </ol>
                    </dd>
                    <dt>Manufacturer</dt>
                    <dd>
                      <ol>
                        <li class="brand-list"> <a class="brand-link" href="">Patagonia</a> (1) </li>
                      </ol>
                    </dd>
                  </dl>
                  <!--       <script type="text/javascript">decorateDataList('narrow-by-list')</script>-->
                </div>
              </div>
              <div class="block block-cart">
                <div class="block-title"> <strong><span>My Cart</span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <p class="empty">You have no items in your shopping cart.</p>
                </div>
              </div>
              <div class="block block-subscribe last_block">
                <div class="block-title"> <strong><span>Newsletter</span></strong> <span class="toggle"></span></div>
                <form action="" method="post" id="newsletter-validate-detail">
                  <div class="block-content">
                    <div class="form-subscribe-header">
                      <label for="newsletter">Sign Up for Our Newsletter:</label>
                    </div>
                    <div class="input-box">
                      <input name="email" id="newsletter" title="Sign up for our newsletter" class="input-text required-entry validate-email form-control" type="text">
                    </div>
                    <div class="actions">
                      <button type="submit" title="Subscribe" class="button"><span><span>Subscribe</span></span></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

