<div class="main-container col1-layout">
  <div class="container">
    <div class="page-title">
      <h1>Not Found</h1>
      <p>I'm sorry but the page you were looking for cannot be found.</p>
      <p>Our team will be informed about this problem but in the meantime
      would you like to go back to our home page?</p>
    </div>
    <form action="/" method="GET">
        <button type="submit" title="Submit" class="button"><span><span>Go to Home Page</span></span></button>
    </form>
  </div>
</div>

