<div class="blog-container">
  <div class ="row">
    <div class="col-md-12 bg-404-image">
      <div class="bg-blog-image-inside"></div>
        <div class="container">
          <div class="row row-centered">
        <div style="min-height: 380px">
        <div class="error404">
            <h1>404</h1>
            <h2>This Page Is Missing</h2>
            <h3>We hate to assume what happened here but...</h3>
            <p>Click the button below to take you home</p><br />
    <form action="/" method="GET">
        <button type="submit" title="Submit" class="button"><span><span>There Is No Place Like Home</span></span></button>
    </form>
        </div>
        </div>
          </div>
         </div>
       </div>
     </div>
  </div>
</div>
