<div class="main-container col2-left-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="row">
            <div class="col-main col-xs-12 col-sm-9">
              <div class="padding-s">
                <div class="my-account">
                  <div class="page-title title-buttons">
                    <h1>Address Book</h1>
                    <button type="button" title="Add New Address" class="button" onClick="window.location='/account/address/new';"><span><span>Add New Address</span></span></button>
                  </div>
                  <div class="col2-set addresses-list">
                    <div class="col-1 addresses-primary">
                      <h2>Default Addresses</h2>
                      <ol>
                        <li class="item">
                          <h3>Default Shipping Address</h3>
                                <div class="no-shipping-address">
                                  You have not set a default
                                  shipping address.<br>
                                </div>

                                <div class="shipping-address item">
                                  <p><span id="inputFirstName">Sam </span>
                                  <span>&nbsp;</span>
                                  <span id="inputLastName">Batschelet</span></p></br>
                                  <p><span id="inputCompany">West Branch Angler</span></p></br>
                                  <p><span id="inputAddress">704 Mirador Rd</span></p></br>
                                  <p><span id="inputAddress2">Apt #2</span></p></br>
                                  <p><span id="inputCity">Vestal</span>, &nbsp;
                                  <span id="inputState">New York</span>
                                  <span>&nbsp;</span>
                                  <span id="inputPostalCode">13850</span></p></br>
                                  <p><span id="inputCountry">Russia</span></p></br>
                                  <p>T: <span id="inputPhone">555-5555</span></p></br>
                                  <a href="/account/address/edit/shipping">Edit Address</a>
                                </div>
                                <div class="no-shipping-address">
                                <a href="/account/address/new">Add Address</a>
                                </div>
                       </li>
                        <li class="item">

                         <h3>Default Billing Address</h3>
                              <div class="no-billing-address">
                                  You have not set a default
                                  billing address.<br>
                                </div>

                                <div class="billing-address">
                                  <address>
                                  <p><span id="inputBillingFirstName">Sam </span>
                                  <span>&nbsp;</span>
                                  <span id="inputBillingLastName">Batschelet</span></p></br>
                                  <p><span id="inputBillingCompany">West Branch Angler</span></p></br>
                                  <p><span id="inputBillingAddress">704 Mirador Rd</span></p></br>
                                  <p><span id="inputBillingAddress2">Apt #2</span></p></br>
                                  <p><span id="inputBillingCity">Vestal</span>, &nbsp;
                                  <span id="inputBillingState">New York</span>
                                  <span>&nbsp;</span>
                                  <span id="inputBillingPostalCode">13850</span></p></br>
                                  <p><span id="inputBillingCountry">Russia</span></p></br>
                                  <p>T: <span id="inputBillingPhone">555-1212</span></p></br>
                                 </address>
                                  <a href="/account/address/edit/billing">Edit Address</a>
                               </div>
                                <div class="no-billing-address">
                                <a href="/account/address/new">Add Address</a>
                                </div>
                           </li>
                      </ol>
                    </div>

                    <div class="addresses-additional col-2">
                      <h2>Additional Address Entries</h2>
                      <ol>
                        <li class="item address-additional">
                                  <span class="first_name">Sam </span>
                                  <span>&nbsp;</span>
                                  <span class="last_name">Batschelet</span></p></br>
                                  <p><span class="company">West Branch Angler</span></p></br>
                                  <p><span class="address">704 Mirador Rd</span></p></br>
                                  <p><span class="address_2">Apt #2</span></p></br>
                                  <p><span class="city">Vestal</span>, &nbsp;
                                  <span class="state">New York</span>
                                  <span>&nbsp;</span>
                                  <span class="postal_code">13850</span></p></br>
                                  <p><span class="country">Russia</span></p></br>
                                 <p><a class="edit" href="/account/address/edit/">Edit Address</a> <span class="separator">|</span> <a class="delete" href="/account/address/delete/">Delete Address</a></p>
                        </li>
                      </ol>
                    </div>
                  </div>
                  <div class="buttons-set">
                    <p class="back-link"><a href="/account"><small>« </small>Back</a></p>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-left sidebar col-xs-12 col-sm-3">
                <div class="account-menu">Account Menu Is Broken</div>
                <div class="block block-cart">
                  <div class="block-title">
                    <strong><span>My Cart</span></strong>
                  </div>

                  <div class="block-content">
                    <p class="empty">You have no items in your
                    shopping cart.</p>
                  </div>
                </div>
                <!--           <div class="block block-list block-compare last_block">
                <div class="block-title"> <strong><span>Compare Products </span></strong> <span class="toggle"></span></div>
                <div class="block-content">
                  <p class="empty">You have no items to compare.</p>
                </div>
              </div>
               -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
