@import url(standard.css);
@import url(/en/common/css/base.css);

a		{ color: #000066; }
a:visited 	{ color: #666666; }

.welcome { font-family: Verdana, sans-serif; font-size: 11px; color: #8B8A8A; background-color: #F6F6F6}
.welcomerule {background-color: #DEDEDE}

.messageheader { font-family: Arial,Helvetica, sans-serif; font-size: 16px; color: #3F9AC2; font-weight:bold}

.copyright { color: #8b8e8c; background-color:#F0F8FB; }

.adtxt { color:#8b8e8c; }

.footstp {background-color:#000000;}
.footer {background-color:#DAEDF4; color:#59849D;}
a.footer {color:#547A98;}
a.footer:visited {color:#8b8e8c;}

.brandColor { color: #000066; }

/* HI ONLY */
.hhbox {border:1px solid #88b7a7;}

