body  { 
	color: black; 
	font-size: 11px; 
	font-family: Verdana, sans-serif; 
	font-weight: normal; 
	line-height: 13px 
}

a, td, ul, ol, input, select
	{ font-family:Verdana, sans-serif; font-size:10px; }

a:visited { color: #666666  }

.hotelsearchDisabledText {
	color: #CECBBD;
}

.hotelsearchStatusMessage { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px; 
	font-weight:bold; 
	padding-bottom:4px; 
	color:#036; 
}
	
/* sort bar */

.sortText {
	font-family:verdana;
	font-size:10px;
	color:#000000;
}

.sortbar {background-color:#f1f2e2}
.sortRule {background-color:#dedfd1}
.sortRuleWhite {background-color:#ffffff}

/* hotel search left nav */
.hotelsearchLeftNavBox {
	background-color:#f2f2e2;
	border: 1px solid #cfcfc3;
}

.hotelsearchNavText1 {
	color: #8C8C8C; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold
}

.hotelsearchNavText2 {
	color: #5a5957; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold
}

.hotelsearchNavText3 {
	color: #767676; 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif
}

.hotelsearchNavInput140 {
	width:140px;
}

a.hotelsearchLeftNavLink:link {
	font-family:Verdana, sans-serif; 
	font-size:10px;
	color: #003399;
}
a.hotelsearchLeftNavLink:active {
	font-family:Verdana, sans-serif; 
	font-size:10px;
	color: #0066cc;
}
a.hotelsearchLeftNavLink:visited {
	font-family:Verdana, sans-serif; 
	font-size:10px;
	color: #666666;
}

a.hotelsearchLink2:link {
	font-family:Verdana, sans-serif; 
	font-size:11px;
	color: #003399;
}
a.hotelsearchLink2:active {
	font-family:Verdana, sans-serif; 
	font-size:11px;
	color: #0066cc;
}
a.hotelsearchLink2:visited {
	font-family:Verdana, sans-serif; 
	font-size:11px;
	color: #666666;
}

.hotelsearchHotelHeader {
	background-color:#f2f2e2
}

.hotelsearchBrand { 
	color: #4D4C47; 
	font-size: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold ;
}

.hotelsearchHotelHeader {
	background-color: #f2f2e2;
}

a.hotelsearchHotelName:link,a.hotelsearchHotelName:active,a.hotelsearchHotelName:visited {
	font-size: 11px; 
	font-family: Verdana, sans-serif; 
	font-weight: bold;
}

.hotelinfo {
	font-family:verdana;
	font-size:11px;
	color:#000000;
}

.hotelinfo:link, .hotelinfo:active, .hotelinfo:visited {
	font-family:verdana;
	font-size:11px;
}

.hotelindex {
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color:#000000;
}

.pageline {
	font-family:verdana;
	font-size:10px;
	color:#000000;
}

.availability {
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color:#484848;
	vertical-align:middle;
}

.ratetext {
	font-family:verdana;
	font-size:10px;
	font-weight:normal;
	color:#000000;
}

.rate {
	font-family:verdana;
	font-size:12px;
	font-weight:bold;
	color:#CC6600;
}

.hotelsearchIconLink:link, .hotelsearchIconLink:active, .hotelsearchIconLink:visited { 
	color: #707070; 
	font-size: 9px; 
	font-family: Verdana, Arial, Helvetica, sans-serif ;
	text-decoration: none;
}

.hotelsearchSelectedHotelsHeader { 
	color: #036; 
	font-size: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold 
}

.hotelsearchDottedRule {
	background-image:url('/en/common/media/images/common_misc/rule_dot.gif');
	background-repeat: repeat-x;
}


/* HRR search values */
.hotelsearchHHonorsInfo {
	color: #767676; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #f4f4f4;
}

.hotelsearchHhonorsInfoRule {
	background-color: #d8d8d8;
}

.hotelsearchPointsDeductMessageBox {
	border:1px solid #d8d8d8;
	padding: 10px;
}

/* search specials styltes */
.hotelsearchSpecialsBrandHeader {
	background-color: #4873a0;
	color: white; 
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal;
}

.hotelsearchHotelBox {
	border: 1px solid #cbcbc9;
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
}

.hotelsearchSpecialHeader {
	background-color: #efefef;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.hotelsearchSpecialText {
	color: black; 
	font-size: 11px; 
	font-family: Verdana, sans-serif; 
	font-weight: normal; 
	line-height: 13px 
}

.hotelsearchHotelNamePopup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #515459;
}

.hotelsearchHotelAddressPopup {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6C776E;
}

/* narrow search links */
a.hotelsearchNarrowLink, a.hotelsearchNarrowLink:link, a.hotelsearchNarrowLink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: black;
}

a.hotelsearchNarrowLink:hover, a.hotelsearchNarrowLink:active {
	text-decoration: underline;
	color: #003399;
}

.hotelsearchRateTypeText {
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	color:#59628d;
}

/* small groups */
.hotelsearchRfpBoxTop {
	background-color:#fffed6;
	border-top: 1px solid #d9d8af;
	border-left: 1px solid #d9d8af;
	border-right: 1px solid #d9d8af;
}

.hotelsearchRfpBoxBottom {
	background-color:#fffed6;
	border-bottom: 1px solid #d9d8af;
	border-left: 1px solid #d9d8af;
	border-right: 1px solid #d9d8af;
}

.hotelsearchRfpBox {
	background-color:#fffed6;
}
