<div class="banner">
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="video-info small">
        <h1>Video Title</h1>
        <span class="views"><i class="fa fa-eye"></i>863</span> <a href="javascript:void(0)" class="likes-dislikes" action="like" id="1903"><span class="likes"><i class="fa fa-thumbs-up"></i>
        <label class="likevideo1903">1</label>
        </span></a> </div>
<div class="video">
                        <iframe class="product-video" width="560" height="315" src="http://www.youtube.com/embed/z20CjCim8DM" frameborder="0" allowfullscreen></iframe>
                      </div>
<!--      <div class="videoWrapper player"> </div> -->
      <div style="display: none;" id="lightoff"></div>
      <div class="row video-options">
        <div class="col-xs-3"> <a href="javascript:void(0)" class="option comments-scrolling"> <i class="fa fa-comments"></i> <span class="option-text">Comments</span> </a> </div>
        <div class="col-xs-3"> <a href="javascript:void(0)" class="option share-button" id="off"> <i class="fa fa-share"></i> <span class="option-text">Share</span> </a> </div>
        <div class="col-xs-3"> <a class="option likes-dislikes" href="javascript:void(0)" action="like" id="1903" video="1903"> <i class="fa fa-thumbs-up"></i> <span class="option-text likes-dislikes">
          <label class="likevideo1903">1</label>
          </span> </a> </div>
        <div class="col-xs-3">
          <!-- LIGHT SWITCH -->
          <a href="javascript:void(0)" class="option switch-button"> <i class="fa fa-lightbulb-o"></i> <span class="option-text">Turn off Light</span> </a> </div>
      </div>
      <!-- IF SHARE BUTTON IS CLICKED SHOW THIS -->
      <div style="display: none;" class="row social-share-buttons">
        <div class="col-xs-12"> 
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=SITEURL">
            <img src="images/facebook.png" alt=""></a>
            <a target="_blank" href="https://twitter.com/home?status=SITEURL">
            <img src="images/twitter.png" alt=""></a>
            <a target="_blank" href="https://plus.google.com/share?url=SITEURL">
            <img src="images/googleplus.png" alt=""></a>
            <a target="_blank" href="https://pinterest.com/pin/create/button/?url=SITEURL">
            <img src="images/pinterest.png" alt=""></a>
            <a target="_blank" href="http://www.reddit.com/submit?url">
            <img src="images/reddit.png" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=SITEURL">
            <img src="images/linkedin.png" alt=""></a>
            <a target="_blank" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&amp;st._surl=SITEURL">
            <img src="images/odnok.png" alt=""></a>
            <a target="_blank" href="http://vkontakte.ru/share.php?url=SITEURL">
            <img src="images/vkontakte.png" alt=""></a>
            <a href="mailto:?Subject=SUBJECT&amp;Body=I%20saw%20this%20and%20thought%20of%20you%21%20SITEURL">
            <img src="images/email.png" alt=""></a> </div>
      </div>
      <div class="video-details"> <span class="date">Published on April 12, 2014 by <a href="">admin</a></span>
        <div class="post-entry">
          <p>Lorem ipsum dolor sit 
            amet, consectetur adipiscing elit. Nullam interdum sapien at augue 
            fermentum, in faucibus urna rhoncus. Proin viverra fringilla pharetra. 
            In hac habitasse platea dictumst. Quisque consequat lorem eget tortor 
            ullamcorper ornare. Ut non ipsum arcu. Quisque facilisis a dui id 
            congue. Vestibulum a risus neque.</p>
        </div>
        <span class="meta"><span class="meta-info">Category</span> <a href="" rel="tag">Music</a> <a href="" rel="tag">Sports</a></span> <span class="meta"></span> </div>
      <div class="comments">
        <div class="section-header">
          <h3>3 comments</h3>
        </div>
        <ul class="list-unstyled comment-list">
          <li class="comment">
            <div class="the-comment">
              <div class="avatar"><img alt="" src="" class="avatar avatar-60 photo" height="60" width="60"></div>
              <div class="comment-content"> <span class="author"><a href="">Sam Batschelet</a> <small>8 months ago</small></span>
                <p>comment test</p>
                <a class="reply" href="" onclick=''><i class="fa fa-reply"></i> Reply</a> <a href="" class="edit"><i class="fa fa-edit"></i> Edit</a> </div>
            </div>
            <ul class="children">
              <li class="comment">
                <div class="the-comment">
                  <div class="avatar"><img alt="" src="" class="avatar avatar-60 photo" height="60" width="60"></div>
                  <div class="comment-content"> <span class="author"><a href="">John Miller</a> <small>8 months ago</small></span>
                    <p>comment test #2</p>
                    <a class="reply" href="" onclick=''><i class="fa fa-reply"></i> Reply</a> <a href="" class="edit"><i class="fa fa-edit"></i> Edit</a> </div>
                </div>
              </li>
              <!-- #comment-## -->
            </ul>
            <!-- .children -->
          </li>
          <!-- #comment-## -->
          <li class="comment">
            <div class="the-comment">
              <div class="avatar"><img alt="" src="" class="avatar avatar-60 photo" height="60" width="60"></div>
              <div class="comment-content"> <span class="author"><a href="">Bill Sweeney</a> <small>8 months ago</small></span>
                <p>last comment test promise</p>
                <a class="reply" href="" onclick=''><i class="fa fa-reply"></i> Reply</a> <a href="" class="edit"><i class="fa fa-edit"></i> Edit</a> </div>
            </div>
          </li>
          <!-- #comment-## -->
        </ul>
        <div id="respond" class="comment-respond">
          <h3 id="reply-title" class="comment-reply-title">Add your comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="" style="display:none;">Cancel Reply</a></small></h3>
          <form action="" method="post" id="commentform" class="comment-form">
            <p class="logged-in-as">Logged in as <a href="">admin</a>. <a href="" title="Log out of this account">Log out?</a></p>
            <div class="form-group">
              <label for="comment">Comment</label>
              <textarea class="form-control" aria-required="true" id="comment" name="comment" rows="6"></textarea>
            </div>
            <p class="form-submit">
              <input class="btn btn-default" name="submit" id="submit" value="Submit" type="submit">
              <input name="comment_post_ID" value="1903" id="comment_post_ID" type="hidden">
              <input name="comment_parent" id="comment_parent" value="0" type="hidden">
            </p>
            <input id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment" value="48e17c1a48" type="hidden">
            <script>(function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();</script>
          </form>
        </div>
        <!-- #respond -->
      </div>
    </div>
    <div class="col-sm-4 sidebar"> </div>
    <!-- /.sidebar -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</div>
