<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Home page</title>
<link rel="icon" href="/images/favicon1.png" rel="icon" type="image/png" />
<link rel="shortcut icon"  href="/images/favicon1.png" rel="icon" type="image/png" />
<link href="/css/rateit.css" rel="stylesheet" type="text/css">
<link href="/css/css_002.css" rel="stylesheet" type="text/css">
<link href="/css/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery-1.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.js"></script>
<script type="text/javascript" src="/js/jquery.rateit.min.js"></script>
<script type="text/javascript" src="/js/superfish.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>

<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = public/js/blank.html';
    var BLANK_IMG = 'public/js/spacer.gif';
//]]>
</script>
<![endif]-->
<!--[if lt IE 9]>
<div style=' clear: both; text-align:center; position: relative;'>
 <a href="//windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="//storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
</div>
<style>
    body {  min-width: 960px !important;}
</style>
<![endif]-->

<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/jquery.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/photoswipe.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/extra_style.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/styles.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/responsive.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/superfish.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/camera.css" media="all">
<script type="text/javascript" src="/js/prototype.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
<script type="text/javascript" src="/js/cloud-zoom.html"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery_004.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/jquery_002.js"></script>
<script type="text/javascript" src="/js/jquery_003.js"></script>
<script type="text/javascript" src="/js/jquery_005.js"></script>
<script type="text/javascript" src="/js/tm-stick-up.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/msrp.js"></script>

<!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="product/css/styles-ie.css" media="all" />
<![endif]-->

<!--[if lt IE 7]>
<script type="text/javascript" src="product/js/lib/ds-sleight.js"></script>
<script type="text/javascript" src="product/js/ie6.js"></script>
<![endif]-->

</head>
<body class="ps-static  cms-index-index cms-home">
<div class="wrapper ps-static en-lang-class">
  <noscript>
  <div class="global-site-notice noscript">
    <div class="notice-inner">
      <p> <strong>JavaScript seems to be disabled in your browser.</strong><br />
        You must have JavaScript enabled in your browser to utilize the functionality of this website. </p>
    </div>
  </div>
  </noscript>
  <div class="page">
<!-- mobile slide out menu -->
    <div class="shadow"></div>
    <div class="swipe-left"></div>
    <div style="height: 884px;" class="swipe">
      <div class="swipe-menu"> <a href="" title="Home" class="home-link">Home</a>
        <ul class="links">
          <li class="first"><a href="" title="My Account">My Account</a><span class="cart_count">0</span></li>
          <li><a href="" title="My Wishlist">My Wishlist</a></li>
          <li class="top-car"><a href="/cart" title="My Cart" class="top-link-cart">My Cart (<span class="cart-count">0</span> items)</a></li>
          <li><a href="/checkout" title="Checkout" class="top-link-checkout">Checkout</a></li>
          <li class=" last"><a href="" title="Log In">Log In</a></li>
        </ul>
        <div class="language-list switch-show">
          <div class="language-title"><span class="label">Your Language:</span> <strong>en</strong></div>
          <ul style="">
            <li> <a class="selected" href="" title="en_US">
              <!-- <span>English</span> -->
              <strong>en</strong></a> </li>
            <li> <a href="" title="de_DE">
              <!-- <span>German</span> -->
              <strong>de</strong></a> </li>
            <li> <a href="" title="es_ES">
              <!-- <span>Spanish</span> -->
              <strong>es</strong></a> </li>
            <li> <a href="" title="ru_RU">
              <!-- <span>Russian</span> -->
              <strong>ru</strong></a> </li>
          </ul>
        </div>
        <div class="footer-links-menu">
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Customer Service</a></li>
            <li class="last privacy"><a href="">Privacy Policy</a></li>
          </ul>
          <ul class="links-2">
            <li class="first"><a href="">Product Sitemap</a></li>
            <li><a href="">Category Sitemap</a></li>
            <li><a href="">Advanced Search</a></li>
            <li><a href="">Orders and Returns</a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- end mobile slide out menu -->
    <div class="top-icon-menu">
      <div class="swipe-control"><i class="fa fa-align-justify"></i></div>
      <div class="top-search"><i class="fa fa-search"></i></div>
      <span class="clear"></span> </div>
    <div class="header-container">
      <div class="header-row1">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header">
                <div class="quick-access">
                  <ul class="links">
                    <li class="first"><a href="" title="My Account">My Account</a></li>
                    <li><a href="" title="My Wishlist">My Wishlist</a></li>
                    <li class="top-car"><a href="" title="My Cart (2 items)" class="top-link-cart">My Cart ( 0 items)</a></li>
                    <li><a href="/checkout" title="Checkout" class="top-link-checkout">Checkout</a></li>
                    <li class=" last"><a href="" title="Log In">Log In</a></li>
                  </ul>
                </div>
                <div class="header-row">
                  <form id="search_mini_form" action="" method="get">
                    <div class="form-search" style="margin-top: 10px;">
                      <label for="search">Search:</label>
                      <input id="search" type="text" placeholder="Search" name="q" value=""  class="input-text"  />
                      <button type="submit" title="Search" class="button"><span><span>Search</span></span></button>
                      <div id="search_autocomplete" class="search-autocomplete"></div>
                    </div>
                  </form>
                  <style>
.ajaxsearch{border:solid #CCCCCC 1px}
.ajaxsearch .suggest{background:#e1b8b6; color:#FFF}
.ajaxsearch .suggest .amount{color:#FF0000}
.ajaxsearch .preview {background:#ffffff}
.ajaxsearch .preview a {color:#E26703}
.ajaxsearch .preview .description {color:#0A263D}
.ajaxsearch .preview img {float:left; border:solid 1px #CCC }
.header .form-search .ajaxsearch li.selected {background-color:#e1b8b6}
</style>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="header">
              <h1 class="logo"><strong>West Branch Angler</strong><a href="#" title="West Branch Angler" class="logo"><img src="/images/wbalogo.png" alt="West Branch Angler"></a></h1>
              <div class="block-cart-header">
                <h3>My Cart:</h3>
                <div class="block-content">
                  <div class="summary">
                    <p><strong title=""><span class="cart-count">9999</span> items</strong> - <span class="cart-total">$199.90</span></p>
                  </div>
                  <div class="cart-content">
                    <div class="cart-indent">
                      <div class="cart-content-header">
                        <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="cart-total">$199.90</span> </p>
                        <p class="block-subtitle">Recently added item(s)</p>
                      </div>
                      <ol id="cart-sidebar" class="cartitem mini-products-list">
                        <li class="item last odd">
                          <div class="product-control-buttons"> <a href="" title="Remove This Item" onClick="return confirm('Are you sure you would like to remove this item from the shopping cart?');" class="btn-remove">Remove This Item</a> <a href="" title="Edit item" class="btn-edit">Edit item</a> </div>
                          <a href="" title="Simms Coldweather Shirt Red" class="product-image"><img src="/product/simms-coldweather-ls-shirt-cart.png" alt="Simms Coldweather Shirt Red"></a>
                          <p class="name"><a href="">Simms Coldweather Shirt Red</a></p>
                          <div class="product-details"> <strong><span class="qty">2</span></strong> x <span class="price">$99.95</span> </div>
                        </li>
                      </ol>
                      <div class="actions">
                        <button type="button" title="Checkout" class="button" onClick="setLocation('/checkout')"><span><span>Checkout</span></span></button>
                        <button type="button" title="My Cart" class="button" onClick="setLocation('/cart')"><span><span>My Cart</span></span></button>
                      </div>
                      <script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
                    </div>
                  </div>
                  <p class="mini-cart"><strong title="">2</strong> </p>
                </div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!--  end header  -->
    <!-- start megadrop -->
     <div class="mega-drop">
    <strong>Megadrop broken</strong>
    </div>
    <!-- end megadrop -->
    </div>
   <!--  content  -->
    <div class="content"></div>
    <!--  end content  -->
    <!--  start footer  -->
    <div class="footer-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="footer">
              <p id="back-top"><a href="#top"><span></span></a> </p>
              <div class="footer-cols-wrapper">
                <div class="footer-col footer-col-ex">
                  <h4>Information<span class="toggle"></span></h4>
                  <div class="footer-col-content">
                    <ul>
                      <li><a href="">About Us</a></li>
                      <li><a href="">Customer Service</a></li>
                      <li class="last privacy"><a href="">Privacy Policy</a></li>
                    </ul>
                    <ul class="links">
                      <li class="first"><a href="" title="Site Map">Site Map</a></li>
                      <li><a href="" title="Search Terms">Search Terms</a></li>
                      <li><a href="" title="Advanced Search">Advanced Search</a></li>
                      <li><a href="" title="Orders and Returns">Orders and Returns</a></li>
                      <li class=" last"><a href="" title="Contact Us">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer-col footer-col-ex">
                  <h4>Why buy from us<span class="toggle"></span></h4>
                  <div class="footer-col-content">
                    <ul>
                      <li><a href="">Shipping &amp; Returns</a></li>
                      <li><a href="">Secure Shopping</a></li>
                      <li><a href="">International Shipping</a></li>
                      <li><a href="">Affiliates</a></li>
                      <li><a href="">Group Sales</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer-col footer-col-ex">
                  <h4>My account<span class="toggle"></span></h4>
                  <div class="footer-col-content">
                    <ul>
                      <li><a href="">Sign In</a></li>
                      <li><a href="/cart">View Cart</a></li>
                      <li><a href="/checkout">Checkout</a></li>
                      <li><a href="">My Wishlist</a></li>
                      <li><a href="">Track My Order</a></li>
                      <li><a href="">Help</a></li>
                    </ul>
                  </div>
                </div>
                <div class="footer-col last footer-col-ex">
                  <h4>Follow Us<span class="toggle"></span></h4>
                  <div class="footer-col-content">
                    <ul>
                      <li><a href="">Facebook</a></li>
                      <li><a href="">Twitter</a></li>
                      <li><a href="">RSS</a></li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-row">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <address>
              ©
              <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script>
              West Branch Angler. All Rights Reserved.
              </address>
              <div class="paypal-logo"> <a href="#" title="Additional Options" onClick="javascript:window.open('https://www.paypal.com/us/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','paypal','width=600,height=350,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;"><img src="/images/bnr_nowAccepting_150x60.gif" alt="Additional Options" title="Additional Options"></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/js/bootstrap-hover-dropdown.js"></script>
<script src="/js/fitdivs.js"></script>
<script>
        $(document).ready(function(){
        // Target your .container, .wrapper, .post, etc.
            $(".megadrop").fitVids();
        });
    </script>
<script>
        // Menu drop down effect
        $('.dropdown-toggle').dropdownHover().dropdown();
        $(document).on('click', '.megadrop .dropdown-menu', function(e) {
          e.stopPropagation()
        })
    </script>

<script>
(function() {
    var isBootstrapEvent = false;
    if (window.jQuery) {
        var all = jQuery('*');
        jQuery.each(['hide.bs.dropdown', 
            'hide.bs.collapse', 
            'hide.bs.modal', 
            'hide.bs.tooltip',
            'hide.bs.popover'], function(index, eventName) {
            all.on(eventName, function( event ) {
                isBootstrapEvent = true;
            });
        });
    }
    var originalHide = Element.hide;
    Element.addMethods({
        hide: function(element) {
            if(isBootstrapEvent) {
                isBootstrapEvent = false;
                return element;
            }
            return originalHide(element);
        }
    });
})();
</script>
</body>
</html>
