<div class="col1-layout">
<header class="business-header">
  <div class="container">
        <br><br>
        <h1 class="tagline">Fly Fishing The Delaware</h1>
  </div>
</header>

<!-- Page Content -->
<div class="main-container">
    <div class="row">
      <div class="col-xs-12">
     <div class="container">
<div class="page-title title-buttons">
                    <h1>About Us</h1>
                         </div>
      <div class="row">
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="Matt Batschelet" src="/images/matt-batschelet.jpg" class="img-circle">
          <figcaption><h4><strong>Matt Batschelet<br>
            <small>General Manager</small></strong></h4>
          <p></p>
        </figcaption>
        </figure>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="Sam Batschelet" src="/images/sam-batschelet.jpg" class="img-circle">
          <figcaption><h4><strong>Sam Batschelet<br>
            <small>Sales Manager</small></strong></h4>
          <p><!-- BIO GOES HERE Sam has been fly fishing since he was 7 years old and grew up fishing the fabled waters of Montana.  After 7 years guiding on the Delaware River Sam took his skills and experiences into the shop.  Sam is also our resident nerd.--></p>
        </figcaption>
        </figure>
          </div>
       <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="" src="/images/ben-sheard.jpg" class=" img-circle">
          <figcaption><h4><strong>Ben Sheard<br>
            <small>Fly Shop Manager</small></strong></h4>
          <p><!-- BIO GOES HERE--></p>
        </figcaption>
        </figure>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <figure class="our-team"> <img alt="" src="/images/jake-pfeiffer.jpg" class=" img-circle">
          <figcaption><h4><strong>Jake Pfeiffer<br>
            <small>Assistant Manager</small></strong></h4>
          <p><!-- BIO GOES HERE--></p>
        </figcaption>
        </figure>
          </div>
</div>

</div>
</div>
</div>
</div>
