<div class="main-container col2-layout">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="main">
          <div class="col-main">
            <div class="padding-s">
              <div class="account-create">
                <div class="alert ">
                  <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong class="alert-notice"></strong> <span class="alert-msg"></span>
                </div>
                <div class="page-title ">
                  <h1>Create an Account</h1>
                </div>
                <div class ="well">
                <form name="registration" action="/registration" method="POST" id="registration" role="form" data-toggle="validator">
                  <div class="fieldset">
                    <h2 class="legend">Personal Information</h2>
                    <ul class="form-list">
                      <li class="fields">
                        <div class="customer-name">
                          <div class="field form-group">
                            <label for="first_name" class="required control-label"><em>*</em>First Name</label>
                            <div class="input-box">
                              <input id="first_name" name="first_name" title="First Name" maxlength="255" class="input-text form-control" data-error="Please enter a First Name" type="text" required="">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="field form-group">
                            <label for="last_name" class="required control-label"><em>*</em>Last Name</label>
                            <div class="input-box">
                              <input id="last_name" name="last_name" title="Last Name" maxlength="255" class="input-text form-control" data-error="Please enter a Last Name" type="text" required="">
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                      <div class="field form-group">
                        <label for="email" class="required"><em>*</em>Email Address</label>
                        <div class="input-box">
                          <input name="email" id="email" title="Email Address" class="input-text form-control" data-error="Please enter a valid Email Address" type="email" required="">
                          <span class="help-block with-errors"></span>
                       </div>
                      </div>
                      </li>
                <!--      <li class="control">
                        <input name="is_subscribed" title="Sign Up for Newsletter" value="1" id="is_subscribed" class="checkbox" type="checkbox">
                        <label for="is_subscribed">Sign Up for Newsletter</label>
                      </li> -->
                    </ul>
                  </div>
                  <div class="fieldset">
                    <h2 class="legend">Login Information</h2>
                    <ul class="form-list">
                      <li class="fields">
                        <div class="field form-group">
                          <label for="password" class="required"><em>*</em>Password</label>
                          <div class="input-box">
                            <input name="password" id="password" title="Password" class="input-text form-control" data-minlength="8" data-toggle="validator" type="password" required="">
                            <span class="help-block">Minimum of 8 characters must contain both letters and numbers.</span><span class="label label-danger" id="errorPassword">Error</span>
                          </div>
                        </div>
                        <div class="field form-group">
                          <label for="confirm_password" class="required"><em>*</em>Confirm Password</label>
                          <div class="input-box">
                            <input name="confirm_password" title="Confirm Password" id="confirm_password" class="input-text form-control" data-match="#password" data-match-error="Sorry these passwords don't match!" type="password" required>
                            <div class="help-block with-errors"></div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="buttons-set">
                    <p class="required">* Required Fields</p>
                    <p class="back-link"><a href="" class="back-link"><small>« </small>Back</a></p>
                    <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

