<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Print Order # 100000001</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="description" content="West Branch Angler Fly Fishing Gear">
<meta name="keywords" content="West Branch Angler Fly Fishing Gear">
<meta name="robots" content="INDEX,FOLLOW">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="/css/css_002.css" rel="stylesheet" type="text/css">
<link href="/css/css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery-1.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.js"></script>
<script type="text/javascript" src="/js/superfish.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = 'http://www.topflyreview.com/js/blank.html';
    var BLANK_IMG = 'http://www.topflyreview.com/js/spacer.gif';
//]]>
</script>
<![endif]-->
<!--[if lt IE 9]>
<div style=' clear: both; text-align:center; position: relative;'>
 <a href="//windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="//storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
</div>
<style>
    body {  min-width: 960px !important;}
</style>
<![endif]-->
<link rel="stylesheet" type="text/css" href="Print%20Order%20%23%20100000001_files/styles.css" media="all">
<link rel="stylesheet" type="text/css" href="Print%20Order%20%23%20100000001_files/widgets.css" media="all">
<link rel="stylesheet" type="text/css" href="Print%20Order%20%23%20100000001_files/print.css" media="print">
<script type="text/javascript" src="Print%20Order%20%23%20100000001_files/prototype.js"></script>
<script type="text/javascript" src="Print%20Order%20%23%20100000001_files/translate.js"></script>
<script type="text/javascript" src="Print%20Order%20%23%20100000001_files/ccard.js"></script>
<script type="text/javascript" src="Print%20Order%20%23%20100000001_files/validation.js"></script>
<script type="text/javascript" src="Print%20Order%20%23%20100000001_files/js.js"></script>
<script type="text/javascript" src="Print%20Order%20%23%20100000001_files/weee.js"></script>
<!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="http://www.topflyreview.com/skin/frontend/default/theme629/css/styles-ie.css" media="all" />
<![endif]-->
<!--[if lt IE 7]>
<script type="text/javascript" src="http://www.topflyreview.com/js/lib/ds-sleight.js"></script>
<script type="text/javascript" src="http://www.topflyreview.com/skin/frontend/base/default/js/ie6.js"></script>
<![endif]-->
<script type="text/javascript">//<![CDATA[
        var Translator = new Translate([]);
        //]]></script>
</head>
<body class="page-print sales-order-print">
<div>
  <div class="print-head"> <img src="/images/e-logo.png" class="logo" alt=""> </div>
  <h1>Order #100000001</h1>
  <p class="order-date">Order Date: August 24, 2014</p>
  <div class="col2-set">
    <div class="col-1">
      <h2>Shipping Address</h2>
      <address>
      Sam Batschelet<br>
      West Branch Angler<br>
      704 Mirador Rd<br>
      Vestal,  New York, 13850<br>
      United States<br>
      T: 607-467-5525
      </address>
    </div>
    <div class="col-2">
      <h2>Billing Address</h2>
      <address>
      Sam Batschelet<br>
      West Branch Angler<br>
      704 Mirador Rd<br>
      Vestal,  New York, 13850<br>
      United States<br>
      T: 607-467-5525
      </address>
    </div>
  </div>
  <div class="col2-set">
    <div class="col-1">
      <h2>Shipping Method</h2>
      Flat Rate - Fixed </div>
    <div class="col-2">
      <h2>Payment Method</h2>
      <p>Check / Money order</p>
    </div>
  </div>
  <h2>Items Ordered</h2>
  <table class="data-table" id="my-orders-table">
    <colgroup>
    <col>
    <col width="1">
    <col width="1">
    <col width="1">
    <col width="1">
    </colgroup>
    <thead>
      <tr class="first last">
        <th>Product Name</th>
        <th>SKU</th>
        <th class="a-right">Price</th>
        <th class="a-center">Qty</th>
        <th class="a-right">Subtotal</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="subtotal first">
        <td colspan="4" class="a-right"> Subtotal </td>
        <td class="last a-right"><span class="price">$134.25</span></td>
      </tr>
      <tr class="shipping">
        <td colspan="4" class="a-right"> Shipping &amp; Handling </td>
        <td class="last a-right"><span class="price">$5.00</span></td>
      </tr>
      <tr>
        <td colspan="4" class="a-right"> Tax </td>
        <td class="last a-right"><span class="price">$11.24</span></td>
      </tr>
      <tr class="grand_total last">
        <td colspan="4" class="a-right"><strong>Grand Total</strong></td>
        <td class="last a-right"><strong><span class="price">$150.49</span></strong></td>
      </tr>
    </tfoot>
    <tbody class="odd">
      <tr class="border first last" id="order-item-row-1">
        <td class="order-product-name"><h3 class="product-name">Simms Dry Creek Bag</h3>
          <dl class="item-options">
            <dt>Size:</dt>
            <dd> large </dd>
          </dl></td>
        <td class="order-sku">WBA2001</td>
        <td class="order-price"><span class="price-excl-tax"> <span class="cart-price"> <span class="price">$134.25</span> </span> </span> <br></td>
        <td class="order-qty"><span class="nobr"> Ordered: <strong>1</strong><br>
          </span></td>
        <td class="order-subtotal last"><span class="price-excl-tax"> <span class="cart-price"> <span class="price">$134.25</span> </span> </span> <br></td>
        <!--
        <th class="a-right"><span class="price">$134.25</span></th>
            -->
      </tr>
    </tbody>
  </table>
  <script type="text/javascript">decorateTable('my-orders-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
  <script type="text/javascript">window.print();</script>
  <div class="buttons-set">
    <button type="button" title="Close Window" class="button" onclick="window.close();"><span><span>Close Window</span></span></button>
  </div>
</div>
</body>
</html>
