@charset "utf-8";
/* CSS Document */

@font-face {
 font-family: "Aller Regular";
 src: url( '../fonts/Aller_Rg.ttf' ); /* IE */
 src: local("Aller Regular"), url( '../fonts/Aller_Rg.ttf' ) format("truetype"); /* non-IE */
}
 @font-face {
 font-family: "Aller Display";
 src: url( '../fonts/AllerDisplay.ttf' ); /* IE */
 src: local("Aller Display"), url( '../fonts/AllerDisplay.ttf' ) format("truetype"); /* non-IE */
}
 @font-face {
 font-family: "Armata";
 src: url( '../fonts/Armata-Regular.otf' ); /* IE */
 src: local("Armata"), url( '../fonts/Armata-Regular.otf' ) format("opentype"); /* non-IE */
}
 @font-face {
 font-family: "ARMYD";
 src: url( '../fonts/ARMYD___.TTF' ); /* IE */
 src: local("ARMYD"), url( '../fonts/ARMYD___.TTF' ) format("truetype"); /* non-IE */
}
 @font-face {
 font-family: "Bebas";
 src: url( '../fonts/BEBAS___.ttf' ); /* IE */
 src: local("Bebas"), url( '../fonts/BEBAS___.ttf' ) format("truetype"); /* non-IE */
}
 @font-face {
 font-family: "Colab";
 src: url( '../fonts/ColabLig.otf' ); /* IE */
 src: local("Colab"), url( '../fonts/ColabLig.otf' ) format("opentype"); /* non-IE */
}
 @font-face {
 font-family: "MateSC";
 src: url( '../fonts/MateSC-Regular.ttf' ); /* IE */
 src: local("MateSC"), url( '../fonts/MateSC-Regular.ttf' ) format("truetype"); /* non-IE */
}
 @font-face {
 font-family: "Santana Black";
 src: url( '../fonts/Santana-Black.ttf' ); /* IE */
 src: local("Santana Black"), url( '../fonts/Santana-Black.ttf' ) format("truetype"); /* non-IE */
}
 @font-face {
 font-family: "Santana BlackC";
 src: url( '../fonts/Santana-BlackCondensed.ttf' ); /* IE */
 src: local("Santana BlackC"), url( '../fonts/Santana-BlackCondensed.ttf' ) format("truetype"); /* non-IE */
}
