@charset "utf-8";
/* CSS Document */

body {
	margin:0px 0px 0px 0px;
	background:url(../images/main_bg.jpg) repeat;
	font-size:100%;
}
.cl {
	clear:both;
}
img {
	border:none;
}
input, select, textarea {
	outline:none;
}
#wrapper_head {
	width:100%;
	height:37px;
	margin:0px;
	padding:0px;
	background:#fcfcfc;
	min-width:1036px;
}
.head_strip {
	width:100%;
	height:26px;
	background:#ededed;
	margin-top:6px;
	float:left;
}
.head_links {
	width:980px;
	height:26px;
	margin:0px auto;
}
.links {
	width:249px;
	height:26px;
	float:left;
}
.links .link_img1 {
	margin:9px 0px 0px 0px;
	padding:0px;
	float:left;
}
.links .link_text {
	margin:6px 0px 0px 10px;
	padding:0px;
	float:left;
}
.links .link_text a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#545454;
	text-decoration:none;
	margin:0px;
	padding:0px;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.links .link_text a:hover {
	color:#2a2a2a;
}
.links .sep1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:6px 13px 0px 13px;
	padding:0px;
	color:#545454;
	float:left;
}
.cart {
	width:239px;
	height:33px;
	background:url(../images/cart_bg.jpg) repeat-x;
	border-radius:4px;
	border:1px solid #d3d3d3;
	float:right;
	margin:-3px 0px 0px 0px;
}
.cart .cart_icon {
	margin:10px 0px 0px 11px;
	padding:0px;
	float:left;
}
.cart .cart_sep {
	margin:8px 11px 0px 11px;
	padding:0px;
	float:left;
}
.cart .cart_items {
	margin:2px 0px 0px 0px;
	padding:0px;
	float:left;
	font-family:MateSC;
	font-size:24px;
	color:#39892f;
	font-weight:bold;
}
.cart .cart_text {
	width:56px;
	margin:6px 11px 0px 12px;
	padding:0px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#545454;
	text-shadow: 1px 1px 1px #FFFFFF;
	line-height:11px;
}
.cart .cart_submit {
	width:72px;
	height:24px;
	margin:5px 0px 0px 4px;
	border:none;
	background:url(../images/cart_submit_bg1.png) no-repeat;
	font-family:Armata;
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
}
.cart .cart_submit:hover {
	background:url(../images/cart_submit_bg2.png) no-repeat;
}
#wrapper_mid {
	width:100%;
	height:600px;
	margin:0px;
	padding:0px;
	background:url(../images/wrapper_mid_bg.png) repeat-x;
	min-width:1036px;
}
.upper {
	width:980px;
	height:120px;
	margin:0px auto;
}
.logo {
	width:162px;
	height:99px;
	margin:11px 0px 0px 0px;
	padding:0px;
	float:left;
}
.upper_links {
	width:468px;
	height:90px;
	margin:30px 0px 0px 0px;
	float:right;
}
.telephone {
	width:186px;
	height:34px;
	float:right;
	margin:0px 0px 6px 0px;
}
.telephone .tel_icon {
	margin:3px 0px 0px 0px;
	padding:0px;
	float:left;
}
.telephone .upper_sep {
	margin:5px 15px 0px 15px;
	padding:0px;
	float:left;
}
.telephone .tel_text {
	margin:0px;
	padding:0px;
	font-family:Bebas;
	font-size:23px;
	color:#545454;
	float:left;
}
.search_box {
	width:458px;
	height:31px;
	background:#FFFFFF;
	border:4px solid #e7e7e7;
}
.search_form {
	width:458px;
	height:28px;
	margin:0px 0px 0px 0px;
	padding:0px;
}
.search_form .search_text {
	width:333px;
	height:28px;
	font-family:Colab;
	font-size:16px;
	color:#545454;
	border:none;
	margin:0px;
	float:left;
	padding:0px 0px 0px 25px;
	background:url(../images/search_mag.png) no-repeat #FFFFFF;
}
.search_form .search_submit {
	margin:0px;
	padding:0px;
	width:100px;
	height:31px;
	border:none;
	border-left:none;
	font-family:Colab;
	font-size:17px;
	font-weight:bold;
	color:#545454;
	float:left;
	background:#1e7ec7;
	color:#FFFFFF;
}
.search_form .search_submit:hover {
	background:#288edb;
}
.menu_flash_wrapper {
	width:100%;
	height:468px;
	margin-top:7px;
}
.menu_flash_content {
	width:1028px;
	height:466px;
	margin:0px auto;
}
.shadow_left {
	width:24px;
	height:466px;
	background:url(../images/shadow1.png) no-repeat;
	float:left;
}
.mid_content {
	width:978px;
	height:466px;
	float:left;
	background:#FFFFFF;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border:1px solid #d1d1ce;
}
.shadow_right {
	width:24px;
	height:466px;
	background:url(../images/shadow2.png) no-repeat;
	float:left;
}
.menu_upper {
	width:978px;
	height:42px;
	border-bottom:1px solid #d1d1ce;
	position:relative;
	z-index:9999;
}
.flash {
	width:956px;
	height:400px;
	margin:10px;
	border:1px solid #c6c6c6;
	border-top:none;
	z-index:0;
}
.tab_wrapper {
	width:100%;
	height:1050px;
}
.tab_content {
	width:1028px;
	height:1050px;
	margin:0px auto;
}
.scroller {
	width:1024px;
	height:188px;
	margin:23px 0px 0px 2px;
}
.banner {
	width:980px;
	height:120px;
	margin:25px 0px 0px 25px;
	background:url(../images/banner_bg.jpg) no-repeat;
}
.banner_text {
	width:456px;
	height:auto;
	margin:69px 0px 0px 410px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	float:left;
	letter-spacing:0px;
}
.banner_text span {
	color:#ffc825;
}
.read_more {
	width:89px;
	height:66px;
	float:left;
	margin:40px 0px 0px 10px;
}
.read_more p {
	margin:0px;
	padding:0px;
}
.read_more .read_link {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffc825;
	margin:8px 0px 0px 15px;
}
.read_more .read_link a {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffc825;
	text-decoration:none;
}
.read_more .read_link a:hover {
	text-decoration:underline;
}
.multi_tab {
	width:1024px;
	height:248px;
	margin:26px 0px 0px 4px;
}
.journey {
	width:980px;
	height:32px;
	margin:21px 0px 0px 24px;
}
.journey_text {
	width:944px;
	height:32px;
	float:left;
	background:url(../images/journey_bg.png) no-repeat;
}
.journey_text p {
	margin:6px 0px 0px 25px;
	padding:0px;
	font-family:Armata, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#f7f6f1;
	font-weight:bold;
}
.journey_more p {
	margin:0px 0px 0px 3px;
	padding:0px;
	float:right;
}
.content_box {
	width:980px;
	height:348px;
	margin:21px 0px 0px 25px;
}
.content_box_one {
	width:306px;
	height:331px;
	background:#FFFFFF;
	border-radius:4px;
	border:1px solid #d5d5d2;
	float:left;
}
.content_box_two {
	width:306px;
	height:331px;
	background:#FFFFFF;
	border-radius:4px;
	border:1px solid #d5d5d2;
	margin-left:28px;
	float:left;
}
.content_box_three {
	width:306px;
	height:331px;
	background:#FFFFFF;
	border-radius:4px;
	border:1px solid #d5d5d2;
	margin-left:28px;
	float:left;
}
.content_box_head {
	width:210px;
	height:18px;
	font-family:Aller Display;
	font-size:18px;
	font-weight:bold;
	color:#39892f;
	margin:16px 0px 0px 48px;
	padding:0px;
}
.content_box_image {
	width:252px;
	height:138px;
	border:1px solid #d5d5d3;
	padding:6px;
	margin:16px 0px 0px 20px;
}
.content_box_text {
	width:262px;
	height:94px;
	margin:16px 0px 0px 22px;
}
.content_box_text_head {
	margin:0px;
	padding:0px;
	font-family:Armata;
	font-size:14px;
	color:#368aca;
}
.content_box_text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#545454;
	margin:6px 0px 0px 0px;
	padding:0px;
	text-align:justify;
}
.content_box_read {
	margin:10px 0px 0px 0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#545454;
	float:right;
}
.content_box_read a {
	text-decoration:none;
	color:#545454;
}
.content_box_read a:hover {
	text-decoration:none;
	color:#39892f;
}
.content_box-shadow1 {
	margin-left:23px;
	width:249px;
	height:10px;
	float:left;
}
.content_box-shadow2 {
	margin-left:88px;
	width:249px;
	height:10px;
	float:left;
}
.content_box-shadow3 {
	margin-left:88px;
	width:249px;
	height:10px;
	float:left;
}
.footer_wrapper {
	width:100%;
	height:357px;
	background:url(../images/footer_bg.png) repeat-x;
	min-width:1036px;
}
.footer_content {
	width:980px;
	height:357px;
	margin:0px auto;
}
.footer_links {
	width:640px;
	height:197px;
	float:left;
	margin-top:10px;
}
.footer_link1 {
	width:257px;
	height:196px;
	float:left;
}
.footer_link2 {
	width:187px;
	height:196px;
	float:left;
}
.footer_link_head {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#545454;
	font-weight:bold;
	margin:0px;
	padding:0px;
}
.footer_link_text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#39892f;
	margin:21px 0px 0px 0px;
	padding:0px;
}
.footer_link_text1 a {
	text-decoration:none;
	color:#39892f;
}
.footer_link_text1 a:hover {
	text-decoration:underline;
}
.footer_link_text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#39892f;
	margin:6px 0px 0px 0px;
	padding:0px;
}
.footer_link_text2 a {
	text-decoration:none;
	color:#39892f;
}
.footer_link_text2 a:hover {
	text-decoration:underline;
}
.footer_right {
	width:308px;
	height:197px;
	float:right;
	margin-top:10px;
}
.news_letter {
	width:305px;
	height:128px;
	background:#FFFFFF;
	border:1px solid #d5d5d2;
	margin:0px 0px 0px 1px;
}
.news_head {
	width:254px;
	font-family:Aller Regular;
	font-size:15px;
	color:#39892f;
	margin:20px 0px 0px 26px;
	font-style:italic;
}
.form_news {
	margin:16px 0px 0px 26px;
	padding:0px;
}
.news_input {
	width:185px;
	height:21px;
	border:1px solid #d5d5d2;
	float:left;
	border-right:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#545454;
	margin:0px;
	padding:0px 0px 0px 10px;
}
.news_go {
	width:49px;
	height:23px;
	background:#1e7ec7;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	margin:0px;
	padding:0px;
	float:left;
}
.news_go:hover {
	background:#288edb;
}
.social {
	width:82px;
	height:38px;
	margin:27px 0px 0px 155px;
	float:right;
}
.social #navlist {
	margin:0px;
	padding:0px;
	list-style:none;
}
.social #navlist li {
	float:left;
}
#navlist {
	position:relative;
}
#navlist li {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;
}
#navlist li, #navlist a {
	height:38px;
	display:block;
}
#twit {
	width:38px;
}
#twit {
	background:url(../images/social_sprite.png) 0 0;
}
#twit a:hover {
	background:url(../images/social_sprite.png) 0 -47px;
}
#fb {
	left:44px;
	width:38px;
}
#fb {
	background:url(../images/social_sprite.png) -44px 0;
}
#fb a:hover {
	background:url(../images/social_sprite.png) -44px -47px;
}
.copyright {
	width:980px;
	height:80px;
	margin-top:42px;
}
.copyright_sep {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#545454;
	letter-spacing:1px;
}
.copyright_text {
	margin:15px 0px 0px 0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#545454;
	letter-spacing:1px;
	text-align:center;
}
.copyright_text1 {
	margin:6px 0px 0px 0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#545454;
	letter-spacing:1px;
	text-align:center;
}
