@charset "utf-8";
/* CSS Document */

#jsddm {
	width:978px;
	height:42px;
	margin: 0;
	padding: 0;
	font-family:Arial;
	font-size:13px;
	color:#6f6f6f;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	background:url(../images/menu_bg.gif) repeat-x;
}
#jsddm li {
	float: left;
	list-style: none;
	font-family:Arial;
	font-size:13px;
	color:#6f6f6f;
	font-weight:bold;
}
#jsddm li a {
	display: block;
	background:none;
	font-family:Arial;
	font-size:13px;
	color:#6f6f6f;
	text-decoration: none;
	padding:15px 27px 12px 27px;
	color: #6f6f6f;
	text-shadow: 1px 1px 1px #FFFFFF;
	white-space: nowrap;
}
#jsddm li a:hover {
	background:url(../images/menu_hover_bg.gif) repeat-x;
	border-right:1px solid #d1d1ce;
	border-left:1px solid #d1d1ce;
	padding:15px 26px 12px 26px;
}
#jsddm li .menu_first:hover {
	background:url(../images/menu_hover_bg.gif) repeat-x;
	border-right:1px solid #d1d1ce;
	border-left:none;
	padding:15px 26px 12px 27px;
}
#jsddm li .menu_last {
	padding:15px 31px 12px 29px;
}
#jsddm li .menu_last:hover {
	background:url(../images/menu_hover_bg.gif) repeat-x;
	border-right:1px solid #d1d1ce;
	border-right:none;
	padding:15px 31px 12px 28px;
}
#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}
#jsddm li ul li {
	float: none;
	height:20px;
	display: inline
}
#jsddm li ul li a {
	width: auto;
	background: #efefef;
	padding:10px 27px 8px 27px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color: #6f6f6f;
	text-shadow:none;
}
#jsddm li ul li a:hover {
	padding:10px 25px 8px 26px;
	background: #cacaca;
}
