.rotator {
	background:#FFFFFF;
	width:956px;
	height:400px;
	margin:0px auto;
	position:relative;
	letter-spacing:-1px;
	overflow:hidden;
}
img.bg {
	position:absolute;
	top:0px;
	left:0px;
}
.rotator ul {
	list-style:none;
	position:absolute;
	right:0px;
	top:0px;
	margin-top:0px;
	z-index:999;
}
.rotator ul li {
	display:block;
	float:left;
	clear:both;
	width:245px;
	height:100px;
}
.rotator ul li a {
	width:245px;
	float:right;
	clear:both;
	padding-left:10px;
	text-decoration:none;
	display:block;
	height:100px;
	line-height:52px;
	background:url(../images/flash_menu_bg.gif) repeat-x;
	margin:0px -20px 1px 0px;
	border:1px solid #c6c6c6;
	outline:none;
}
.rotator ul li a:hover {
	background:url(../images/flash_menu_bg.png) repeat-x;
}
.rotator ul li .slide_detail_one {
	width:210px;
	height:67px;
	position:absolute;
	margin:17px 0px 0px 26px;
}
.slide_image {
	width:84px;
	height:67px;
	float:left;
}
.slide_text {
	width:112px;
	height:53px;
	float:left;
	margin-left:10px;
}
.slide_head {
	margin:0px;
	padding:0px;
	font-family:Aller Display;
	font-size:16px;
	color:#626262;
}
.slide_head:focus {
	margin:0px;
	padding:0px;
	font-family:Aller Display;
	font-size:16px;
	color:white;
}
.slide_head_text {
	margin:5px 0px 0px 0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#39892f;
}
.rotator ul li .slide_detail_hover {
	width:240px;
	height:67px;
	position:absolute;
	margin:21px 0px 0px 0px;
}
.slide_detail_hover_text1 {
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFFFFF;
	font-weight:bold;
	font-style:italic;
}
.slide_detail_hover_text2 {
	margin:8px 0px 0px 0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	letter-spacing:.2px;
}
.rotator .heading {
	position:absolute;
	top:0px;
	left:0px;
	width:500px;
}
.rotator .heading h1 {
	text-shadow:-1px 1px 1px #555;
	font-weight:normal;
	font-size:46px;
	padding:20px;
}
.rotator .description {
	width:500px;
	height:80px;
	position:absolute;
	bottom:0px;
	left:0px;
	padding:20px;
	background-color:#222;
	-moz-border-radius:0px 10px 0px 0px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	opacity:0.7;
	border-top:2px solid #000;
	border-right:2px solid #000;
}
.rotator .description p {
	text-shadow:-1px 1px 1px #000;
	text-transform:none;
	letter-spacing:normal;
	line-height:26px;
}
a.more {
	color:orange;
	text-decoration:none;
	text-transform:uppercase;
	font-size:10px;
}
a.more:hover {
	color:#fff;
}
