@charset "utf-8";
/* CSS Document */

.menu {
	padding: 0;
	clear: both;
	margin:0px 0px 0px 20px;
	position:absolute;
}
.menu li {
	display: inline;
}
.menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#6f6f6f;
	background:url(../images/tab_bg.gif) repeat-x;
	padding:10px 34px 10px 34px;
	float:left;
	border: 1px solid #d5d5d5;
	text-decoration: none;
	font-weight: bold;
	letter-spacing:1px;
}
.menu li.active a {
	padding:10px 34px 11px 34px;
	background: #ffffff;
	border-bottom:#FF0000;
}
.content {
	float: left;
	clear: both;
	border: 1px solid #d5d5d5;
	background: #ffffff;
	width: 978px;
	height:207px;
	margin:39px 0px 0px 20px;
}
.image_carousel1 {
	padding: 0px 0 0px 32px;
	float:left;
	position: relative;
	width:952px;
}
.image_carousel1 img {
	border: 1px solid #ccc;
	background-color: none;
	padding: 7px;
	margin: 0px 0px 0px 40px;
	display: block;
	float: left;
}
a.prev1, a.next1 {
	background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
	width: 21px;
	height: 44px;
	display: block;
	position: absolute;
	top: 82px;
}
a.prev1 {
	left: -21px;
	background-position:  -8px 0;
}
a.prev1:hover {
	background-position: -8px -50px;
}
a.prev1.disabled {
	background-position: -8px -106px !important;
}
a.next1 {
	right: -16px;
	background-position: -66px 0;
}
a.next1:hover {
	background-position: -67px -50px;
}
a.next1.disabled {
	background-position: -67px -106px !important;
}
a.prev1.disabled, a.next1.disabled {
	cursor: default;
}
a.prev1 span, a.next1 span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background:url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
.brand_product1 {
	width:276px;
	height:177px;
	background:#FFFFFF;
	border:1px solid #bebebe;
	border-radius:4px;
	margin:14px 0px 0px 0px;
	float:left;
	background:url(../images/brand_image1.jpg) no-repeat;
	background-position:150px 61px;
}
.brand_product2 {
	width:276px;
	height:177px;
	background:#FFFFFF;
	border:1px solid #bebebe;
	border-radius:4px;
	margin:14px 0px 0px 40px;
	float:left;
	background:url(../images/brand_image2.jpg) no-repeat;
	background-position:150px 66px;
}
.brand_product3 {
	width:276px;
	height:177px;
	background:#FFFFFF;
	border:1px solid #bebebe;
	border-radius:4px;
	margin:14px 0px 0px 40px;
	float:left;
	background:url(../images/brand_image3.jpg) no-repeat;
	background-position:124px 94px;
}
.brand_product4 {
	width:276px;
	height:177px;
	background:#FFFFFF;
	border:1px solid #bebebe;
	border-radius:4px;
	margin:14px 0px 0px 0px;
	float:left;
	background:url(../images/brand_image1.jpg) no-repeat;
	background-position:150px 61px;
}
.brand_product5 {
	width:276px;
	height:177px;
	background:#FFFFFF;
	border:1px solid #bebebe;
	border-radius:4px;
	margin:14px 0px 0px 40px;
	float:left;
	background:url(../images/brand_image2.jpg) no-repeat;
	background-position:150px 66px;
}
.brand_product6 {
	width:276px;
	height:177px;
	background:#FFFFFF;
	border:1px solid #bebebe;
	border-radius:4px;
	margin:14px 0px 0px 40px;
	float:left;
	background:url(../images/brand_image3.jpg) no-repeat;
	background-position:124px 94px;
}
.brand_details {
	width:210px;
	height:126px;
	margin:27px 0px 0px 13px;
}
.brand_text {
	width:170px;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-family:Santana Black;
	font-size:20px;
	color:#898888;
}
.brand_rate {
	width:170px;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-family:Santana Black;
	font-size:15px;
	color:#2a6c9e;
}
.brand_shop {
	width:93px;
	height:33px;
	margin:38px 0px 0px 0px;
	padding:0px;
}
.brand_shop a {
	padding:8px 30px 12px 25px;
	background:url(../images/shop_bg1.png) no-repeat;
	text-decoration:none;
	font-family:Armata;
	font-size:15px;
	color:#FFFFFF;
	font-weight:bold;
}
.brand_shop a:hover {
	background:url(../images/shop_bg2.png) no-repeat;
}
