
	<div class="main-full">

		<h1>User Login</h1>
<div class="reg-info">Quickly login using Facebook.
<div><a href="/facebook/login"><img src="/img/sign-in-with-facebook.jpg"></a></div>
</div>
<p></p>
		<form class="frm-default" action="/login" method="post">
			<fieldset>
			<div class="reg-info">Not a member? Sign Up <a href="/registration">Here</a>.</div>
			<ul>
				<li>
					<label>Username</label>
					<input type="text" name="username"/>
				</li>
				<li>
					<label>Password</label>
					<input type="password" name="password"/>
				</li>
				<li>
					<input type="submit" value="Submit" class="btn-submit" />
				</li>
				<li>
					<a href="">Forgot Password?</a>
				</li>
			</ul>
			</fieldset>
		</form>

	</div> <!-- end main -->
